.payment-waiting{
	position: relative;
}

.payment-waiting .content{
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.payment-waiting .content h4{
	text-align: center;
	font-size: 18px;
	line-height: 27px;
}