<div class="payment-waiting">
	<div class="content">
		<div></div>
		<p style="text-align:center;color:red;">
          <i class="fa fa-spinner fa-spin" style="font-size:48px;clear:both;display:block"></i>
        </p>
		<h4 [innerHTML]="'waiting_redirect' | translate"></h4>
	</div>
</div>

