<section class="changepassword-section" #changepassword >
	<div class="container">
	    <div id="parent" class="row parent" >
			<div class="col-md-3 left child">
				<app-menu-left></app-menu-left>
			</div>
			<div class="col-md-9 right child">
				<div class="wrap_gift">
					<div class="box_top">
              <h2 class="">{{'change_password' | translate}}</h2>
            <!--   <p class="total_password">{{'private_area' | translate}}</p> -->
          </div>
          <ng-container *ngIf="userProviderLogin=='password'">
            <div class="box_content {{userProviderLogin}}" >
            <div class="box_item" >
              <h4>{{'password_info' | translate}}</h4>
                <div class="row">
                  <form #changepassForm="ngForm">
                  <!-- Password -->
                    <div class="col-md-12">
                      <p *ngIf="passwordControl.errors && passwordControl.errors.required && passwordControl.touched" class="help-block error-msg">
                        {{'password_required' | translate}}
                      </p>
                      <p *ngIf="passwordControl.errors && passwordControl.errors.minlength && passwordControl.touched" class="help-block error-msg">
                        {{'password_invalid' | translate}}
                      </p>

                      <!-- Password -->
                      <p *ngIf="newpasswordControl.errors && newpasswordControl.errors.required && newpasswordControl.touched" class="help-block error-msg">
                        {{'new_password_required' | translate}}
                      </p>
                      <!-- Password -->
                      <p *ngIf="confirmpasswordControl.errors && confirmpasswordControl.errors.required && confirmpasswordControl.touched" class="help-block error-msg">
                        {{'confirm_password_required' | translate}}
                      </p>
                      <p *ngIf="confirmpasswordControl.touched && !confirmed" class="help-block error-msg">
                        {{'confirm_password_invalid' | translate}}
                      </p>
                      <p *ngIf="errorCurrentPass != null" class="help-block error-msg">{{errorCurrentPass}}</p>
                      <div *ngIf="messageSuccess != null" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{messageSuccess}}
                      </div>
                    </div>
                    <div class="col-md-4">
                      <p class="title" for="Inputpassword1">{{'current' | translate}}</p>
                     <div class="form-group form-md-floating-label">
                      
                      <input class="form-control {{password && password.length > 0 ? 'edited':''}}" id="Inputpassword1" [(ngModel)]="password" type="password" autocomplete="off" name="password" #passwordControl="ngModel" required>
                      <label for="password">{{ 'password' | translate}}</label>
         
                      </div>
                    </div>
                    <div class="col-md-4">
                      <p class="title" for="Inputpassword2">{{'new' | translate}}</p>
                      <div class="form-group form-md-floating-label">
                      
                      <input class="form-control {{newpassword && newpassword.length > 0 ? 'edited':''}}" id="newpassword" [(ngModel)]="newpassword" type="password" autocomplete="off" name="newpassword" #newpasswordControl="ngModel" (keyup)="confirmPassType($event)" required>
                      <label for="newpassword"> {{'new_password' | translate}}</label>
                      
                      </div>
                    </div>
                    <div class="col-md-4">
                      <p class="title" for="Inputpassword3">{{'confirm' | translate}}</p>
                      <div class="form-group form-md-floating-label">
                      
                      <input class="form-control {{confirmpassword && confirmpassword.length > 0 ? 'edited':''}}" id="confirmpassword" [(ngModel)]="confirmpassword" type="password" autocomplete="off" name="confirmpassword" #confirmpasswordControl="ngModel" (keyup)="confirmPassType($event)" required>
                      <label for="confirmpassword">{{'confirm_password' | translate}}</label>
                      
                      </div>
                    </div>
                  </form>
                </div>
             </div> 
          </div>

          <div class="box_change" >
              <button type="submit" class="btn change-btn" [disabled]="(!changepassForm.valid || !confirmed)" (click)="changePassword()">{{'change' | translate}}</button>
          </div>
          </ng-container>
          <ng-container *ngIf="userProviderLogin=='google.com' || userProviderLogin=='facebook.com' ">
              <div class="alert alert-danger alert-dismissable">

                     {{ 'alert_social_changepassword' | translate:{value:textProiverLogin} }}     
                </div> 
          </ng-container>
          
				</div>
			</div>
			<div class="left-fixed-wrap"></div>
	  	</div>
	</div>
<div class="loading" *ngIf="isLoading">
  <div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>
</section>