<footer>
    <div class="container">
      <div class="row footer_link">
        <div class="col-md-2">
          <a href="/"><img src="assets/img/logo.png" height="50px"></a>
        </div>
        <div class="col-md-8">
          <ul class="menu-footer">
            <li><a href="javascript:void(0)" [routerLink]="['/about']" class="gray-color">{{'about_gotit' | translate}}</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/terms']" class="gray-color">{{'term_of_use' | translate}}</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/privacypolicy']" class="gray-color">{{'privacy_policy' | translate }}</a></li>
            <li><a href="javascript:void(0)"  [routerLink]="['/operatingregulation']" class="gray-color">{{'operate_regulation' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-md-2 text-right">
          <a target="_blank" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=19856"><img src="assets/img/bocongthuong.png" height="50px"></a>
        </div>
      </div>
    </div>
    <div class="container-fluid footer_info">
      <div class="row">
        <div class="col-md-4 col-md-push-4">
          <div class="row">
            <div class="col-md-6 text-right">
              <p class="hotline pull-right">Hotline: <strong>1900 55 88 20</strong></p>
            </div>
            <div class="col-md-6 text-left">
              <p class="fax pull-left">Fax: <strong>08.3910.0080</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-4 text-left">
          <p>Copyright © DayOne JSC.All right reserved</p>
        </div>
        <div class="col-md-4 col-md-4 text-right">
          <a href="javascript:void(0)" (click)="backtop()" class="backtop dark-gray-color scroll">{{'back_to_top' | translate}}</a>
        </div>
      </div>
    </div>

  </footer>