.email-verify{
	background-color: #f3f3f6;
}
.email-verify footer{
  display: none !important;
}
.email-verify .content {
  width: 568px;
  margin: 40px auto 20px auto;
  margin-top: 60px;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #e3e3e3;
  padding: 0px 30px ;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform:translate(-50%,-50%);*/

}
.email-verify .content .resetpassword-form, .email-verify .content .forget-form {
  padding: 0px;
  margin: 0px;
}
.email-verify .form-title {
  /*color: #edf4f8;*/
  /*font-size: 19px;*/
  /*font-weight: 400 !important;*/
  margin-bottom: 24px;
}
.email-verify .form-title h2{
  margin-bottom: 5px;
}

.email-verify .form-title {
  color: #edf4f8;
  font-size: 19px;
  font-weight: 400 !important;
}
.email-verify .form-subtitle {
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}
.email-verify .form-subtitle a{
	color: #ff4545;
}
.form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding: 13px 15px;
  min-height: 52px;
}

.email-verify .form-group.form-md-floating-label {
  position: relative;
  /*margin: 0 0 35px 0;*/
}
.email-verify .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;
}
.email-verify .form-group.form-md-floating-label textarea.form-control ~ label{
	top:15px;
	transform:inherit;
}
.email-verify .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}
.email-verify .form-group .form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.email-verify .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}
.email-verify .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}
.email-verify .form-group.form-md-floating-label .form-control:focus,
.email-verify .form-group.form-md-floating-label .form-control.edited{
	padding-top: 16px;
	padding-bottom: 10px;
}
.email-verify .form-group.form-md-floating-label .form-control.edited ~ label, 
.email-verify .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #2f88ff;
  border: 1px solid #2f88ff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.email-verify .content .form-actions{
	display: block;
	clear: both;
	overflow: hidden;
}
.email-verify .content .form-actions button.btn-submit,.email-verify .content .form-actions button.btn-submit:focus{
	height: 46px;
	line-height: 44px;
	border-radius: 12px;
	background-color: #ff5f5f;
	display: block;
	width: 100%;
	padding:0;
	font-family: Gotham Rounded;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
	outline: 0;
	margin: 14px 0 30px;
}
.email-verify .content.verify {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.email-verify .content.verify .title{
  text-align: center;
}
.email-verify .content.verify span.icon-failed{
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  border: 5px solid red;
  border-radius: 50%;
}
.email-verify .content.verify span.icon-failed:before{
  position: absolute;
  content: '\E901';
  font-family: 'icomoon' !important;
  color: red;
  font-size: 35px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.email-verify .content.verify span.icon-success{
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
}
.email-verify .content.verify span.icon-success:before{
  position: absolute;
  content: '\e914';
  font-family: 'icomoon' !important;
  color: #5dff00;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) { 
  html, body.email-verify{
    background-color: #fff;
  }
  .email-verify{
    background-color: #fff;
  }  
  .email-verify .content{
    width: 100%;
    border: 0;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .email-verify .form-title{
    text-align: center;
  }
  .email-verify .form-title h2{
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #303030;
    margin-bottom: 10px;
  }

  .email-verify .content .form-actions button.btn-submit, 
  .email-verify .content .form-actions button.btn-submit:focus{
    margin: 20px auto;
  }
}