/*.navbar-nav.navbar-right li:not(.dropdown-user){
	display: none;
}
.navbar-nav.navbar-right li.dropdown-user li{
	display: block;
}*/
.error-msg{
  color: #ff4545 !important;
  font-size: 12px !important;
} 
#pg_checkout{
	background: #f3f3f6;
}
#pg_checkout .parent {
    position: relative;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}
.child {
    flex-grow: 1;
}
#pg_checkout .child.left, #pg_checkout .child.right {
    padding-top: 35px;
    padding-bottom: 30px;
}
#pg_checkout .child.right {
    border-top: 1px solid #e3e3e3;
    background: #fff;
    margin-bottom: 4px;
}

#pg_checkout .right-fixed-wrap {
    content: '';
    position: absolute;
    background: #fff;
    display: inline-block;
    border-bottom: 0;
    height: 100%;
    top: 0px;
    left: 100%;
    width: 100px;
    border-bottom: 4px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    clear: none;
}
#pg_checkout .title-tab {
    text-align: center;
    margin-top: -53px;
}

#pg_checkout .title-tab p{
    font-family: Gotham Rounded;
	font-size: 16px;
	text-align: left;
	color: #636363;
	display: inline-block;
	padding-right: 35px;
	line-height: 40px;
	position: relative;
	padding-left: 20px;
	position: relative;
}
#pg_checkout .title-tab p:first-of-type{
	padding-left: 0;
}
#pg_checkout .title-tab p:last-of-type{
	padding-right: 0;
}
#pg_checkout .title-tab p:last-of-type:after{
	display: none;
}
#pg_checkout .title-tab p:after{
	position: absolute;
	content: '\e907';
	font-family: 'icomoon' !important;
	right: 0;
	top: 50%;
	transform:translateY(-50%);
}
#pg_checkout .title-tab p.active {
	font-weight: 500;
	color: #303030;
}
#pg_checkout .title-tab p.finish span{
 	background: #74ce36;
 	border:0;
}
#pg_checkout .title-tab p.finish span:before{
	content: '\e914' !important;
	color: #fff;
}
#pg_checkout .title-tab p span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	border: solid 2px #e3e3e3;
	vertical-align: middle;
	margin-right: 10px;
	color: #7d7d7d;
}
#pg_checkout .title-tab p.active span{
	color: #fff;
	background: #ff5f5f;
	border-color: #ff5f5f;
}

#pg_checkout .title-tab p.step-1 span:before,
#pg_checkout .title-tab p.step-2 span:before,
#pg_checkout .title-tab p.step-3 span:before{
	font-family: 'icomoon' !important;
	position: absolute;
	content: '\e90d';
	display: inline-block;
	font-size: 22px;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#pg_checkout .title-tab p.step-2 span:before{
	content: '\e900';
}
#pg_checkout .title-tab p.step-3 span:before{
	content: '\e906';	
}
#pg_checkout .wrapper-bx{
	border-radius: 16px;
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
    overflow: hidden;
    padding: 20px 0px 20px 15px;
    margin-bottom: 30px;
}
#pg_checkout .wrapper-bx.active .box_top h2{
	color: #303030;
}
#pg_checkout .wrapper-bx.active .box_top p,#pg_checkout .wrapper-bx.active .box-content{
	display: block;
}
#pg_checkout .wrapper-bx .box_top h2{
	color: #e3e3e3;
	position: relative;
}
#pg_checkout .wrapper-bx .box_top p,#pg_checkout .wrapper-bx .box-content{
	display: none;
}
#pg_checkout .box_top{
	padding: 0;
}
#pg_checkout .box_top h2{
	padding: 0;
	line-height: 1.5;
}
#pg_checkout .wrapper-bx .box_top{
	padding-left: 15px;
}
#pg_checkout .write_message .box_top h2{
	position: relative;
}
#pg_checkout .write_message.active .box_top h2 a{
	display: none;
}
#pg_checkout .write_message .box_top h2 a{
	position: absolute;
	right: 15px;
	top: 50%;
	transform:translateY(-50%);
	font-family: Gotham Rounded;
	font-size: 16px;
	line-height: 1.88;
	text-align: right;
	color: #ff5f5f;
	display: block;
}
#pg_checkout .wrapper-bx .box_top p.notice{
	font-family: Gotham Rounded;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	color: #666666;
	margin-top: 10px;
}

#pg_checkout .channel{
	list-style: none;
	border-right: solid 2px #e3e3e3;
	position: relative;
}
#pg_checkout .channel:after,#pg_checkout .channel:before{
	content: '';
    display: inline-block;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #e3e3e3;
    position: absolute;
    top: 12px;
    right: -8px;
}
#pg_checkout .channel:after{
	border-left: 8px solid #fff;
	right: -5px;
}
#pg_checkout .channel li{
	cursor: pointer;
}
#pg_checkout .channel li p{
	text-align: center;
	font-family: Gotham Rounded;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	color: #666666;
	position: relative;
}

#pg_checkout .channel li p label{
	font-family: Gotham Rounded;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	color: #666666;
	font-weight: normal;
}
#pg_checkout .channel li p:before{
	content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 14px;
    height: 14px;
    border: 1px solid #b0b0b0;
    border-radius: 100%;
    background: #fff;
}

#pg_checkout .channel li p:after,
#pg_checkout .channel li.active p:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #ff4545;
  position: absolute;
  top: 15px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#pg_checkout .channel li p:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
#pg_checkout .channel li.active p:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#pg_checkout .channel li p span{
	/*width: 40px;
	height: 40px;
	position: relative;
	display: block;
	clear: both;
	margin:0 auto;
	border-radius: 50%;
	background: #e8e8e8;
	color: #fff;
	margin-bottom: 5px;*/

	width: 40px;
    display: block;
    height: 40px;
    background: url(../../assets/img/social-icon.png) no-repeat;
    line-height: 40px;
    padding-left: 40px;
    float: none;
    margin: 0 auto;
    margin-bottom: 5px;
    /*border:1px solid #000;*/
}
#pg_checkout .channel li p span:hover{
	cursor: pointer;
}
/*#pg_checkout .channel li p span:before{
	font-family: 'icomoon' !important;
    position: absolute;
    content: '';
    display: inline-block;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}*/

#pg_checkout .channel li p.sms_cn span{
	background-position: -80px -40px;
    background-size: 240px 80px;
    position: relative;
}
#pg_checkout .channel li.active p.sms_cn span{
	/*background-color: #00d846;*/
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    background-position: -80px 0px;
}
/*#pg_checkout .channel li p.sms_cn span:before{
	content: '\e91b';
}*/
#pg_checkout .channel li p.email_cn span{
	background-position: -120px -40px;
    background-size: 240px 80px;
    position: relative;
}
#pg_checkout .channel li.active p.email_cn span{
	background-position: -120px 0px;
	/*background-color: #fe621f;*/
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
/*#pg_checkout .channel li p.email_cn span:before{
	content: '\e91e';
}*/
#pg_checkout .channel li p.messenger_cn span{
	background-position: -40px -40px;
    background-size: 240px 80px;
    position: relative;
}
#pg_checkout .channel li.active p.messenger_cn span{
	background-position: -40px 0px;
	/*background-color: #0083f3;*/
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

}
/*#pg_checkout .channel li p.messenger_cn span:before{
	content: '\e91c';
}*/
#pg_checkout .channel li.active p.facebook_cn span{
	background-color: #2c5c97;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
/*#pg_checkout .channel li p.facebook_cn span:before{
	content: '\e91d';
}*/
#pg_checkout .channel li p.viber_cn span{
	background-position: -160px -40px;
    background-size: 240px 80px;
    position: relative;
}
#pg_checkout .channel li.active p.viber_cn span{
	background-position: -160px 0px;
	/*background-color: #80529a;*/
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
/*#pg_checkout .channel li p.viber_cn span:before{
	content: '\e91a';
}*/
#pg_checkout .channel li p.whatsapp_cn span{
	background-position: -200px -40px;
    background-size: 240px 80px;
    position: relative;
}
#pg_checkout .channel li.active p.whatsapp_cn span{
	background-position: -200px 0px;
	/*background-color: #01bb53;*/
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
/*#pg_checkout .channel li p.whatsapp_cn span:before{
	content: '\e919';
}*/

	


#pg_checkout .form-group.form-md-floating-label {
    position: relative;
    /*margin: 0 0 35px 0;*/
}
#pg_checkout .form-group.form-md-floating-label .form-control ~ label {
    font-size: 14px;
    top: 50%;
    transform:translateY(-50%);
    transition: 0.2s ease all;
    color: #000000;
    font-weight: normal;
    font-family: Gotham Rounded;
    /*width: 100%;*/
    position: absolute;
    left: 15px;
    bottom: 0;
    pointer-events: none;
}
#pg_checkout .form-group.form-md-floating-label textarea.form-control ~ label{
	top:15px;
	transform:inherit;
}
#pg_checkout .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}
#pg_checkout .form-group .form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
#pg_checkout .form-group .form-control:-ms-input-placeholder {
  color: #999999;
}
#pg_checkout .form-group .form-control::-webkit-input-placeholder {
  color: #999999;
}
#pg_checkout .form-group.form-md-floating-label .form-control:focus,
#pg_checkout .form-group.form-md-floating-label .form-control.edited{
	padding-top: 20px;
	padding-bottom: 6px;
}
#pg_checkout .form-group.form-md-floating-label .form-control.edited ~ label, 
#pg_checkout .form-group.form-md-floating-label .form-control:focus ~ label{
    top: 5px;
    transform: inherit;
    font-family: Gotham Rounded;
	font-size: 12px;
	text-align: left;
	color: #999999;
}
#pg_checkout .noitice{
	display: block;overflow: hidden;
}
#pg_checkout .noitice ol{
	border-radius: 12px;
  	background-color: #e1f3ff;
  	padding: 15px 15px 15px 50px;
  	counter-reset: item;
  	position: relative;
}

#pg_checkout .noitice ol:before{
	content: '\e913';
	color:#0086db;
	display: inline-block;
	left: 15px;
	top: 15px;
	font-family: 'icomoon' !important;
	position: absolute;
	font-size: 20px;
}
#pg_checkout .noitice ol li{
	font-family: Gotham Rounded;
	font-size: 14px;
	line-height: 1.57;
	text-align: left;
	color: #0074bd;
	counter-increment: item;
	list-style-type: none;
	padding-bottom: 5px;
}
#pg_checkout ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 30px;
  text-align: center;
  content: counter(item) ".";
}
	
#pg_checkout .receiver_info .form-group{
	margin-bottom: 0;
}

#pg_checkout .receiver_info .group_two_col label.phone_label span{
	position: relative;
}
#pg_checkout .receiver_info label.phone_label{
	pointer-events:auto !important;
	position: relative;
}
#pg_checkout .receiver_info label.phone_label span{
	position: relative;
}
#pg_checkout .receiver_info label.phone_label span small{
	display: none;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	bottom: 100%;
	width: 200px;
	font-family: Gotham Rounded;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    font-weight: normal;
    padding: 5px;
    border-radius: 4px;
    background: #4082fd;
    margin-bottom:5px;
}
#pg_checkout .receiver_info label.phone_label span:hover small{
	display: inline-block;
	
}
#pg_checkout .receiver_info label.phone_label span:hover small:after{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 5px solid\9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #4082fd;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform:translateX(-50%);
    content: '';
}
#pg_checkout .receiver_info .form-group input.form-control{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#pg_checkout .receiver_info .form-group textarea.form-control{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top: 0;
	margin-top: -1px;
	resize: none;
}
#pg_checkout .receiver_info .form-group:last-of-type{
	margin-bottom: 15px;
}
#pg_checkout .receiver_info .group_two_col{
	/*overflow: hidden;*/
}
#pg_checkout .receiver_info .group_two_col:after{
	content: '';
	display: block;
	clear: both;
}
#pg_checkout .receiver_info .group_two_col .left, .group_two_col .right{
	width: 50%;
	float: left;
	margin-bottom: 0 !important;
}
#pg_checkout .receiver_info .group_two_col .left.form-group input.form-control{
	border-radius: 0;
	border-top-left-radius: 12px;
}
#pg_checkout .receiver_info .group_two_col .right.form-group input.form-control{
	border-radius: 0;
	border-top-right-radius: 12px;
	border-left: 0;
}

#pg_checkout .sender_info .group_two_col .left, .group_two_col .right{
	width: 50%;
	float: left;
	margin-bottom: 0 !important;
}
#pg_checkout .sender_info .group_two_col .left.form-group input.form-control{
	border-radius: 0;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
#pg_checkout .sender_info .group_two_col .right.form-group input.form-control{
	border-radius: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-left: 0;
}




#pg_checkout #tab_sms .receiver_info .group_two_col .left.form-group input.form-control{
	border-radius: 12px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	
}
#pg_checkout #tab_sms .receiver_info .group_two_col .right.form-group input.form-control{
	border-radius: 12px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;	
}
#pg_checkout .left .box-content{
	margin-top: 20px;
	/*overflow: hidden;*/
}
#pg_checkout .right .box-content{
	margin-bottom: 30px;
	/*overflow: hidden;*/
}
#pg_checkout .left .box-content:after,#pg_checkout .right .box-content:after{
	content: '';
	display: block;
	clear: both;
}
#pg_checkout .right .box-content h3{
	margin-bottom: 30px;
	margin-top: 0;
}
#pg_checkout .right .box-content h3:before{
	display: none;
}
#pg_checkout .right .box-content p{
	font-family: Gotham Rounded;
	font-size: 12px;
	text-align: left;
	color: #636363;
	text-transform: uppercase;
	/*display: inline-block;*/
	margin-bottom: 4px;
}
#pg_checkout .right .box-content p:after{
	content: '';
	display: block;
	clear: both;
}
#pg_checkout .right .box-content label{
	float: left;
	font-weight: normal;
	width: 40%;
}
#pg_checkout .right .box-content span{
	width: 60%;
	float: left;
	margin: 0 !important;
	text-transform: none !important;
	/*text-align: right;*/
}
#pg_checkout .right .box-content p.col-left{
	float: left;
	text-align: left !important;
	width: 50%;
}
#pg_checkout .right .box-content p.col-right{
	float: right;
	text-align: right !important;
	width: 50%;
}
#pg_checkout .right .box-content p.col-email-sms{
	float: right;
	clear: both;
	text-align: right;
}
#pg_checkout .right .box-content p.col-email-sms span{
	margin-top: 0;
}
#pg_checkout .right .box-content p span{
	position: relative;
	margin-top: 10px;
}
#pg_checkout .right .box-content p span small{
	position: absolute;
	top: 100%;
	font-family: Gotham Rounded;
	font-size: 14px;
	line-height: 1.5;
	color: #636363;
	text-transform: none;
	clear: both;
	display: block;
}
#pg_checkout .right .box-content p span.big{
	font-family: Gotham Rounded;
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	text-transform: none;
	clear: both;
	display: block;
}
#pg_checkout .right .box-content p span.small{
	font-family: Gotham Rounded;
	font-size: 14px;
	line-height: 1.5;
	color: #636363;
	text-transform: none;
	clear: both;
	display: block;
}
#pg_checkout .right .box-content .order-summary:after{
	content: '';
	clear: both;
	display: block;
}
#pg_checkout .right .box-content .order-summary p span{
	text-align: right;
}
#pg_checkout .right .box-content .total{
	clear: both;
	border-top: 2px solid #e3e3e3;
	margin-top: 20px;
	padding: 15px 0 0 0;
	overflow: hidden;
}
#pg_checkout .right .box-content .total p{
	font-family: Gotham Rounded;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
	text-align: left;
	color: #333333;

}

#pg_checkout .payment-channel{

}
#pg_checkout .payment-channel li p:before{
	top: 50%;
	transform:translateY(-50%);
}
#pg_checkout .payment-channel li p:after,
#pg_checkout .payment-channel li.active p:after{
	top: 50%;
	transform:translateY(-50%);
	margin-top: -5px;
}
#pg_checkout .payment-channel li p:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
#pg_checkout .payment-channel li.active p:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#pg_checkout .payment-channel li.active p label{
	border-color: #4e86ea;
}
#pg_checkout .payment-channel p label{
	border-radius: 12px;
	background-color: #ffffff;
	border: solid 2px #e3e3e3;
	padding: 10px 0px;
	width: 94px;
	height: 68px;
	font-family: Gotham Rounded;
	font-size: 14px !important;
	line-height: 1.5;
	text-align: center;
	color: #666666;
}
#pg_checkout .payment-channel p label span{
	margin-bottom: 0;
	width: 100%;
	height: 25px;
	border-radius: 0;
	background: none;
	line-height: 0;
	padding: 0;
}
#pg_checkout .payment-channel p label span img{
	height: 25px;
}
#pg_checkout #tab_credit .noitice p{
	padding: 15px 15px 15px 50px;
	font-family: Gotham Rounded;
	font-size: 14px;
	line-height: 1.57;
	text-align: left;
	color: #33a539;
	border-radius: 12px;
  	background-color: #e5f7e6;
  	position: relative;
}
#pg_checkout #tab_credit .noitice p:before{
	content: '\e90c';
	font-family: 'icomoon' !important;
	color: #33a539;
	position: absolute;
	left: 18px;
	top: 15px;
	font-size: 18px;
}
#pg_checkout .creditcard_info .group_two_col .left,
#pg_checkout .creditcard_info .group_two_col .right{
	width: 50%;
    float: left;
    margin-bottom: 0 !important;
}
#pg_checkout .creditcard_info .form-group{
	margin-bottom: 0;
}
#pg_checkout .creditcard_info .form-group .form-control{
	border-radius: 0;
	margin-top: -1px;
}
#pg_checkout .creditcard_info .form-group:first-of-type .form-control{
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
#pg_checkout .creditcard_info .group_two_col .form-group:first-of-type .form-control{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 0px;
}
#pg_checkout .creditcard_info .group_two_col .form-group:last-of-type .form-control{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 12px;
	border-left: 0px;
}
#pg_checkout .creditcard_info label.security_code{
	pointer-events:auto !important;
	position: relative;

}
#pg_checkout .creditcard_info label.security_code span{
	position: relative;
}
#pg_checkout .creditcard_info label.security_code span small{
	display: none;
	position: absolute;
	left: 50%;
	transform:translateX(-50%);
	bottom: 100%;
	width: 200px;
	font-family: Gotham Rounded;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    font-weight: normal;
    padding: 5px;
    border-radius: 4px;
    background: #4082fd;
    margin-bottom:5px;
}
#pg_checkout .creditcard_info label.security_code span:hover small{
	display: inline-block;
	
}
#pg_checkout .creditcard_info label.security_code span:hover small:after{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 5px solid\9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #4082fd;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform:translateX(-50%);
    content: '';
}

#pg_checkout .momopay_info{

}

#pg_checkout .momopay_info .qrCode,
#pg_checkout .zalopay_info .qrCode{
	text-align: center;
}
#pg_checkout .momopay_info .qrCode img,
#pg_checkout .zalopay_info .qrCode img{
	width: 126px;
	height: 126px;
	margin-bottom: 10px;
}
#pg_checkout .momopay_info .qrCode p,
#pg_checkout .zalopay_info .qrCode p{
	font-family: Gotham Rounded;
	font-size: 14px;
	line-height: 1.29;
	color: #636363;
}

.payment_result {
	border-radius: 12px;
	background-color: #ffffff;
	border: solid 1px #e3e3e3;
	overflow: hidden;
}
.payment_result .item{
	padding: 15px;
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;
}
.payment_result .item:last-of-type{
	border-bottom: 0;
}
.payment_result .item .left{
	float: left;
	width: 30%;
}
.payment_result .item .left p{
	font-family: Gotham Rounded;
	font-size: 14px;
	text-align: left;
	color: #636363;
}
.payment_result .item .right{
	width: 70%;
	float: left;
}
.payment_result .item .right p{
	font-family: Gotham Rounded;
	font-size: 14px;
	text-align: left;
	color: #000000;
}
.payment_result .item .right p.phone,
.payment_result .item .right p.message{
	font-family: Gotham Rounded;
	font-size: 12px;
	text-align: left;
	color: #636363;
}
.item .send_another{
	height: 46px;
	border-radius: 12px;
	background-color: #ff5f5f;
	line-height: 46px;
	text-align: center;
	display: block;
	margin: 30px auto;
	font-family: Gotham Rounded;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
}
.item .back_hompage{
	display: none;
}
#pg_checkout .right .noitice.momo,
#pg_checkout .right .noitice.zalo{
	border-radius: 12px;
	background-color: #e1f3ff;
	text-transform: none;
	display: none;
	margin-top: 15px;
}
#pg_checkout .right .noitice.momo.active,
#pg_checkout .right .noitice.zalo.active{
	display: block;
}
#pg_checkout .right .noitice.momo p,
#pg_checkout .right .noitice.zalo p{
	text-transform: none;
	font-family: Gotham Rounded;
font-size: 14px;
line-height: 1.57;
text-align: left;
color: #0074bd;
padding: 15px 15px 15px 50px;
position: relative;
}
#pg_checkout .right .noitice.momo p:before,
#pg_checkout .right .noitice.zalo p:before{
	content: '\e909';
color: #0086db;
display: inline-block;
left: 15px;
top: 15px;
font-family: 'icomoon' !important;
position: absolute;
font-size: 20px;
}
#pg_checkout .right .payment-method-detail p{
	position: relative;
	display: block;
}
#pg_checkout .right .payment-method-detail p img{
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom: 0;*/
	height: 20px;
}
.btn-next,.btn-next:hover,.btn-next:active,.btn-next:focus{
	line-height: 46px;
	height: 46px;
	border-radius: 12px;
	background-color: #ff5f5f;
	color: #fff;
	font-family: Gotham Rounded;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	width: 100%;
	display: block;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	max-width: 300px;
	margin: 15px;
	float: right;
}
.btn-next.next-payment{
	margin-top: 30px;
}
.btn-whatsapp,.btn-whatsapp:hover,.btn-whatsapp:active,.btn-whatsapp:focus{
	background-color: #00ba54;
	color: #fff;
}
.btn-viber,.btn-viber:hover,.btn-viber:active,.btn-viber:focus{
	background-color: #80529a;
	color: #fff;
}
.btn-validateApp,.pay_with_billID{
	display: none;
}
#pg_checkout .channel li.hide_ondesktop{
	display: none;
}
#tab_all_chanel span,#tab_all_payment span{
	display: none;
}
#pg_checkout .right .show_order_mb{
	display: none;
	text-align: center;
}
#pg_checkout .right .show_order_mb a{
	display: inline-block;
	font-family: Gotham Rounded;
	font-size: 12px;
	text-align: center;
	color: #ff5f5f;
	margin: 5px auto;
	padding-right: 20px;
	position: relative;
	white-space: nowrap;
}
#pg_checkout .right .show_order_mb a:after{
	content: '\e90f';
	font-family: 'icomoon' !important;
	display: inline-block;
	position: absolute;
	right: 0;
	margin-top: 2px;
}

.payment_sent_by_method{
	padding: 20px 0;
}
.btn-send{
	width: 200px;
    display: block;
    margin: 0 auto;
    height: 46px;
    border-radius: 12px;
    background-color: #ff5f5f;
    font-family: Gotham Rounded;
    font-size: 16px;
    font-weight: 500;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    clear: both;
    cursor: pointer;
}

.send-facebook{
	background-color: #2c5c97;
}
.send-messenger{
	background-color: #0083f3;
}
.send-viber{
	background-color: #80529a;
}
.send-whatsapp{
	background-color: #01bb53;
}
.send-sms{
	background-color: #00d846;
}
.send-email{
	background-color: #fe621f;
}



/*Payment loadding*/

#payment-modal,#staticSMSEmailModal,#notificationModal{
	text-align: center;
}
#payment-modal:before, #staticSMSEmailModal:before, #notificationModal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
#payment-modal .modal-dialog, #staticSMSEmailModal .modal-dialog, #notificationModal .modal-dialog{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	/*max-width: 300px;*/
	/*top: 50%;
    transform: translateY(-50%);*/
}
#payment-modal .modal-dialog .modal-content{
	box-shadow: none;
	border: 0;
}
#payment-modal .modal-body{
	min-height: 300px;
	position: relative;
}
#payment-modal .modal-body .main-content{
	position: relative;
	min-height: 300px;
}
.loadingPayment{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#payment-modal .close-top{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	background: url(../../assets/img/close-grey.png) center center;
	background-size: 24px 24px;
	text-indent: -99999px;
	cursor: pointer;
}
.loadingPayment p{
	font-family: Gotham Rounded;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	color: #636363;
	text-align: center;
}
.loadingPayment p span{
	width: 75px;
	height: 75px;
	display: inline-block;
}
.loadingPayment p span i{
	font-size: 75px;
	color: #ff4545;
}
.loadingPayment.failed p span{
	background: #ff5f5f;
	border-radius: 50%;
	position: relative;
}
.loadingPayment.failed p span img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loadingPayment h2{
	font-family: Gotham Rounded;
	font-size: 36px;
	font-weight: 500;
	letter-spacing: normal;
	color: #303030;
	text-align:center;
}
.list-bank{
	font-size: 0;
	display:block;
	margin-bottom: 10px;
}
.list-bank:after{
	clear: both;
	content: '';
	display: block;
}

.list-bank .bank_item{
	display:inline-block;           
    width: 93px;
    height: 50px;
    position: relative;
}
.list-bank .bank_item:before{
	position: absolute;
	content: '';
	display: block;
	top: -1px;
	left: -1px;
	bottom: 0;
	right: 0;
	border:1px solid #e3e3e3;
	z-index: 0;
}
.list-bank .bank_item:hover{
	cursor: pointer;
}
.list-bank .bank_item.active:before,
.list-bank .bank_item:hover:before{
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.27);
  	border: solid 2px #4e86ea;
  	z-index: 1;
}
.list-bank .bank_item img{
	width: 100%;
}
.list-bank .bank_item:first-child:before{
    border-top-left-radius: 12px;
}
.list-bank .bank_item:nth-child(6):before {
    border-top-right-radius: 12px;
}
.list-bank .bank_item:nth-child(25):before {
    border-bottom-left-radius: 12px;
}
.breadcrumb{
    font-family: Gotham Rounded;
    font-size: 16px;
    text-align: left;
    color: #636363;
    display: inline-block;
    padding-right: 35px;
    line-height: 40px;
    padding-left: 20px;
    position: relative;
    padding: 0;
    background: none;
}
.breadcrumb p{
    font-family: Gotham Rounded;
    font-size: 16px;
    text-align: left;
    color: #636363;
    display: inline-block;
    padding-right: 35px;
    line-height: 40px;
    padding-left: 20px;
    position: relative;
}
.breadcrumb p:after {
    position: absolute;
    content: '\e907';
    font-family: icomoon!important;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.breadcrumb p:first-child{
  padding-left: 0;
}
.breadcrumb p:last-child:after{
  display: none;
  padding-right: 0;
}
.breadcrumb span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  border: 2px solid #e3e3e3;
  vertical-align: middle;
  margin-right: 10px;
  color: #7d7d7d;
}
.breadcrumb span:before {
    font-family: icomoon!important;
    position: absolute;
    content: '\e906';
    
    display: inline-block;
    font-size: 22px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.breadcrumb  p.step-2 span:before {
    content: '\e90d';
}
.breadcrumb  p.step-3 span:before {
    content: '\e900';
}
.breadcrumb  p.active{
  font-weight: 500;
  color: #303030;
}
.breadcrumb  p.active span {
    color: #fff;
    background: #ff5f5f;
    border-color: #ff5f5f;
}

/*sstyle select*/
@media (max-width: 480px) {
	.breadcrumb p{
	  padding: 0;
	  line-height: 25px;
	  font-size: 14px;
	}
	.breadcrumb p:after{
	  right: initial;
	  left: 11px;
	  transform: none;
	  content: '';
	  width: 3px;
	  height: 100%;
	  background: #e3e3e3;
	  top: 100%;
	}
	.breadcrumb span{
	  width: 25px;
	  height: 25px;
	  background:#fff;
	}
	.breadcrumb span:before{
	  font-size: 16px;
	}
	.list-bank .bank_item{
		width: 33%;
		height: auto;
	}
	.list-bank .bank_item:nth-child(3):before {
	    border-top-right-radius: 12px;
	}
	.list-bank .bank_item:nth-child(6):before{
	    border-top-right-radius: 0px;
	}
	.list-bank .bank_item:nth-child(25):before {
		border-bottom-left-radius: 0px;
	}
	.loadingPayment{
		
	}
	.loadingPayment.failed p{
		font-size: 14px;
	}
	.loadingPayment p span{
		width: 40px;
		height: 40px;
	}
	.loadingPayment p span i{
		font-size: 45px;
	}
	.loadingPayment.failed p span img{
		width: 20px;
		height: 20px;
	}
	.loadingPayment.failed h2{
		font-size: 20px;
	}

	footer{
		display: none;
	}
	#pg_checkout .title-tab{
		margin-top: 0;
	}
	#pg_checkout .wrapper-bx{
		padding:5px 10px;
		border: 0;
		margin-left: -10px;
		margin-right: -10px;
		border-radius: 0;
		margin-bottom: 10px;
	}
	#pg_checkout .wrapper-bx .box_top h2{
		margin-bottom: 0px;
		/*margin-top: 10px;*/
	}
	#pg_checkout .wrapper-bx.finish .box_top h2{
		color: #303030;
	}
	#pg_checkout .wrapper-bx .box_top{
		padding: 0;
	}
	#pg_checkout .wrapper-bx .box_top p.notice{
		font-size: 14px;
  		line-height: 1.71;
  		color: #666666;
  		text-align: center;
	}
	#pg_checkout .wrapper-bx .box_top p.notice span{
		text-transform: capitalize;
	}
	#pg_checkout .channel{
		border: 0;
		position: absolute;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  		border: solid 1px #e3e3e3; 
  		top: 100%;
  		margin-top: 5px;
  		padding: 10px;
	}
	.wrapper-dropdown .dropdown{
		position: absolute;
	    top: 140%;
	    left: 0;
	    right: 0;
	    background: white;
	    border-radius: inherit;
	    border: 1px solid #e3e3e3;
	    box-shadow: 0 0 5px rgba(0,0,0,0.1);
	    font-weight: normal;
	    /* transition: all 0.3s ease-in; */
	    list-style: none;
	    padding: 0;
	    opacity: 0;
	    /* pointer-events: none; */
	    z-index: -1;
	    max-height: 220px;
	    overflow-y: auto;
	}
	.wrapper-dropdown .dropdown li{
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	.wrapper-dropdown.active .dropdown {
	    opacity: 1;
	    z-index: 1;
	    border: 1px solid #e3e3e3 !important;
	    pointer-events: auto;
	}
	#pg_checkout .channel:before,#pg_checkout .channel:after{
		display: none;
	}

	#tab_all_chanel span,#tab_all_payment span{
	    font-size: 12px;
	    color: #999999;
	    clear: both;
	    display: block;
	    font-weight: normal;
	}
	#tab_all_chanel span small,#tab_all_payment span small{
	    display: block;
	    font-family: Gotham Rounded;
	    font-size: 14px;
	    text-align: left;
	    color: #000;
	    font-weight: normal;
	    position: relative;
	    text-transform: capitalize;
	}
	#tab_all_chanel span small:before{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		font-family: 'icomoon' !important;
	    position: absolute;
	    content: '';
	    display: inline-block;
	    /*top: 50%;*/
	    right: 38px;
	    /*transform: translateY(-50%);*/
	    line-height: 32px;
    	font-size: 22px;
    	text-align: center;
    	color: #fff;
    	bottom: 3px;
	}
	#tab_all_payment span small:before{
		content: '';
		width: 32px;
		height: 20px;
		overflow: hidden;
		position: absolute;
		display: inline-block;
		text-align: right;
		bottom: 3px;
		right: 38px;
	}
	#tab_all_payment span small.credit_cn:before{
		background: url(../../assets/img/pay_creditcard.png) no-repeat left center;
		background-size: auto 100%;
	}
	#tab_all_payment span small.momo_cn:before{
		background: url(../../assets/img/pay_momo.png) no-repeat left center;
		background-size: auto 100%;
	}
	#tab_all_payment span small.atm_cn:before{
		background: url(../../assets/img/atm-card.png) no-repeat left center;
		background-size: auto 100%;
	}
	#tab_all_payment span small.zalopay_cn:before{
		background: url(../../assets/img/pay_zalo.png) no-repeat left center;
		background-size: auto 100%;
	}
	#tab_all_chanel span small.sms_cn{
		text-transform: uppercase;

	}
	#tab_all_chanel span small.sms_cn:before{
		/*content: '\e91b';
		background-color: #00d846;*/
		content: '';
		width: 32px;
		height: 32px;;
		background: url(../../assets/img/social-icon.png);
		background-size: 192px 64px;
		background-position:-64px 0; 	
	}
	#tab_all_chanel span small.email_cn:before{
		/*content: '\e91e';
		background-color: #fe621f;*/
		content: '';
		width: 32px;
		height: 32px;;
		background: url(../../assets/img/social-icon.png);
		background-size: 192px 64px;
		background-position:-96px 0; 	
	}
	#tab_all_chanel span small.viber_cn:before{
		/*content: '\e91a';
		background-color: #80529a;*/
		content: '';
		width: 32px;
		height: 32px;;
		background: url(../../assets/img/social-icon.png);
		background-size: 192px 64px;
		background-position:-128px 0; 	
	}
	#tab_all_chanel span small.whatsapp_cn:before{
		/*content: '\e919';
		background-color: #00ba54;*/
		content: '';
		width: 32px;
		height: 32px;;
		background: url(../../assets/img/social-icon.png);
		background-size: 192px 64px;
		background-position:-160px 0; 	
	}
	#pg_checkout .wrapper-bx .box-content{
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 10px;
	}
	#pg_checkout .sender_info, #pg_checkout .receiver_info{
		margin-right: -10px;
		margin-left: -10px;
	}
	/*sender info*/
	/*#pg_checkout .sender_info  .col-md-6:nth-child(3){
		margin-bottom: 0;
		margin-bottom: -1px;
		background: red
	}
	#pg_checkout .sender_info > .col-md-6:nth-child(1) .form-group .form-control{
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0; 
	}*/
	#pg_checkout .sender_info .col-md-6 .form-group{
		margin-bottom: -1px;
	}
	#pg_checkout .sender_info .col-md-6 .form-group .sender_name{
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	#pg_checkout .sender_info .col-md-6 .form-group .sender_email{
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	#pg_checkout .sender_info .col-md-6:last-child .form-group{
		margin-bottom: 20px;
	}


	#pg_checkout .receiver_info .group_two_col .left, .group_two_col .right{
		width: 100%;
	}
	#pg_checkout .receiver_info .group_two_col .left.form-group input.form-control{
		border-radius: 12px 12px 0 0 ;
	}
	#pg_checkout .receiver_info .group_two_col .right.form-group input.form-control{
		border-radius: 0;
		border:1px solid #e3e3e3;
		border-top: 0;
	}
	#pg_checkout .sender_info .group_two_col .left, .group_two_col .right{
		width: 100%;
	}
	#pg_checkout .sender_info .group_two_col .left.form-group input.form-control{
		border-radius: 12px 12px 0 0 ;
	}
	#pg_checkout .sender_info .group_two_col .right.form-group input.form-control{
		border-radius: 0;
		border:1px solid #e3e3e3;
		border-top: 0;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
	}

	#pg_checkout #tab_sms .receiver_info .group_two_col .left.form-group input.form-control{
		border-radius: 12px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	#pg_checkout #tab_sms .receiver_info .group_two_col .right.form-group input.form-control{
		border-top: 0;
		border-radius: 12px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	#pg_checkout .box-content .tab-content{
		padding-top: 30px;
		margin-top: 30px;
		position: relative;
		border-top: solid 2px #e3e3e3;
	}
	#pg_checkout .box-content .tab-content:before,
	#pg_checkout .box-content .tab-content:after{
		content: "";
	    width: 0;
	    height: 0;
	    position: absolute;
	    right: 15px;
	    top: 0;
	    left: 50%;
	    transform:translateX(-50%);
	    margin-top: 0px;
	    border-width: 8px 8px 0 8px;
	    border-style: solid;
	    border-color: #e3e3e3 transparent;
		
	}
	#pg_checkout .box-content .tab-content:after{
		border-top: 8px solid #fff;
    	top: -4px;
	}

	#pg_checkout .box-content .tab-content .tab-pane{
		overflow-x: inherit;
	}
	#pg_checkout .payment_method .box-content .tab-content .tab-pane{
		margin-left: -10px;
		margin-right: -10px;
	}
	#pg_checkout .channel li.hide_ondesktop{
		display: block;
	}
	#pg_checkout .channel li.hide_onmobile{
		display: none;
	}
	#pg_checkout .title-tab{
		padding: 38px 0 18px;
		font-size: 0;
	}
	#pg_checkout .title-tab p{
		/*text-indent: -9999px;*/
		height: 4px;
  		background-color: #b0b0b0;
  		position: relative;
  		width: 110px;
  		padding: 0;
  		font-size: 0;
	}
	#pg_checkout .title-tab p:last-of-type{
		width: 0;
	}
	#pg_checkout .title-tab p:before{
		width: 24px;
		height: 24px;
		position: absolute;
		content: '';
		display: inline-block;
		left: 0;
		top: 50%;
		transform: translate(-50%,-50%);
		background-color: #ffffff;
  		border: solid 1px #b0b0b0;
  		border-radius: 50%;
	}
	#pg_checkout .title-tab p.active:after{
		right: inherit;
		left: 0;
		width: 16px;
		height: 16px;
		top: 50%;
		background: #ff5f5f;
		border-radius: 50%;
		transform:translate(-50%,-50%);
	}
	#pg_checkout .title-tab p.finish{
		background-color:#74ce36;
	}
	#pg_checkout .title-tab p.finish:after{
		background: #74ce36;
		right: inherit;
	    left: 0;
	    width: 24px;
	    height: 24px;
	    top: 50%;
	    border-radius: 50%;
	    transform: translate(-50%,-50%);
	}
	#pg_checkout .title-tab p:last-of-type:after{
		display: inline-block;
	}

	#pg_checkout .title-tab p span{
		display: none;
	}
	/*#pg_checkout .title-tab p.active span{
		display: inline-block;
	}*/
	#pg_checkout .child.left, #pg_checkout .child.right{
		padding-top: 0;
		padding-bottom: 0;
	}
	#pg_checkout .wrapper-bx.active .box_top h2{
		padding-top: 70px;
		padding-bottom: 10px;
	}
	#pg_checkout .wrapper-bx.active .box_top h2:before{
		width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    position: absolute;
	    display: inline-block;
	    /*border: solid 2px #e3e3e3;*/
	    background: #ff5f5f;
	    vertical-align: middle;
	    margin-right: 10px;
	    color: #fff; 
	    left: 50%;
	    transform:translateX(-50%);
	    content:'\e90d' ;
	    font-family: 'icomoon' !important;
	    line-height: 40px;
	    font-size: 22px;
	    top: 20px;
	}
	#pg_checkout .wrapper-bx.write_message.active .box_top h2:before{
		content:'\e90d' ;
	}
	#pg_checkout .wrapper-bx.payment_method.active .box_top h2:before{
		content:'\e900';
	}
	#pg_checkout .wrapper-bx.finish_box.active .box_top h2:before{
		content: '\e906';	
	}
	.payment_result .item .left,.payment_result .item .right{
		width: 100% !important;
	}
	#pg_checkout .write_message .box_top h2 a{
		position: relative;
	    clear: both;
	    display: block;
	    text-align: center;
	    visibility: hidden;
	    font-size: 12px;
	    top: inherit;
	    transform:inherit;
	    padding: 0;
	}
	#pg_checkout .write_message .box_top h2 a:before{
		content:'Tab to edit'; 
		visibility: visible;
		display: block;
		position: absolute;
		top: 0px;
		top: 0;
	    left: 50%;
	    transform: translateX(-50%);
	}
	#pg_checkout .write_message .box_top h2 a.vi:before{
		content: 'Bấm để thay đổi';
	}

	#pg_checkout .channel li p:before,
	#pg_checkout .channel li p:after
	{
		display: none;
	}
	#pg_checkout .channel li p label{
		width: 100%;
		position: relative;
		text-align: left;
	}
	#pg_checkout #tab_all_payment.active .channel.payment-channel{
		z-index: 2;
	}
	#pg_checkout .channel.payment-channel li p{
		/*margin-bottom: 0;*/
	}
	#pg_checkout .channel.payment-channel li p label{
		width: 100%;
		position: relative;
		text-align: left;
		border: 0;
		height: auto;
		padding: 0;
	}
	#pg_checkout .channel.payment-channel li p label span{
		position: absolute;
		right: 0;
		width: 32px;
		height: 20px;
		overflow: hidden;
		text-align: right;
	}
	#pg_checkout .channel.payment-channel li p label span img{
		height: 100%;
	}
	#pg_checkout .channel li p label span{
		position: absolute;
		right: 0;
		width: 24px;
		height: 24px;
		padding: 0 !important;
		background-size: 144px 48px;
	}
	#pg_checkout .channel li p.sms_cn span{
		background-position: -48px 0;
	}
	#pg_checkout .channel li.active p.sms_cn span{
		background-position: -48px 0;
	}
	#pg_checkout .channel li p.email_cn span{
		background-position: -72px 0;
	}
	#pg_checkout .channel li.active p.email_cn span{
		background-position: -48px 0;
	}
	#pg_checkout .channel li p.viber_cn span{
		background-position: -96px 0;
	}
	#pg_checkout .channel li.active p.viber_cn span{
		background-position: -48px 0;
	}
	#pg_checkout .channel li p.whatsapp_cn span{
		background-position: -120px 0;
	}
	#pg_checkout .channel li.active p.whatsapp_cn span{
		background-position: -48px 0;
	}
	/*#pg_checkout .channel li p label span:before{
		font-size: 16px;
	}
	#pg_checkout .channel li.active p.sms_cn span{
		background-color: #00d846;
	}
	#pg_checkout .channel li p.email_cn span{
		background-color: #fe621f;
	}
	#pg_checkout .channel li p.viber_cn span{
		background-color: #80529a;
	}
	#pg_checkout .channel li p.viber_cn span:before{
		content: '\e91a';
	}
	#pg_checkout .channel li p.whatsapp_cn span{
		background-color: #00ba54;
	}
	#pg_checkout .channel li p.whatsapp_cn span:before{
		content: '\e919';
	}*/
	footer{
		display: none;
	}
	#pg_checkout .right .show_order_mb{
		display: block;
		padding: 10px 0;
	}
	#pg_checkout .show_order_clicked .right .show_order_mb{
		padding: 0;
	}
	#pg_checkout .right .box-content{
		display: none;
	}
	
	#pg_checkout #parent.show_order_clicked .right .box-content{
		display: block;
		margin-bottom: 10px;
		
	}
	#pg_checkout #parent.show_order_clicked .right .box-content h3{
		margin-bottom: 15px;
		font-size: 16px;
	}
	#pg_checkout #parent.show_order_clicked .right .box-content p{
		padding: 0;
	}
	#pg_checkout #parent.show_order_clicked{
		position: inherit;
	}
	
	#pg_checkout #parent.show_order_clicked .right{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/*min-height: 100%;*/
		/*margin-bottom: -20px;*/
		z-index: 999;
		transition:bottom 1s linear;
	}
	#pg_checkout .wrapper-bx.finish_box.active{
		margin-bottom: 0;
	}
	.payment_result .item{
		padding: 10px;
	}
	.item .send_another{
		margin: 30px auto 20px;
	}
	.item .back_hompage{
		display: block;
		text-align: center;
		display: block;
		margin: 5px auto;
		font-family: Gotham Rounded;
		font-size: 12px;
		color: #ff5f5f;
	}
	#pg_checkout #parent.show_order_clicked .right .show_order_mb a.clicked{
		visibility: hidden;
		position: relative;
		margin: 15px auto;
	}
	#pg_checkout #parent.show_order_clicked .right .show_order_mb a.clicked:before{
		content:'Hide Order Informations'; 
		visibility: visible;
		display: inline-block;
		position: absolute;
		
	    /*left: 50%;*/
	    /*transform: translateX(-50%);*/
	}
	#pg_checkout #parent.show_order_clicked .right .show_order_mb a.clicked.vi:before{
		content:'Ẩn thông tin đơn hàng'; 
	}
	#pg_checkout #parent.show_order_clicked .right .show_order_mb a.clicked:after{
		content: '\e90e';
		visibility: visible;
	}
	#pg_checkout #parent.show_order_clicked .left{
		display: none;
	}
	#pg_checkout #parent.show_order_clicked .right .btn-next{
		position: absolute;
		bottom: 0;
		right: 10px;
		left: 10px;
		width: auto;
	}	

	#pg_checkout #tab_credit .noitice p{
		padding: 10px 10px 10px 40px;
		font-family: Gotham Rounded;
		font-size: 12px;
		line-height: 1.5;
		text-align: left;
		color: #33a539;
		margin-bottom: 20px;
	}
	#pg_checkout #tab_credit .noitice p:before{
		left: 10px;
		top: 10px;
	}
	#pg_checkout .creditcard_info .group_two_col .left,
	#pg_checkout .creditcard_info .group_two_col .right{
		width: 100%;
	    float: left;
	    margin-bottom: 0 !important;
	}
	/*#pg_checkout .creditcard_info .form-group{
		margin-bottom: 0;
	}
	#pg_checkout .creditcard_info .form-group .form-control{
		border-radius: 0;
		margin-top: -1px;
	}
	#pg_checkout .creditcard_info .form-group:first-of-type .form-control{
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}*/
	#pg_checkout .creditcard_info .group_two_col .form-group:first-of-type .form-control{
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	#pg_checkout .creditcard_info .group_two_col .form-group:last-of-type .form-control{
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		border-left: 1px solid #e3e3e3;
	}
	
	#pg_checkout .noitice ol{
		padding: 10px 10px 10px 40px
	}
	#pg_checkout .noitice ol:before{
		line-height: 1;
		left: 10px;
		top: 10px;
	}
	#pg_checkout .noitice ol  > li{
		font-size: 12px;
		line-height: 1.5;
		text-align: left;
		color: #0074bd;
	}
	#pg_checkout .noitice ol  > li:before{
		padding-right: 20px;
	}
	

	/*payment with momo or zalo with bill ID*/
	.btn-validateApp{
		display: block;
	}
	#pg_checkout .right .noitice.momo.active,
	#pg_checkout .right .noitice.zalo.active{
		display: none;
	}
	.momopay_info .qrCode,.zalopay_info .qrCode{
		display: none;
	}
	.pay_with_billID{
		display: block;
		text-align: center;
	}
	.pay_with_billID .billID{
		border: 1px dashed #e3e3e3;
		height: 54px;
		border-radius: 12px;
		background-color: #ffffff;
		font-family: Gotham Rounded;
		font-size: 16px;
		font-weight: 500;
		line-height: 52px;
		letter-spacing: 3px;
		text-align: center;
		color: #ff4545;
	}
	.pay_with_billID a{
		font-family: Gotham Rounded;
		font-size: 14px;
		line-height: 1.71;
		text-align: center;
		color: #666666;
		display: block;
		margin-bottom: 10px;
	}
	.pay_with_billID a.how_payment_bill{
		color: #ff4545
	}
	.pay_with_billID a.btn-zalo,.pay_with_billID a.btn-momo{
		line-height: 46px;
	    height: 46px;
	    border-radius: 12px;
	    background-color: #af006e;
	    color: #fff;
	    font-family: Gotham Rounded;
	    font-size: 16px;
	    font-weight: 500;
	    text-align: center;
	    width: 100%;
	    display: block;
	    padding: 0;
	    margin-top: 5px;
	    margin-bottom: 0;
	}
	.pay_with_billID a.btn-zalo{
		background-color: #0090e6;
	}	

	.btn-next,.btn-next:hover,.btn-next:active,.btn-next:focus{
		float: none;
		margin: 15px auto
	}
}

iframe{
	width: 100%;
	min-height: 330px;
	border: 0;
}

@media (max-width: 320px){
  .breadcrumb p{
    padding: 0;
    line-height: 25px;
    font-size: 13px;
  }
}