<section id="pg_checkout" class="product-section checkout-section">
	<div class="container">
		<!-- <div class="row">
			<div class="title-tab">
				<div class="step_pc">
					<p class="step-1 {{step1Finish ? 'finish' : 'active'}}"><span></span>{{'write_your_message' | translate}}</p>
					<p *ngIf="step1Finish == false && step2Finish == false" class="step-2"><span></span>{{'choose_payment_method' | translate}}</p>
					<p *ngIf="step1Finish && step2Finish == false" class="step-2 active"><span></span>{{'choose_payment_method' | translate}}</p>
					<p *ngIf="step1Finish && step2Finish" class="step-2 finish"><span></span>{{'choose_payment_method' | translate}}</p>
					<p class="step-3 {{step1Finish && step2Finish? 'finish' : ''}}"><span></span>{{'thank_you' | translate}}</p>
				</div>
			</div>
		</div>
 -->
		<div id="parent" class="row parent {{showOrder ? 'show_order_clicked':''}}" >
      		<div class="col-md-9 left child">
      			<div class="breadcrumb">
					<p class="step-1 active"><span></span>{{'step_1' | translate}}</p>
					<p class="step-2 active"><span></span>{{'step_2' | translate}}</p>
					<p class="step-3 {{step1Finish ? 'active': ''}}"><span></span>{{'step_3' | translate}}</p>
				</div>
      			<div class="wrapper-bx write_message {{step1Finish ? 'finish': 'active'}}">
      				<div class="box_top tabbable-line">
                        <h2 class="">{{'write_your_message_2' | translate}} <a href="javscript:void(0)" [ngStyle]="(step3Finish == true) ? {'display': 'none' } : {}" class="btn btn-link edit-message-link {{translate.currentLang}}" (click)="changeMessageStep()">{{step1Finish && step2Finish ? '':'edit' | translate }}</a></h2>
                        <p class="notice">{{'please_choose_the_channel' | translate}}</p>
                    </div>
                    <div class="box-content">
                    	<div class="col-md-3">
                    		<div id="tab_all_chanel" class="wrapper-dropdown" tabindex="1" (click)="toggleClick($event)" [class.active]="channelDropdownClicked">
	                			<span>{{'choose_channel' | translate}}<small class="{{selectedChannelSend+'_cn'}}">{{selectedChannelSend}}</small></span>
			      				<ul class="channel tabbable dropdown">
									<li class="{{selectedChannelSend == 'sms' ? 'active':''}}" data-toggle="tab" href="#tab_sms" (click)="selectChannelSend('sms')" >
										<p class="sms_cn">
											<label for="sms" class=""><span></span>SMS</label>
										</p>
									</li>
									<li class="{{selectedChannelSend == 'email' ? 'active':''}}" data-toggle="tab" href="#tab_email" (click)="selectChannelSend('email')">
										<p class="email_cn">
			                    			<label for="email" class=""><span></span>Email</label>
			                    		</p>
									</li>
									<li class="hide_onmobile {{selectedChannelSend == 'messenger' ? 'active':''}}" data-toggle="tab" href="#tab_messenger" (click)="selectChannelSend('messenger')">
										<p class="messenger_cn">
			                    			<label for="messenger" class=""><span></span>Messenger</label>
			                    		</p>
									</li>
									<!-- <li class="hide_onmobile {{selectedChannelSend == 'facebook' ? 'active':''}}" data-toggle="tab" href="#tab_facebook" (click)="selectChannelSend('facebook')">
										<p class="facebook_cn">
											<label for="facebook" class=""><span></span>Facebook</label>
										</p>
									</li> -->
									<li data-toggle="tab" href="#tab_viber" class="hide_ondesktop {{selectedChannelSend == 'viber' ? 'active':''}}" (click)="selectChannelSend('viber')">
										<p class="viber_cn">
			                    			<label for="viber" class=""><span></span>Viber</label>
			                    		</p>
									</li>
									<li data-toggle="tab" href="#tab_whatsapp" class="hide_ondesktop {{selectedChannelSend == 'whatsapp' ? 'active':''}}" (click)="selectChannelSend('whatsapp')">
										<p class="whatsapp_cn">
											<label for="whatsapp" class=""><span></span>Whatsapp</label>
										</p>
									</li>
								</ul>
							</div>
		      			</div>
		      			<div class="col-md-9">
		      				<div class="tab-content">
		      					<div id="tab_sms" class="tab-pane {{selectedChannelSend == 'sms' ? 'active':''}}">
		      						<div class="col-md-12">

			      						<div class="row">
			      							<div class="receiver_info">
				      							<div class="col-md-12">
				      								<p>{{'receiver_infomations' |translate}}</p>
				      							</div>
				      							<div class="col-md-12">
										            <p  *ngIf="phoneControl.errors && phoneControl.errors.pattern && phoneControl.touched" class="help-block error-msg">
										                {{ 'phone_invalid' | translate}}
										            </p>
				      							</div>
				      							<div class="col-md-12">
				      								<div class="group_two_col">
					      								<div class="form-group form-md-floating-label left">
															<input type="email" class="form-control {{receiver_name_sms && receiver_name_sms.length > 0 ? 'edited':''}} edited" placeholder="Nguyen Van A" id="form_control_name_sms" [(ngModel)]="receiver_name_sms">
															<label for="form_control_name_sms">{{'receivers_name' | translate}}</label>
														</div>
														<div class="form-group form-md-floating-label right">
															<input type="tel" class="form-control {{receiver_phone && receiver_phone.length > 0 ? 'edited':''}} edited" placeholder="09xxxxxxxx" id="form_control_phone" [(ngModel)]="receiver_phone" #phoneControl = "ngModel" pattern="^(\+84|0)(9|8|1[2689])\d{8}$">
															<label for="form_control_phone" class="phone_label">{{'receivers_phone_number' |translate}}
																<span class="icon-information">
																	<small class="note_security_code">{{'note_phone_number' | translate}}</small>
																</span>
															</label>
														</div>
													</div>
													<div class="form-group form-md-floating-label hide">
														<textarea rows="3" type="text" class="form-control {{message_sms && message_sms.length > 0 ? 'edited':''}}" id="form_control_area" [(ngModel)]="message_sms"></textarea>
														<label for="form_control_area">{{'your_message' |translate}}</label>
													</div>
				      							</div>
			      							</div>
			      						</div>
			      						<div class="row hide">
			      							<div class="sender_info">
				      							<div class="col-md-12">
					      							<p class="title">{{'sender_infomations' |translate }}</p>
					      						</div>
				      							<div class="col-md-12">
					      							<div class="form-group form-md-floating-label">
														<input type="text" class="sender_name form-control {{customer_name_sms && customer_name_sms.length > 0 ? 'edited':''}}" id="customer_name_sms" [(ngModel)]="customer_name_sms">
														<label for="customer_name_sms">{{'your_name' |translate}}</label>
													</div>
												</div>

											</div>
			      						</div>
		      						</div>
		      					</div>
		      					<div id="tab_email" class="tab-pane {{selectedChannelSend == 'email' ? 'active':''}}">
		      						<div class="col-md-12">
			      						<div class="row">
			      							<div class="receiver_info">
				      							<div class="col-md-12">
				      								<p>{{'receiver_infomations' |translate}}</p>
				      							</div>
				      							<div class="col-md-12">
						      						<p  *ngIf="receiverEmailEmControl.errors && receiverEmailEmControl.errors.pattern && receiverEmailEmControl.touched" class="help-block error-msg">
										                {{ 'email_invalid' | translate}}
										            </p>
									            </div>
				      							<div class="col-md-12">
				      								<div class="group_two_col">
					      								<div class="form-group form-md-floating-label left">
															<input type="email" class="form-control {{receiver_name_em && receiver_name_em.length > 0 ? 'edited':''}} edited" placeholder="Nguyen Van A" [(ngModel)]="receiver_name_em"  id="receiver_name_em">
															<label for="receiver_name_em">{{'receivers_name' | translate}}</label>
														</div>
														<div class="form-group form-md-floating-label right">
															<input type="email" class="form-control {{receiver_email_em && receiver_email_em.length > 0 ? 'edited':''}} edited" placeholder="example@example.com" [(ngModel)]="receiver_email_em" id="receiver_email_em" #receiverEmailEmControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
															<label for="receiver_email_em">{{'receivers_email' | translate}}</label>
														</div>
													</div>
													<div class="form-group form-md-floating-label">
														<textarea rows="3" type="text" class="form-control {{message_em && message_em.length > 0 ? 'edited':''}}" id="form_control_area" [(ngModel)]="message_em"></textarea>
														<label for="form_control_area">{{'your_message' |translate}}</label>
													</div>
				      							</div>
			      							</div>
			      						</div>
			      						<div class="row">
			      							<div class="sender_info">
				      							<div class="col-md-12">
					      							<p class="title">{{'sender_infomations' |translate }}</p>
					      						</div>
					      						<div class="col-md-12">
						      						<p  *ngIf="customerEmailEmControl.errors && customerEmailEmControl.errors.pattern && customerEmailEmControl.touched" class="help-block error-msg">
										                {{ 'email_invalid' | translate}}
										            </p>
									            </div>
									            <div class="col-md-12">
									            	<div class="group_two_col">
									            		<div class="form-group form-md-floating-label left">
														<input type="text" class="sender_name form-control {{customer_name_em && customer_name_em.length > 0 ? 'edited':''}} edited" placeholder="Nguyen Van A" [(ngModel)]="customer_name_em" id="customer_name_em" >
														<label for="customer_name_em">{{'your_name' |translate}}</label>
													</div>
													<div class="form-group form-md-floating-label right">
														<input type="email" class="sender_email form-control {{customer_email_em && customer_email_em.length > 0 ? 'edited':''}} edited" placeholder="example@example.com" [(ngModel)]="customer_email_em" id="customer_email_em" #customerEmailEmControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
														<label for="customer_email_em">{{'your_email' |translate}}</label>
													</div>
									            	</div>
									            </div>							
											</div>
			      						</div>
		      						</div>
		      					</div>
		      					<div id="tab_messenger" class="tab-pane {{selectedChannelSend == 'messenger' ? 'active':''}}">
		      						<div class="col-md-12">
			      						<div class="row">
			      							<div class="receiver_info">

				      							<div class="col-md-12 noitice">
				      								<ol class="">
				      									<li>{{'enter_friends_name_and_your_message' |translate}}</li>
				      									<li>{{'make_payment' |translate}}</li>
				      									<li>{{'send_your_gift_via_messenger' |translate}}</li>
				      								</ol>
				      							</div>
				      							<div class="col-md-12">
				      								<p>{{'receiver_infomations' |translate}}</p>
				      							</div>
				      							<div class="col-md-12">
				      								<div class="form-group form-md-floating-label">
														<input type="email" class="form-control {{receiver_name_msg && receiver_name_msg.length > 0 ? 'edited':''}} edited" placeholder="Nguyen Van A" [(ngModel)]="receiver_name_msg" id="receiver_name_msg" >
														<label for="receiver_name_msg">{{'receivers_name' | translate}}</label>
													</div>
													<div class="form-group form-md-floating-label">
														<textarea rows="3" type="text" class="form-control {{message_msg && message_msg.length > 0 ? 'edited':''}}" id="form_control_area" [(ngModel)]="message_msg"></textarea>
														<label for="form_control_area">{{'your_message' |translate}}</label>
													</div>
				      							</div>
			      							</div>
			      						</div>
			      						<div class="row hide">
			      							<div class="sender_info">
				      							<div class="col-md-12">
					      							<p class="title">{{'sender_infomations' |translate }}</p>
					      						</div>
					      						<div class="col-md-12">
						      						<p  *ngIf="customerEmailMsgControl.errors && customerEmailMsgControl.errors.pattern && customerEmailMsgControl.touched" class="help-block error-msg">
										                {{ 'email_invalid' | translate}}
										            </p>
									            </div>
				      							<div class="col-md-6">
					      							<div class="form-group form-md-floating-label">
														<input type="text" class="sender_name form-control {{customer_name_msg && customer_name_msg.length > 0 ? 'edited':''}} edited" placeholder="Nguyen Van A" [(ngModel)]="customer_name_msg" id="customer_name_msg">
														<label for="customer_name_msg">{{'your_name' |translate}}</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-md-floating-label">
														<input type="email" class="sender_email form-control {{customer_email_msg && customer_email_msg.length > 0 ? 'edited':''}} edited" placeholder="example@example.com" [(ngModel)]="customer_email_msg" id="customer_email_msg" #customerEmailMsgControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
														<label for="customer_email_msg">{{'your_email' |translate}}</label>
													</div>
												</div>
											</div>
			      						</div>
		      						</div>
		      					</div>
		      					<!-- <div id="tab_facebook" class="tab-pane {{selectedChannelSend == 'facebook' ? 'active':''}}">
		      						<div class="col-md-12">
			      						<div class="row">
			      							<div class="sender_info">
				      							<div class="col-md-12">
					      							<p class="title">Sender Infomations</p>
					      						</div>
					      						<div class="col-md-12">
						      						<p  *ngIf="customerEmailFbControl.errors && customerEmailFbControl.errors.pattern && customerEmailFbControl.touched" class="help-block error-msg">
										                {{ 'email_invalid' | translate}}
										            </p>
									            </div>
				      							<div class="col-md-6">
					      							<div class="form-group form-md-floating-label">
														<input type="text" class="sender_name form-control {{customer_name_fb && customer_name_fb.length > 0 ? 'edited':''}}" id="customer_name_fb" [(ngModel)]="customer_name_fb">
														<label for="customer_name_fb">Your name</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-md-floating-label">
														<input type="email" class="sender_email form-control {{customer_email_fb && customer_email_fb.length > 0 ? 'edited':''}}" id="customer_email_fb" [(ngModel)]="customer_email_fb" #customerEmailFbControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
														<label for="customer_email_fb">Your email</label>
													</div>
												</div>
											</div>
			      						</div>
			      						<div class="row">
			      							<div class="receiver_info">
				      							<div class="col-md-12">
				      								<p>Receiver Infomations</p>
				      							</div>
				      							<div class="col-md-12 noitice">
				      								<ol class="">
				      									<li>Enter Friend’s name and your Message</li>
				      									<li>Make Payment</li>
				      									<li>Send your gift via Facebook</li>
				      								</ol>
				      							</div>
				      							<div class="col-md-12">
				      								<div class="form-group form-md-floating-label">
														<input type="email" class="form-control {{receiver_name_fb && receiver_name_fb.length > 0 ? 'edited':''}}" id="receiver_name_fb" [(ngModel)]="receiver_name_fb">
														<label for="receiver_name_fb">Receiver's name</label>
													</div>
													<div class="form-group form-md-floating-label">
														<textarea rows="3" type="text" class="form-control {{message_fb && message_fb.length > 0 ? 'edited':''}}" id="form_control_area" [(ngModel)]="message_fb"></textarea>
														<label for="form_control_area">Your message</label>
													</div>
				      							</div>
			      							</div>
			      						</div>
		      						</div>
		      					</div> -->
		      					<div id="tab_viber" class="tab-pane hide_ondesktop  {{selectedChannelSend == 'viber' ? 'active':''}}">
		      						<div class="col-md-12">
		      							<div class="row">
			      							<div class="noitice">
			      								<ol class="">
			      									<li>{{'enter_your_name_and_receiver_informations' | translate }}</li>
			      									<li>{{'open_viber_app' | translate }}</li>
			      									<li>{{'choose_friend_and_send_your_gift_link' | translate}}</li>
			      								</ol>
			      							</div>
			      						</div>

			      						<div class="row">
			      							<div class="receiver_info">
				      							<div class="col-md-12">
				      								<p>{{'receiver_infomations' |translate}}</p>
				      							</div>
				      							<div class="col-md-12">
				      								<div class="form-group form-md-floating-label">
														<input type="email" class="form-control {{receiver_name_viber && receiver_name_viber.length > 0 ? 'edited':''}}" id="receiver_name_viber" [(ngModel)]="receiver_name_viber">
														<label for="receiver_name_viber">{{'receivers_name' | translate}}</label>
													</div>
													<div class="form-group form-md-floating-label">
														<textarea rows="3" type="text" class="form-control {{message_viber && message_viber.length > 0 ? 'edited':''}}" id="form_control_area" [(ngModel)]="message_viber"></textarea>
														<label for="form_control_area">{{'your_message' |translate}}</label>
													</div>
				      							</div>
			      							</div>
			      						</div>
			      						<div class="row">
			      							<div class="sender_info">
				      							<div class="col-md-12">
					      							<p class="title">{{'sender_infomations' |translate }}</p>
					      						</div>
					      						<div class="col-md-12">
						      						<p  *ngIf="customerEmailViberControl.errors && customerEmailViberControl.errors.pattern && customerEmailViberControl.touched" class="help-block error-msg">
										                {{ 'email_invalid' | translate}}
										            </p>
									            </div>
				      							<div class="col-md-6">
					      							<div class="form-group form-md-floating-label">
														<input type="text" class="form-control sender_name {{customer_name_viber && customer_name_viber.length > 0 ? 'edited':''}}" id="customer_name_viber" [(ngModel)] = "customer_name_viber">
														<label for="customer_name_viber">{{'your_name' |translate}}</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-md-floating-label">
														<input type="email" class="form-control sender_email {{customer_email_viber && customer_email_viber.length > 0 ? 'edited':''}}" id="sender_email_viber" [(ngModel)] = "customer_email_viber" #customerEmailViberControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
														<label for="sender_email_viber">{{'your_email' |translate}}</label>
													</div>
												</div>
											</div>
			      						</div>
		      						</div>
		      					</div>
		      					<div id="tab_whatsapp" class="tab-pane hide_ondesktop  {{selectedChannelSend == 'whatsapp' ? 'active':''}}">
		      						<div class="col-md-12">
		      							<div class="row ">
		      								<div class="noitice">
			      								<ol class="">
			      									<li>{{'enter_your_name_and_receiver_informations' | translate }}</li>
			      									<li>{{'open_whatsapp_app' | translate }}</li>
			      									<li>{{'choose_friend_and_send_your_gift_link' | translate}}</li>
			      								</ol>
		      								</div>
		      							</div>

			      						<div class="row">
			      							<div class="receiver_info">
				      							<div class="col-md-12">
				      								<p>{{'receiver_infomations' |translate}}</p>
				      							</div>

				      							<div class="col-md-12">
				      								<div class="form-group form-md-floating-label">
														<input type="text" class="form-control {{receiver_name_whatsapp && receiver_name_whatsapp.length > 0 ? 'edited':''}}" id="receiver_name_whatsapp" [(ngModel)]="receiver_name_whatsapp">
														<label for="receiver_name_whatsapp">{{'receivers_name' | translate}}</label>
													</div>
													<div class="form-group form-md-floating-label">
														<textarea rows="3" type="text" class="form-control {{message_whatsapp && message_whatsapp.length > 0 ? 'edited':''}}" id="form_control_area" [(ngModel)]="message_whatsapp"></textarea>
														<label for="form_control_area">{{'your_message' |translate}}</label>
													</div>
				      							</div>
			      							</div>
			      						</div>
			      						<div class="row">
			      							<div class="sender_info">
				      							<div class="col-md-12">
					      							<p class="title">{{'sender_infomations' |translate }}</p>
					      						</div>
					      						<div class="col-md-12">
						      						<p  *ngIf="customerEmailWhatsappControl.errors && customerEmailWhatsappControl.errors.pattern && customerEmailWhatsappControl.touched" class="help-block error-msg">
										                {{ 'email_invalid' | translate}}
										            </p>
									            </div>
				      							<div class="col-md-6">
					      							<div class="form-group form-md-floating-label">
														<input type="text" class="form-control sender_name {{customer_name_whatsapp && customer_name_whatsapp.length > 0 ? 'edited':''}}" id="customer_name_whatsapp" [(ngModel)] = "customer_name_whatsapp" >
														<label for="customer_name_whatsapp">{{'your_name' |translate}}</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group form-md-floating-label">
														<input type="email" class="form-control sender_email {{customer_email_whatsapp && customer_email_whatsapp.length > 0 ? 'edited':''}}" id="sender_email_whatsapp" [(ngModel)] = "customer_email_whatsapp" #customerEmailWhatsappControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
														<label for="sender_email_whatsapp">{{'your_email' |translate}}</label>
													</div>
												</div>
											</div>
			      						</div>
		      						</div>
		      					</div>
		      					<div class="clearfix"></div>
								<a *ngIf="!step1Finish" href="javascript:void(0)" class="btn btn-next next-write-message {{(selectedChannelSend == 'sms' && (!receiver_phone || receiver_phone.length == 0 || phoneControl.errors)) || (selectedChannelSend == 'email' && (!receiver_email_em || receiver_email_em.length == 0 || receiverEmailEmControl.errors)) ? 'disabled':''}}" (click)="next_process($event)">{{'next'|translate}}</a>
		      				</div>
		      			</div>
                    </div>

      			</div>
      			<div class="wrapper-bx payment_method {{step1Finish==true && step2Finish == false ? 'active': ''}} {{step2Finish == true && step1Finish == true ? 'finish': ''}}">
      				<div class="box_top">
                        <h2 class="">{{'choose_payment_method' | translate}} </h2>
                        <p class="notice">{{'please_choose_the_payment_method_below' | translate}}</p>
                    </div>
                    <div class="box-content">
                    	<div class="col-md-3">
                    		<div id="tab_all_payment" class="wrapper-dropdown" tabindex="1" (click)="toggleClick($event)" [class.active]="paymentDropdownClicked">
	                			<span>{{'choose_payment_method' | translate}}
	                				<small *ngIf="selectedChannelPayment=='credit'" class="{{selectedChannelPayment+'_cn'}}">
	                				Credit Card</small>
	                				<small *ngIf="selectedChannelPayment=='zalopay'" class="{{selectedChannelPayment+'_cn'}}">
	                				Zalo Pay</small>
	                				<small *ngIf="selectedChannelPayment=='atm'" class="{{selectedChannelPayment+'_cn'}}">
	                				ATM</small>
	                				<small *ngIf="selectedChannelPayment=='momo'" class="{{selectedChannelPayment+'_cn'}}">
	                				Mo Mo</small>
	                			</span>
			      				<ul class="channel payment-channel tabbable dropdown">
									<li class="{{selectedChannelPayment == 'credit'? 'active':''}}" data-toggle="tab" href="#tab_credit" (click)="selectChannelPayment('credit')">
										<p class="credit_cn">
											<label for="credit_cn" class=""><span><img src="assets/img/pay_creditcard.png"></span>Credit Card</label>
										</p>
									</li>
                 <li class="{{selectedChannelPayment == 'atm'? 'active':''}}" data-toggle="tab" href="#tab_atm" (click)="selectChannelPayment('atm')">
                    <p class="credit_cn">
                      <label for="credit_cn" class=""><span><img src="assets/img/atm-card.png"></span>ATM</label>
                    </p>
                  </li>
									<!-- <li class="{{selectedChannelPayment == 'momo'? 'active':''}}" data-toggle="tab" href="#tab_momo" (click)="selectChannelPayment('momo')">
										<p class="momo_cn">
			                    			<label for="momo_cn" class=""><span><img src="assets/img/pay_momo.png"></span>Mo Mo</label>
			                    		</p>
									</li>
									<li class="{{selectedChannelPayment == 'zalopay'? 'active':''}}" data-toggle="tab" href="#tab_zalopay" (click)="selectChannelPayment('zalopay')">
										<p class="zalo_cn">
			                    			<label for="zalo_cn" class=""><span><img src="assets/img/pay_zalo.png"></span>Zalo Pay</label>
			                    		</p>
									</li> -->

								</ul>
							</div>
		      			</div>
		      			<div class="col-md-9">
		      				<div class="tab-content">
		      					<div id="tab_credit" class="tab-pane {{selectedChannelPayment == 'credit'? 'active':''}}">
		      						<div class="col-md-12">
			      						<div class="row creditcard_info">
			      							<div class="col-md-12 noitice">
				      							<p>{{'secure_credit_payment' | translate}}</p>
				      						</div>

			      							<div class="col-md-12">
												<div class="form-group form-md-floating-label">
													<input type="text" class="form-control {{card_number && card_number.length > 0 ? 'edited':''}}" [(ngModel)]="card_number" id="card_number" (keypress)="cardNumberPress($event)" (blur)="onBlurCardNumber(card_number) "required autocomplete="cc-number">
													<label for="card_number">{{'card_number' | translate}}</label>
												</div>
				      							<div class="form-group form-md-floating-label">
												  <input type="text" class="form-control {{name_card && name_card.length > 0 ? 'edited':''}}" id="name_card" [(ngModel)]="name_card" required autocomplete="cc-name">
												  <label for="name_card">{{'name_on_card' | translate}}</label>
												</div>

			      								<div class="group_two_col">
												  <div class="form-group form-md-floating-label left">
													<input type="text" class="form-control edited" [(ngModel)]="expired_date" id="expired_date" [textMask]="{mask: maskExpiredDate}" placeholder="MM/YY"  required autocomplete="cc-exp" >
													<label for="expired_date">{{'expired_date' | translate}}</label>
												  </div>
												  <div class="form-group form-md-floating-label right">
													<input type="text" class="form-control {{security_code && security_code.length > 0 ? 'edited':''}}" [(ngModel)]="security_code" id="security_code" [textMask]="{mask: maskCvn}" required autocomplete="cc-csc">
													<label class="security_code" for="security_code">{{'security_code' | translate}}
													  <span class="icon-information">
														<small class="note_security_code">{{'security_notice' | translate}}</small>
													  </span>
													</label>
												  </div>
												</div>

			      							</div>
			      						</div>
		      						</div>
		      					</div>
                    <div id="tab_atm" class="tab-pane {{selectedChannelPayment == 'atm'? 'active':''}}">
                      <div class="col-md-12">
                        <div class="row creditcard_info">

                          <div class="col-md-12">
                          	<div class="list-bank">
	                          	<div class="bank_item item{{i+1}}" *ngFor="let item of listBank; let i = index" (click)="choosebank(item.code)" [class.active]="atm_bank == item.code">
	                          		<a href="javascript:void(0)" >
	                          			<img src="assets/img/bank/{{item.img}}" alt="{{item.name}}">
	                          		</a>
	                          	</div>
	                        </div>
                            <!-- <div class="form-group form-md-floating-label">
                              <input type="text" class="form-control {{atm_bank && atm_bank.length > 0 ? 'edited':''}}" [(ngModel)]="atm_bank" id="atm_bank" required>
                              <label for="card_number">Bank</label>
                            </div>
 -->
                          </div>
                        </div>
                      </div>
                    </div>
		      					<!-- <div id="tab_momo" class="tab-pane {{selectedChannelPayment == 'momo'? 'active':''}}">
		      						<div class="col-md-12">
			      						<div class="row momopay_info">
			      							<div class="col-md-12 noitice">
			      								<ol>
			      									<li>Use MoMo App to scan the QR Code below and make payment.</li>
			      									<li>Back to this page, the validation will auto run and you your gifts will be sent</li>
			      								</ol>
				      						</div>
				      						<div class="col-md-12 qrCode">
				      							<img src="assets/img/momo_qr.png">
				      							<br>
				      							<p>Use MoMo App to scan this QR Code</p>
				      						</div>
				      						<div class="col-md-12 pay_with_billID">
				      							<a href="javascript:void(0)" class="">Tap to copy Bill ID</a>
				      							<p class="billID">20160524082534248458</p>
				      							<a href="javascript:void(0)" class="how_payment_bill">How to make payment with Bill ID?</a>
				      							<a href="javascript:void(0)" class="btn btn-payment btn-momo">Open MoMo App</a>
				      						</div>
			      						</div>
		      						</div>
		      					</div> -->
		      					<!-- <div id="tab_zalopay" class="tab-pane {{selectedChannelPayment == 'zalopay'? 'active':''}}">
		      						<div class="col-md-12">
			      						<div class="row zalopay_info">
			      							<div class="col-md-12 noitice">
			      								<ol>
			      									<li>Use Zalo Pay app to scan the QR Code below and make payment.</li>
			      									<li>Back to this page, the validation will auto run and you your gifts will be sent</li>
			      								</ol>
				      						</div>
				      						<div class="col-md-12 qrCode">
				      							<img src="assets/img/momo_qr.png">
				      							<br>
				      							<p>Use Zalo Pay App to scan this QR Code</p>
				      						</div>
				      						<div class="col-md-12 pay_with_billID">
				      							<a href="javascript:void(0)" class="">Tap to copy Bill ID</a>
				      							<p class="billID">20160524082534248458</p>
				      							<a href="javascript:void(0)" class="how_payment_bill">How to make payment with Bill ID?</a>
				      							<a href="javascript:void(0)" class="btn btn-payment btn-zalo">Open Zalo Pay App</a>
				      						</div>
			      						</div>
		      						</div>
		      					</div> -->
		      					<div class="clearfix"></div>
								<!-- <div class="form-group form-md-floating-label"> -->
									<a *ngIf="step1Finish && selectedChannelPayment == 'credit'" href="javascript:void(0)" class="btn btn-next next-payment {{step1Finish && step2Finish ? 'hide':''}} {{ !name_card || name_card.length == 0 || !card_number || card_number.length == 0 || !expired_date || expired_date.length == 0 || !security_code || security_code.length == 0  ? 'disabled':'' }}" (click)="payCreditCard2($event)">{{'pay' | translate	}} {{this.priceValue * this.quantity | number:'1.0-3'}} VND</a>

                    <a *ngIf="step1Finish && selectedChannelPayment == 'atm'" href="javascript:void(0)" class="btn btn-next next-payment {{step1Finish && step2Finish ? 'hide':''}}" (click)="payAtm($event)">{{'pay' | translate	}} {{this.priceValue * this.quantity | number:'1.0-3'}} VND</a>

                    <a #momoLink *ngIf="step1Finish && selectedChannelPayment == 'atm'" class="btn btn-next hidden" (click)="openMoMoPaymentUrl()" >Open MoMo Payment</a>

								<!-- </div> -->
		      				</div>
		      			</div>
                    </div>
      			</div>
      			<div class="wrapper-bx finish_box {{step2Finish == true ? 'active': ''}}">
      				<div class="box_top">
                        <h2 class="">{{'thank_you' | translate}}</h2>
                        <p>{{'thanks_for_using_text' | translate}}</p>
                        <p *ngIf="isSendingSmsEmail && !isSentSmsEmail"><b>{{'sending_your_gift' | translate}}...</b></p>
                        <p *ngIf="!isSendingSmsEmail && isSentSmsEmail">
                        	{{'your_gift_send_success' | translate}} <span style="text-transform: capitalize;">{{selectedChannelSend == 'sms' ? 'SMS' : selectedChannelSend}}</span> {{'successful' | translate}}.
                        </p>
                        <p *ngIf="!isSendingSmsEmail && !isSentSmsEmail && (selectedChannelSend == 'sms' || selectedChannelSend == 'email')">
                        	{{'please_select' | translate}} "<a [routerLink]="['/gift-sent']">{{ 'send_again'| translate }}</a>" {{'to_re_send_text' | translate}}.
                        </p>
                    </div>

                    <div class="box-content">
                    	<div class="col-md-12">
	                    	<div class="payment_sent_by_method">
								<div *ngIf="selectedChannelSend == 'sms' && isMobile">
									<a *ngIf="voucherObjectData" [href]='sanitize("sms:?&body="+customer_name_sms+" tang ban mot mon qua qua Got It. Bam vao duong link de xem eGift cua ban: "+voucherObjectData.voucherLink+"")' class="btn-send send-sms" (click)="sendVoucherAppToApp(voucherObjectData)">
										{{'send_via' | translate}} Sms
									</a>
								</div>
								<div *ngIf="selectedChannelSend == 'email' && isMobile" >
									<a *ngIf="voucherObjectData" [href]='sanitize("mailto:?subject="+customer_name_em+" gửi tặng bạn món quà từ Got It!&body="+voucherObjectData.message+" Click this link to see voucher detail: "+voucherObjectData.voucherLink+"")' class="btn-send send-email" (click)="sendVoucherAppToApp(voucherObjectData)">
										{{'send_via' | translate}} Email
									</a>
								</div>
								<!-- <div *ngIf="selectedChannelSend == 'facebook'">
									<a (click)="share()" class="btn-send send-facebook">
									    {{'send_via' | translate}} Facebook
									</a>
								</div> -->
								<div *ngIf="selectedChannelSend == 'messenger'">
									<a (click)="share()" class="btn-send send-messenger">
									    {{'send_via' | translate}} Messenger
									</a>
								</div>
								<div *ngIf="selectedChannelSend == 'viber'">

		  							<div class="noitice">
		  								<ol class="">
											<li>{{'enter_your_name_and_receiver_informations' | translate }}</li>
											<li>{{'open_viber_app' | translate }}</li>
											<li>{{'choose_friend_and_send_your_gift_link' | translate}}</li>
		  								</ol>
		  							</div>

									<a *ngIf="voucherObjectData" [href]='sanitize("viber://forward?text="+voucherObjectData.message+". Click this link below to see voucher detail: "+voucherObjectData.voucherLink+"")' (click)="sendVoucherAppToApp(voucherObjectData)" class="btn-send send-viber">
				                		{{'send_via' | translate}} Viber
				           			</a>
								</div>
								<div *ngIf="selectedChannelSend == 'whatsapp'">

		  							<div class="noitice">
		  								<ol class="">
											<li>{{'enter_your_name_and_receiver_informations' | translate }}</li>
											<li>{{'open_whatsapp_app' | translate }}</li>
											<li>{{'choose_friend_and_send_your_gift_link' | translate}}</li>
		  								</ol>
		  							</div>

									<a *ngIf="voucherObjectData" [href]='sanitize("whatsapp://send?text="+voucherObjectData.message+". Click this link below to see voucher detail: "+voucherObjectData.voucherLink+"")' (click)="sendVoucherAppToApp(voucherObjectData)" class="btn-send send-whatsapp">
										{{'send_via' | translate}} Whatsapp
									</a><br>
								</div>
		                    </div>
		                </div>
                    	<div class="col-md-8">
                    		<div class="payment_result">
								<div class="item">
									<div class="left">
										<p>{{'from' | translate}}</p>
									</div>
									<div class="right">
										<p *ngIf="selectedChannelSend == 'sms'" class="sender_name">{{customer_name_sms}}</p>
										<p *ngIf="selectedChannelSend == 'email'" class="sender_name">{{customer_name_em}}</p>
										<!-- <p *ngIf="selectedChannelSend == 'facebook'" class="sender_name">{{customer_name_fb}}</p> -->
										<p *ngIf="selectedChannelSend == 'messenger'" class="sender_name">{{customer_name_msg}}</p>
										<p *ngIf="selectedChannelSend == 'viber'" class="sender_name">{{customer_name_viber}}</p>
										<p *ngIf="selectedChannelSend == 'whatsapp'" class="sender_name">{{customer_name_whatsapp}}</p>
									</div>
								</div>
								<div  class="item">
									<div class="left">
										<p>{{'to' | translate}}</p>
									</div>

									<div class="right">
										<ng-template [ngIf]="selectedChannelSend == 'sms'">
											<p class="receiver_name">{{receiver_name_sms}}</p>
											<p class="phone">{{receiver_phone}}</p>
											<p class="product_info">Got It eGift - {{this.priceValue | number:'1.0-3'}} VND x {{this.quantity}}</p>
											<p class="message">{{message_sms}}</p>
										</ng-template>
										<ng-template [ngIf]="selectedChannelSend == 'email'">
											<p class="receiver_name">{{receiver_name_em}}</p>
											<p class="email">{{receiver_email_em}}</p>
											<p class="product_info">Got It eGift - {{this.priceValue | number:'1.0-3'}} VND x {{this.quantity}}</p>
											<p class="message">{{message_em}}</p>
										</ng-template>
										<!-- <ng-template [ngIf]="selectedChannelSend == 'facebook'">
											<p class="receiver_name">{{receiver_name_fb}}</p>
											<p class="product_info">Got It eGift - {{this.priceValue | number:'1.0-3'}} VND x {{this.quantity}}</p>
											<p class="message">{{message_fb}}</p>
										</ng-template> -->
										<ng-template [ngIf]="selectedChannelSend == 'messenger'">
											<p class="receiver_name">{{receiver_name_msg}}</p>
											<p class="product_info">Got It eGift - {{this.priceValue | number:'1.0-3'}} VND x {{this.quantity}}</p>
											<p class="message">{{message_msg}}</p>
										</ng-template>
										<ng-template [ngIf]="selectedChannelSend == 'viber'">
											<p class="receiver_name">{{receiver_name_viber}}</p>
											<p class="product_info">Got It eGift - {{this.priceValue | number:'1.0-3'}} VND x {{this.quantity}}</p>
											<p class="message">{{message_viber}}</p>
										</ng-template>
										<ng-template [ngIf]="selectedChannelSend == 'whatsapp'">
											<p class="receiver_name">{{receiver_name_whatsapp}}</p>
											<p class="product_info">Got It eGift - {{this.priceValue | number:'1.0-3'}} VND x {{this.quantity}}</p>
											<p class="message">{{message_whatsapp}}</p>
										</ng-template>
									</div>
								</div>
								<div  class="item">
									<div class="left">
										<p>{{'payment' | translate}}</p>
									</div>
									<div class="right">
										<p class="pay_method">{{selectedChannelPaymentText}}</p>
									</div>
								</div>
								<div  class="item">
									<div class="left">
										<p>{{'total' | translate}}</p>
									</div>
									<div class="right">
										<p class="total">{{this.priceValue * this.quantity | number:'1.0-3'}} VND</p>
									</div>
								</div>

							</div>
							<div  class="item">
								<a href="javascript:void(0)" [routerLink]="['/send-egift']" class="send_another">{{'send_another_gift' | translate}}</a>
								<a href="javascript:void(0)" [routerLink]="['/']" class="back_hompage">{{'back_to_hompage' | translate}}</a>
							</div>
                    	</div>
                    </div>
      			</div>
      		</div>
      		<div class="col-md-3 right child">
      			<div *ngIf="step3Finish != true" class="show_order_mb">
      				<a href="javascript:void(0)" (click)="showOrderInfo()" class="{{showOrder ? 'clicked':''}} {{translate.currentLang}}">{{'show_order_informations' | translate}}</a>
      			</div>
      			<div class="box-content">
				    <h3>{{'receiver_infomations' |translate}}</h3>
				    <div *ngIf="selectedChannelSend == 'email'"  class="receive-detail-new">
				      	<p class=""><label>{{'name' |translate}}</label><span class="">{{receiver_name_em}}</span></p>
				      	<p *ngIf="receiver_email_em && receiver_email_em.length > 0" class=""><label>Email</label><span class="">{{receiver_email_em}}</span></p>
				      	<p class=""><label>{{'channel' |translate}}</label> <span class="">Email</span></p>

				    </div>
				    <div *ngIf="selectedChannelSend == 'sms'"  class="receive-detail-new">
				      	<p class="" style=""><label>{{'name' |translate}}</label> <span class="">{{receiver_name_sms}}</span></p>
				      	<p *ngIf="receiver_phone && receiver_phone.length > 0" class=""><label>{{'phone'| translate}}</label><span class="">{{receiver_phone}}</span></p>
				      	<p class=""><label>{{'channel' |translate}}</label><span class="text-channel">SMS</span></p>
				    </div>

				    <div *ngIf="selectedChannelSend == 'messenger'"  class="receive-detail-new">
				      	<p class=""><label>{{'name' |translate}}</label> <span class="">{{receiver_name_msg}}</span></p>
				      	<p class=""><label>{{'channel' |translate}}</label> <span class="">Messenger</span></p>
				    </div>
				    <!-- <div *ngIf="selectedChannelSend == 'facebook'"  class="receive-detail-new">
				      	<p class="">Name <span class="">{{receiver_name_fb}}</span></p>
				      	<p class="">Channel <span class="">Facebook</span></p>
				    </div> -->
				    <div *ngIf="selectedChannelSend == 'viber'"  class="receive-detail-new">
				      	<p class=""><label>{{'name' |translate}}</label> <span class="">{{receiver_name_viber}}</span></p>
				      	<p class=""><label>{{'channel' |translate}}</label> <span class="">Viber</span></p>
				    </div>
				    <div *ngIf="selectedChannelSend == 'whatsapp'"  class="receive-detail-new">
				      	<p class=""><label>{{'name' |translate}}</label> <span class="">{{receiver_name_whatsapp}}</span></p>
				      	<p class=""><label>{{'channel' |translate}}</label> <span class="">Whatsapp</span></p>
				    </div>
				</div>

				<div class="box-content" *ngIf="step1Finish">
				    <h3>{{'payment_method' |translate}}</h3>
				    <div id="payment-method-detail" class="payment-method-detail">
				      	<p class="" *ngIf="selectedChannelPayment == 'credit'">
				      		<label>Credit Card</label>
				      		<span class=""><img src="assets/img/pay_creditcard.png"></span>
				      	</p>
				      	<p class="col-full" *ngIf="selectedChannelPayment == 'atm'">
				      		<label>ATM</label>
				      		<span class=""><img src="assets/img/atm-card.png"></span>
				      	</p>
				      	<!-- <p class="col-full" *ngIf="selectedChannelPayment == 'zalopay'">
				      		Type
				      		<span class="big">Zalo Pay</span>
				      		<img src="assets/img/pay_zalo.png">
				      	</p> -->
				    </div>
				</div>
				<div class="box-content">
				    <h3>{{'order_summary' |translate}}</h3>
				    <div id="order-summary" class="order-summary">
				      	<p class=""><label>{{'quantity' |translate}}</label> <span class="">{{this.quantity}}</span></p>
				      	<p class=""><label>{{'value' |translate}}</label> <span class="">{{this.priceValue | number:'1.0-3'}} VND</span></p>
				    </div>
				    <div class="total">
			      		<p class="col-left">{{'total' |translate}}</p>
			      		<p class="col-right">{{this.priceValue * this.quantity | number:'1.0-3'}} VND</p>
			      	</div>

				</div>

				<!-- <div class="noitice momo {{(selectedChannelPayment == 'momo' ? 'active':'')}}" >
					<p>Please open your MoMo app, scan the QR Code and complete payment</p>
				</div>

				<div class="noitice zalo {{(selectedChannelPayment == 'zalopay' ? 'active':'')}}" >
					<p>Please open your Zalo Pay app, scan the QR Code and complete payment</p>
				</div> -->
				<!--<a *ngIf="!step3Finish && selectedChannelSend != 'whatsapp' && selectedChannelSend != 'viber' && selectedChannelPayment != 'zalopay' && selectedChannelPayment != 'momo'" href="javascript:void(0)" class="btn btn-next {{step1Finish ? 'next-payment' : 'next-write-message'}}" (click)="next_process($event)">{{(step1Finish ? 'Pay 100,000 VND': 'Next')}}</a>&lt;!&ndash; Show button with payment Creditcard &ndash;&gt;-->
				<!-- Show button with payment Creditcard -->

				<!-- Show button with payment Creditcard -->
        <!-- <div [formGroup]="cybersourceForm" id="payment_confirmation"  >

					<input type="hidden" id="card_type" name="card_type" value="{{detectCardType(card_number)}}" />
					<input type="hidden" id="card_cvn" name="card_cvn" value="" [(ngModel)]="security_code" />
					<input type="hidden" id="card_number" name="card_number" value="" [(ngModel)]="card_number"/>
					<input type="hidden" id="card_expiry_date" name="card_expiry_date" value=""  [(ngModel)]="expired_date" />

          <button *ngIf="formLoaded == true" class="btn btn-next next-payment" form="csPayment">
            Confirm
          </button>
        </div> -->

				<form [formGroup]="cybersourceForm" id="cybersourceForm" action="https://testsecureacceptance.cybersource.com/silent/pay" method="post">
			 </form>

				<a *ngIf="!step3Finish && selectedChannelSend != 'whatsapp' && selectedChannelSend != 'viber' && selectedChannelPayment == 'zalopay'" href="javascript:void(0)" class="btn btn-next btn-validateApp" (click)="validatePayment($event)">{{(step1Finish ? 'Validate My Payment Zalo': 'Next')}}</a><!-- Show button with zalo app -->

				<a *ngIf="!step3Finish && selectedChannelSend != 'whatsapp' && selectedChannelSend != 'viber' && selectedChannelPayment == 'momo'" href="javascript:void(0)" class="btn btn-next btn-validateApp" (click)="validatePayment($event)">{{(step1Finish ? 'Validate My Payment MoMo': 'Next')}}</a><!-- Show button with momo app -->

				<!-- <a *ngIf="!step3Finish && selectedChannelSend == 'whatsapp'" href="javascript:void(0)" class="btn-whatsapp btn btn-next {{step1Finish ? 'next-payment' : 'next-write-message'}}" (click)="next_process($event)">Open Whatsapp App</a> -->

				<!-- <a *ngIf="!step3Finish && selectedChannelSend == 'viber'" href="javascript:void(0)" class="btn-viber btn btn-next {{step1Finish  ? 'next-payment' : 'next-write-message'}}" (click)="next_process($event)">Open Viber App</a> -->
      		</div>
      		<div class="right-fixed-wrap"></div>
      	</div>
	</div>
	<div #scrollTo></div>
</section>

<div id="payment-modal" class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog"  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header" style="overflow:hidden">
        <h4 class="modal-title pull-left">Payment</h4>
      </div> -->
      <div  class="modal-body">
      	<div class="main-content">
	      	<a (click)="staticModal.hide()" [hidden]="!transactionFailed" class="close-top">Close</a>
	      	<div class="loadingPayment" [hidden]="!processing">
	      		<p class="img">
	      			<span>
	      				<i class="fa fa-spinner fa-spin"></i>
	      			</span>
	            </p>
	            <h2>{{'payment' | translate}}</h2>
	            <p>{{'your_payment_in_progress' |translate}}</p>
	      	</div>
	      	<div class="loadingPayment failed" [hidden]="!transactionFailed" style="display: none;">

	      		<p class="img">
	      			<span>
	      				<img src="../assets/img/close-white.png"/>
	      			</span>
	            </p>
	            <h2>{{'your_payment_failed' | translate}}</h2>
	            <p>{{'please_check_again' | translate}}</p>
	      	</div>
	        <!--< div [hidden]="!transactionFailed">
	          <label>Your Transaction is failed</label>
	          <button (click)="staticModal.hide()" class="btn">Close</button>
	        </div> -->

	        <iframe  #iframe width="550" height="350"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notificationModal" bsModal #notificationModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <div class="content">
              <button type="button" class="close pull-right" aria-label="Close" (click)="notificationModal.hide()"><span aria-hidden="true">&times;</span></button>
              <h2 class="title" style="margin-top:0">{{ 'notification' | translate }}</h2>
              <p class="subtitle">{{ 'payment_atm_failed' | translate }}</p>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticSMSEmailModal" bsModal #staticSMSEmailModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="overflow:hidden">
          <h4 class="modal-title pull-left">{{'notification' | translate}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticSMSEmailModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p [innerHTML]="noticeMessage"></p>
        </div>
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="staticSMSEmailModal.hide()">Cancel</button>
        </div> -->
      </div>
    </div>
  </div>
<div class="loading" *ngIf="isLoading">
  <div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>