<section class="accordion-section faq_page">
  <div class="container-fluid">
    <div class="row head">
      <div class="col-md-12">
        <div class="box_top tabbable-line">
            <h2 class="">{{'faq' | translate}}</h2>
            <div id="tab_all_faq" class="  dropdown-mobile wrapper-dropdown" tabindex="1" (click)="toggleClick($event)" [class.active]="faqDropdownClicked">
                <span>{{'sort_by' | translate}}<small>{{'for_receiver' | translate}}</small></span>
                <ul class="nav nav-tabs ">
                    <li class="active">
                      <a href="#tab_accord_1" data-toggle="tab" aria-expanded="false" (click)="elementClicked($event)">
                      {{'for_receiver' | translate}}</a>
                    </li>
                    <li>
                      <a href="#tab_accord_2" data-toggle="tab" aria-expanded="true" (click)="elementClicked($event)">
                      {{'for_seder' | translate}} </a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
        <div class="box_content">
          <div class="row">
            <div class="tab-content">
              <div class="tab-pane active" id="tab_accord_1">
              	<accordion>
              		<div class="col-md-6">
                    <div class="wrap_faq">
              			<accordion-group heading="{{'receiver_q1' | translate}}">
				            <p>{{'receiver_r1a' | translate}}</p>
	                          <p>{{'receiver_r1b' | translate}}</p>
				        </accordion-group>
				        <accordion-group heading="{{'receiver_q2' | translate}}">
				            {{'receiver_r2' | translate}}
				        </accordion-group>
				        <accordion-group heading="{{'receiver_q3' | translate}}">
				           {{'receiver_r3' | translate}}
				        </accordion-group>
                        <accordion-group heading="{{'receiver_q4' | translate}}">
                          <p>{{'receiver_r4a' | translate}}</p>
                          <p>{{'receiver_r4b' | translate}}</p>
                        </accordion-group>
                      </div>
              		</div>
			        <div class="col-md-6">
                <div class="wrap_faq">
			        	<accordion-group heading="{{'receiver_q5' | translate}}">
				           {{'receiver_r5' | translate}}
				        </accordion-group>
				        <accordion-group heading="{{'receiver_q6' | translate}}">
				          {{'receiver_r6' | translate}}
				        </accordion-group>
				        <accordion-group heading="{{'receiver_q7' | translate}}">
				           {{'receiver_r7' | translate}}
				        </accordion-group>
				       <!--  <accordion-group heading="Choosing the best audio player software for your computer?">
				          Choosing the best audio player software for your computer?
				        </accordion-group> -->
			        </div>
            </div>
			        
			    </accordion>
                
              </div>
              <div class="tab-pane" id="tab_accord_2">
                <accordion>
                    <div class="col-md-6">
                      <div class="wrap_faq">
                        <accordion-group heading="{{'sender_q1' | translate}}">
                            <p>{{'sender_r1' | translate}}</p>
                            <!--   <p>Truth and trust are connected together. You could be honest for years but one lie can destroy the trust you have built all this time.</p> -->
                        </accordion-group>
                        <accordion-group heading="{{'sender_q2' | translate}}">
                           <p>{{'sender_r2' | translate}}</p>
                        </accordion-group>
                        <accordion-group heading="{{'sender_q3' | translate}}">
                             <p>{{'sender_r3a' | translate}}</p>
                              <p>{{'sender_r3b1' | translate}}<a [routerLink]="['/privacypolicy']"> {{ webURL + '/privacypolicy'}}</a> {{'sender_r3b2' | translate}}</p>
                        </accordion-group>
                       
                    </div>
                  </div>
                    <div class="col-md-6">
                      <div class="wrap_faq">
                         <accordion-group heading="{{'sender_q4' | translate}}">
                          <p>{{'sender_r4a' | translate}}</p>
                          <p>{{'sender_r4b' | translate}}</p>
                        </accordion-group>
                        <accordion-group heading="{{'sender_q5' | translate}}">
                          <p>{{'sender_r5' | translate}}<a [routerLink]="['/gift-sent']">{{ webURL + '/gift-sent'}}</a></p>
                        </accordion-group>
                        <accordion-group heading="{{'sender_q6' | translate}}">
                          <p>{{'sender_r6' | translate}}</p>
                        </accordion-group>
                       <!--  <accordion-group heading="Thousands now adware removal who never thought they2…?">
                            2Thousands now adware removal who never thought they…?
                        </accordion-group>
                        <accordion-group heading="Choosing the best audio player software for your computer2?">
                          2Choosing the best audio player software for your computer?
                        </accordion-group> -->
                    </div>
                  </div>
                </accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
   

  <!-- regular accordion -->
    
</section>