<div class="box-content">
    <h3>{{'my_account' | translate}}</h3>
    <div id="account-detail" class="account-detail" >
        <p class=""><a [routerLink]="['/account']" [routerLinkActive]="['active']" >{{'account_setting'|translate}}</a></p>
        <ng-container *ngIf="userProviderLogin=='password'">
         <p class=""><a [routerLink]="['/changepassword']" [routerLinkActive]="['active']" >{{'change_password' | translate}}</a></p>
        </ng-container>
          <ng-container *ngIf="userProviderLogin=='google.com' || userProviderLogin=='facebook.com' ">
          </ng-container>
       
    </div>
</div>
<div class="box-content">
    <h3>{{'history' | translate}}</h3>
    <div id="history-detail" class="history-detail">
        <p><a [routerLink]="['/gift-received']" [routerLinkActive]="['active']" >{{'gift_received' | translate}}</a></p>
        <p><a [routerLink]="['/gift-sent']" [routerLinkActive]="['active']" >{{'gift_sent' | translate}}</a></p>
    </div>
</div>
