<section class="head-landing">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="head-title">
					<h2>{{'got_it_egift_voucher' | translate}}</h2>
					<p>{{'the_got_it' | translate}}</p>
					<a href="javascript:void(0)" [routerLink]="['/send-egift']" class="btn btn-lg btn-send" >{{'send_an_egift' | translate}}
						<!-- <span>{{'to_your_friend' | translate}}</span> -->
					</a>
				</div>
				<div class="head-content">
                    <div class="row">

					<div class="col-md-6 first">
                        <div class="box-item box1">
    						<img src="../../assets/img/ic-multi-choices.png">
                            
    						<h4>{{'multi_choices' | translate}}</h4>
    						<p>{{'on_receiving_your_gift' | translate}}</p>
                        </div>
                        <div class="box-item">
                            <img src="../../assets/img/ic-pickup.png">
                            <h4>{{'pick_up_location_and_brand' | translate}}</h4>
                            <p>{{'they_then_select' | translate}}</p>
                        </div>
					</div>
					<div class="col-md-6 second">
                        <div class="box-item box2">
    						<img src="../../assets/img/ic-simple.png">
    						<h4>{{'easy_to_use' | translate}}</h4>
    						<p>{{'then_they_simply' | translate}}</p>
                        </div>
                        <div class="box-item box3">
                            <img src="../../assets/img/ic-convenience.png">
                            <h4>{{'convenience' | translate}}</h4>
                            <p>{{'its_that_simple' | translate}}</p>
                        </div>
					</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
                <div class="img1">
                    <!-- <img src="../../assets/img/d-mockup.png" > -->
                </div>    
            </div>
		</div>
</div>
</section>
<section class="brand-section">
  <div class="container">
    <div class="row">
        <app-listbrand></app-listbrand>
    </div>
  </div>
</section>
<section class="voucher-section">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-8 voucher-step">

                     <div class="step step1">
                        <img src="../../assets/img/ic-gift2x.png" >
                             <p>
                                {{'choose_your_gift'|translate}}
                            </p>                      
                    </div>
                    <div class="step step2">
                        <img src="../../assets/img/ic-personalize2x.png" >
                            <p>
                                {{'personalize'| translate}}
                            </p>
                            
                    </div>
                    <div class="step step3">
                        <img src="../../assets/img/ic-send2x.png" >
                            <p>
                                {{'send_gift'|translate}}
                            </p>
                            
                    </div>



                </div>
                <div class="col-md-2">
                    
                </div>
            </div>
            <div class="row">
                <div class="voucher-egift">
                    <p *ngIf="!staticProductData" style="text-align: center;height: 180px;background: #fff;border-radius: 16px;padding-top: 80px;">
                        No has product. 
                    </p>
                    <ul>
                        <li *ngFor="let itemPrice of listProductPrice | convertArray">
                            <p class="productname">{{staticProductData ? (translate.currentLang == 'vi' ? staticProductData.name_vi : staticProductData.name_en)  : 'Loading...'}}</p>
                            <p>{{itemPrice.value | number:'1.0-3'}} VND</p>
                            <a class="btn-sendnow" [routerLink]="['/send-egift']" (click)='chooseProduct(itemPrice.value,productStaticId,itemPrice.key)'>{{'send_now' | translate}}</a>
                        </li>
                        
                        <!-- <li>
                            <p class="productname" >GOT IT EGIFT VOUCHER</p>
                            <p>50,000 VND</p>
                            <a class="btn-sendnow" [routerLink]="['/product']" (click)='chooseProduct(50000,623,1374,"https://img.gotit.vn/compress/580x580/2017/06/1497857914_Vsddr.png")'>{{'send_now' | translate}}</a>
                        </li>
                        <li>
                            <p class="productname">GOT IT EGIFT VOUCHER</p>
                            <p>100,000 VND</p>
                            <a class="btn-sendnow" [routerLink]="['/product']" (click)='chooseProduct(100000,633,1375,"https://img.gotit.vn/compress/580x580/2017/06/1497858504_cZAtw.png")'>{{'send_now' | translate}}</a>
                        </li>
                        <li>
                            <p class="productname">GOT IT EGIFT VOUCHER</p>
                            <p>200,000 VND</p>
                            <a class="btn-sendnow" [routerLink]="['/product']" (click)='chooseProduct(200000,634,1376,"https://img.gotit.vn/compress/580x580/2017/06/1497858723_Fw3Gq.png")'>{{'send_now' | translate}}</a>
                        </li>
                        <li>
                            <p class="productname">GOT IT EGIFT VOUCHER</p>
                            <p>500,000 VND</p>
                            <a class="btn-sendnow" [routerLink]="['/product']" (click)='chooseProduct(500000,635,1377,"https://img.gotit.vn/compress/580x580/2017/06/1497858857_OWpE9.png")'>{{'send_now' | translate}}</a>
                        </li>
                        <li>
                            <p class="productname">GOT IT EGIFT VOUCHER</p>
                            <p>1,000,000 VND</p>
                            <a class="btn-sendnow" [routerLink]="['/product']" (click)='chooseProduct(1000000,673,1445,"https://img.gotit.vn/compress/580x580/2017/06/1497858947_suCvF.png")'>{{'send_now' | translate}}</a>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
    </div>   
</section>
<!-- <section class="accordion-section faq">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <div class="box_top tabbable-line">
                    <h2 class="pull-left">{{'faq_full' | translate}}</h2>
                    <a class="pull-right viewright">{{'view_all' | translate}}</a>
                </div>
                <div class="box_content">
                    <div class="row">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_accord_1">
                            	<accordion>
				              		<div class="col-md-6">
                                        <div class="wrap_faq">
    				              			<accordion-group heading="Compare prices find the best computer accessory?">
    								            <p>You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of improving and expanding the business you deal with, are extremely limited. It’s not critical for the employees to like the boss, but they have to trust him or her. If not, he won’t be able to lead them and the workers will have little motivation at work.</p>
    					                          <p>Truth and trust are connected together. You could be honest for years but one lie can destroy the trust you have built all this time.</p>
    								        </accordion-group>
    								        <accordion-group heading="Male Menopause The Alternative Anti Aging Approach">
    								            Male Menopause The Alternative Anti Aging Approach
    								        </accordion-group>
    								        <accordion-group heading="An ugly myspace profile will sure ruin your reputation?">
    								            An ugly myspace profile will sure ruin your reputation?
    								        </accordion-group>
                                        </div>
				              		</div>
							        <div class="col-md-6">
                                        <div class="wrap_faq">
    							        	<accordion-group heading="Thousands now adware removal who never thought they…?">
    								            Thousands now adware removal who never thought they…?
    								        </accordion-group>
    								        <accordion-group heading="Choosing the best audio player software for your computer?">
    								          Choosing the best audio player software for your computer?
    								        </accordion-group>
    								        <accordion-group heading="Thousands now adware removal who never thought they…?">
    								            Thousands now adware removal who never thought they…?
    								        </accordion-group>
								        </div>
							        </div>
							        
							    </accordion>
                            </div>    -->
                       <!--  </div> -->  <!-- End tab content -->
                    <!-- </div>  -->  <!-- End Row -->
                <!-- </div>  -->  <!-- End box content -->
              <!--   <a class="pull-right viewall_mobi">{{'view_all' |translate}}</a> -->
           <!--  </div> --> <!-- End Col-12 -->
        <!-- </div> --><!-- End Row -->
    <!-- </div>  --> <!-- /end container -->    
<!-- </section>  --><!--  /end section --> 