<div class="container" id="static_page" >
	<div class="row row-no-padding"	*ngIf="translate.currentLang == 'vi'  ">
		
		<div class="about_page" style="padding: 10px;margin: 40px 120px 0px 120px;">
			<strong class="title">Về Got It </strong>
			<div>
				<p>DAYONE cho ra mắt dịch vụ gửi quà tặng nhanh chóng và cao cấp đầu tiên của Việt Nam trên nền tảng ứng dụng điện thoại thông minh và website vào cuối năm 2015.</p>
				<p>DAYONE giới thiệu dịch vụ gửi quà ‘Got It’ mà chúng tôi tin rằng sẽ nhanh chóng trở thành sự lựa chọn ưa thích của người Việt Nam nhờ sự giản tiện và nhanh chóng.</p>
				<p>DAYONE không chỉ đơn thuần là một công ty ‘start up’. Chúng tôi là một đội ngũ năng động và nhiều kinh nghiệm. Chúng tôi đồng hành cùng đối tác và khách hàng trong quá trình phấn đấu  không ngừng cho thành công.</p>
				<p>DAYONE cam kết sự trung thực và ngay thẳng và tin tưởng vào sự hợp tác lâu dài và trên tinh thần hai bên cùng có lợi (win/win) sẽ tiếp tục phát triển thật tốt trong tương lai.</p>
			</div>
		</div>
	</div>

	<div class="row row-no-padding"	*ngIf="translate.currentLang == 'en' ">
		<div class="about_page" style="padding: 10px;margin: 40px 120px 0px 120px;">
			<strong class="title">ABOUT GOT IT</strong>
			<div>
				<p>DAYONE will launch Vietnam’s first premium instant mobile gifting application and website in late 2015.</p>
				<p>DAYONE will launch ‘Got It’ which we believe will quickly become the preferred choice of Vietnamese for simplistic and instant gifting.</p>
				<p>DAYONE isn’t your standard start up company, with a dynamic and very experienced team each with a proven history in understanding the needs of partners and consumers and with a relentless drive for success</p>
				<p>DAYONE brings honesty and integrity and believes in long term win/win partnerships which will be cherished and grown over many years</p>
			</div>

		</div>
	</div>
</div>

