<section class="login">
	<div class="container">
		<div class="row">
			<div class="content">
				
              	<!-- <div class="form-login">
					<h2 class="title">{{ 'login' | translate }}</h2>
					<p class="subtitle">{{ 'dont_have_account' | translate }} <a href="javascript:void(0)" [routerLink]="['/signup']">{{ 'create_your_account' | translate }}</a>{{ 'a_minute' | translate }}</p>
					<p *ngIf="errorLogin" style="color:red">{{errorLogin}}</p>
					<div class="group_button">
						<a class="social-icon-color facebook" data-original-title="facebook" href="javascript:void(0);" (click)="signInWithFacebook()">Login with Facebook</a>
						<a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:void(0);" (click)="signInWithGoogle()">Login with Google</a>
					</div>
             	</div> -->
	          

				<form class="login-form" action="#" method="post" novalidate="novalidate" autocomplete="off" #LoginForm="ngForm">
					<div class="form-title">
						<h2>{{ 'login' | translate }}</h2>
						<span class="form-subtitle"> {{ 'dont_have_account' | translate }} <a href="javascript:void(0)" [routerLink]="['/signup']">{{ 'create_your_account' | translate }}</a>{{ 'a_minute' | translate }} </span>
					</div>
					<div class="col-md-12">
						<div class="row">
							<p *ngIf="emailControl.errors && emailControl.errors.required && emailControl.touched" class="help-block error-msg">
	                        	{{ 'email_required' | translate}}
	                      	</p>
	                      	<p  *ngIf="emailControl.errors && emailControl.errors.pattern && emailControl.touched" class="help-block error-msg">
				               {{ 'email_invalid' | translate}}
				            </p>
	                      	<p *ngIf="passwordControl.errors && passwordControl.errors.required && passwordControl.touched" class="help-block error-msg">
	                        	{{ 'password_required' | translate}}
	                      	</p>
	                      	<p *ngIf="errorLogin != null" class="help-block error-msg">
	                        	{{errorLogin}}
	                      	</p>
                      	</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group form-md-floating-label">
						<input class="form-control {{email && email.length > 0 ? 'edited':''}}" id="email" [(ngModel)]="email" type="text" autocomplete="off" name="email" #emailControl="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
						<label for="email">Email</label>
					</div>
					<div class="form-group form-md-floating-label">
						<input class="form-control {{password && password.length > 0 ? 'edited':''}}" [(ngModel)]="password" type="password" autocomplete="password" name="password" #passwordControl="ngModel" required>
						<label for="password">{{ 'password' | translate }}</label>
					</div>
					<div class="form-actions">
						<div class="pull-left">
							<input type="checkbox" name="remember2" value="1" id="remember">
							<label for="remember" class="rememberme check">{{ 'remember_me' | translate }} </label>
						</div>
						<div class="pull-right forget-password-block">
							<a href="javascript:;" [routerLink]="['/forgotpassword']" id="forget-password" class="forget-password">{{ 'forgotpassword' | translate }}</a>
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-submit" [disabled]="(!LoginForm.valid )" (click)="loginRegular()">{{ 'login' | translate }}</button>
					</div>
					
					<div class="login-options">
						<h4 class="">{{ 'or_login_with' | translate }}</h4>
						<!-- <ul class="social-icons">
							<li>
								<a class="social-icon-color facebook" data-original-title="facebook" href="javascript:void(0);" (click)="signInWithFacebook()"></a>
							</li>
							
							<li>
								<a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:void(0);" (click)="signInWithGoogle()"></a>
							</li>
							
						</ul> -->
						<div class="group_button">
		                    <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:void(0);" (click)="signInWithFacebook()">Login with Facebook</a>
		                    <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:void(0);" (click)="signInWithGoogle()">Login with Google</a>
		                </div>
					</div>
				</form>
			</div>
		</div>
	</div>

<div class="loading" *ngIf="isLoading">
  <div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>
</section>