.hideMenu .navbar-nav.navbar-right li{
  display: none;
}
.hideMenu .navbar-nav.navbar-right li.dropdown-user, .hideMenu .navbar-nav.navbar-right li.dropdown-lang{
  display: block;
/*  margin-right: 0;
*/}
.hideMenu .navbar-nav.navbar-right li.dropdown-user.open ul li, .hideMenu .navbar-nav.navbar-right li.dropdown-lang.open ul li{
  display: block;
}
.hideMenu .navbar-nav.navbar-right li.dropdown-user span.username{
  /*display: none;*/
}
.hideMenu .navbar-nav.navbar-right li.dropdown-user.mb{
  display: block !important;
}
.login-btn,.login-btn:hover,
.login-btn:focus,.login-btn:active{
  display: inline-block;
  background: #ff5f5f;
  border-radius: 8px;
  background-color: #ff5f5f !important;
  height: 36px;
  line-height: 34px !important;
  font-family: Gotham Rounded;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-align: center;
  color: #ffffff !important;
  margin-top: 10px;
  min-width: 110px;
  padding:0 !important;
  cursor: pointer;
}
.help-block.error-msg{
  text-align: left;
}

/*
//desgin lang menu*/

.navbar-inverse .navbar-right li.dropdown-lang{
  /*padding-left: 50px;*/
  position: relative;
}
.navbar-inverse .navbar-right li.dropdown-lang > a:before {
  content : "";
  position: absolute;
  height: 20px;
  width: 1px;
  top: 50%;
  left: 0;
  margin-top: -10px;
  display: inline-block;
  background-color: #dfe0e3;
}

.navbar-inverse .navbar-right li.dropdown-lang > a img,.navbar-inverse .navbar-nav li.dropdown-lang.open > a img{
  width: 30px;
  height: 30px;
}

.navbar-inverse .navbar-nav li.dropdown-lang > a,.navbar-inverse .navbar-nav li.dropdown-lang.open > a{
  padding: 10px 8px 8px 30px !important;
  position: relative;
  background:none;
  color: #303030;
  margin-top: 7px;
}
.navbar-inverse .navbar-nav li.dropdown-lang > a span.caret-lang{
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
}
.navbar-inverse .navbar-nav li.dropdown-lang > a span.caret-lang:after{
  content: "\e903";
  font-family: 'icomoon' !important;
  /*position: absolute;*/
  font-size: 12px;
  padding-left: 5px;
}

.navbar-inverse .navbar-nav li.dropdown-lang .dropdown-menu.drop_language{
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e3e3;
  min-width: 160px;
}
.navbar-inverse .navbar-nav li.dropdown-lang .dropdown-menu.drop_language a{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
.navbar-inverse .navbar-nav li.dropdown-lang .dropdown-menu.drop_language img{
  width: 20px;
  height: 20px;
}
/*login modal*/
#loginModal, #enterPassModal{
  text-align: center;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
#loginModal .modal-dialog , #enterPassModal .modal-dialog{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  max-width: 570px;
}
#loginModal .modal-dialog .modal-content, #enterPassModal .modal-dialog .modal-content{
    background: #fff;
    color: #000;
    border: 0;
    box-shadow: none;
    border-radius: 16px; 
  } 
#loginModal .modal-dialog .modal-body, #enterPassModal .modal-dialog .modal-body{
  padding: 10px 30px 20px;
}
#loginModal .modal-dialog .modal-body button.close{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 15px;
  color: #000;
  background: url(../../assets/img/close-grey.png) no-repeat center center;
  background-size: 24px 24px;
  opacity: 1;
}

#loginModal .modal-dialog .modal-body h2.title{
  font-family: Gotham Rounded;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
#loginModal .modal-dialog .modal-body p.subtitle{
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  /*max-width: 400px;*/
  margin: 0 auto 30px;
}
  #loginModal .modal-dialog .modal-body p.subtitle a{
    color: #ff5f5f;
    cursor: pointer;
  }
#loginModal .modal-dialog .modal-body .group_button{
  text-align: center;
}
#loginModal .modal-dialog .modal-body .group_button a{
  display: block;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 12px;
  background: #3b5998;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;  
  padding-left: 70px;
  position: relative;
}
#loginModal .modal-dialog .modal-body .group_button a:before{
  content: '';
  width: 70px;
  display: block;
  position: absolute;
  height: 50px;
  border-right: 1px solid #fff;
  top: 0;
  left: 0;
}
#loginModal .modal-dialog .modal-body .group_button a.facebook:before{
  background: url(../../assets/img/facebook2x.png) no-repeat center center;
  background-size: auto 20px;
}
#loginModal .modal-dialog .modal-body .group_button a.googleplus{
  background: #d34836;
}
#loginModal .modal-dialog .modal-body .group_button a.googleplus:before{
  background: url(../../assets/img/googleplus2x.png) no-repeat center center;
  background-size: auto 20px;
}

#loginModal .modal-dialog .modal-body form{
  /*max-width: 400px;*/
  margin: 0 auto;
}
#loginModal .form-group.form-md-floating-label {
  position: relative;
  /*margin: 0 0 35px 0;*/
}
#loginModal .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;
}
#loginModal .form-group.form-md-floating-label textarea.form-control ~ label{
  top:15px;
  transform:inherit;
}
#loginModal .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}
#loginModal .form-group .form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
#loginModal .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}
#loginModal .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}
#loginModal .form-group.form-md-floating-label .form-control:focus,
#loginModal .form-group.form-md-floating-label .form-control.edited{
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 6px;
}
#loginModal .form-group.form-md-floating-label .form-control.edited ~ label, 
#loginModal .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #2f88ff;
  border: 1px solid #2f88ff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#loginModal .content .form-actions{
  display: block;
  clear: both;
  overflow: hidden;
}
#loginModal .content .form-actions button.btn-submit,#loginModal .content .form-actions button.btn-submit:focus{
  height: 46px;
  line-height: 44px;
  border-radius: 12px;
  background-color: #ff5f5f;
  display: block;
  width: 100%;
  padding:0;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  outline: 0;
  margin: 15px auto;
}
#loginModal .login-options{
  display: block;
  overflow: hidden;
}
#loginModal .login-options .social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin: 0px;
  margin-bottom: 15px; 
  width: 100%;
}
#loginModal .login-options .social-icons li a{
  width: 100%;
  height: 46px;
  border-radius: 12px;
  background-color: #3b5998;
  border: solid 2px #3b5998;
  display: block;
  position: relative;
  text-align: center;

}
#loginModal .login-options .social-icons li a.facebook{
  background-color: #3b5998;
  border-color: #3b5998;
  background: url(../../assets/img/facebook2x.png) no-repeat center center #3b5998;
  background-size: auto 20px;
}
#loginModal .login-options .social-icons li a.googleplus{
  background-color: #d34836;
  border-color: #d34836;
  background: url(../../assets/img/googleplus2x.png) no-repeat center center #d34836;
  background-size: auto 20px;
}
/*#loginModal .login-options .social-icons li a:before{
  content: '\e91d';
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  color: #fff;
}
#loginModal .login-options .social-icons li a.googleplus:before{

}*/
#loginModal .login-options h4{
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
  font-weight: normal;
  position: relative;
}
#loginModal .login-options h4:after, #loginModal .login-options h4:before {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
    display: block;
    background: #e3e3e3;
}
#loginModal .login-options h4:after{
  left: 50%;
  margin-left: 30px;
}
#loginModal .login-options h4:before {
  right: 50%;
  margin-right: 30px;
}
/*end ds lang menu*/
@media (max-width: 480px){
  body.out .navbar-nav li a.login-btn{
    padding: 0 !important
  }
  .login-btn,.login-btn:hover,
  .login-btn:focus,.login-btn:active{
    margin-left: 30px;
  }
  .navbar-inverse .navbar-nav li.dropdown-lang {
    display: none !important;
  }

/*desgin logout 16/1 */
 #loginModal {
    text-align: center;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
  #loginModal .modal-dialog{
     display: inline-block;
    text-align: center;
    vertical-align: middle;
    max-width: 95%;
    margin:0;
  }
  #loginModal .modal-dialog .modal-content{
    background: #fff;
    color: #000;
    border: 0;
    box-shadow: 0;
  } 
  #loginModal .modal-dialog .modal-body{
    padding: 10px 20px 20px;
  }
   #loginModal .modal-dialog .modal-body .content{
    position: initial;
   }
  #loginModal .modal-dialog .modal-body h2.title{
    font-size: 24px;
  }
  #loginModal .modal-dialog .modal-body p.subtitle{
    font-size: 14px;
  }

/*desgin logout 16/1 */
 #logoutModal {
    text-align: center;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
  #logoutModal .modal-dialog{
     display: inline-block;
    text-align: center;
    vertical-align: middle;
    max-width: 300px;
  }
  #logoutModal .modal-dialog .modal-content{
    background: #fff;
    color: #000;
    border: 0;
    box-shadow: 0;
  } 
  #logoutModal .modal-dialog .modal-body{
    padding: 10px 20px 20px;
  }
  #logoutModal .modal-dialog .modal-body .submited{
    display: none;
  }
  #logoutModal .modal-dialog .modal-body .submited p:last-child{
    margin-bottom: 0;
    font-size: 12px;
    font-style: italic;
  }
 /* #logoutModal .modal-dialog .modal-body h4{
    font-size: 14px;
    margin-top: 0px;
  }*/
  #logoutModal .modal-dialog .modal-body p{
     font-family: Gotham Rounded;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  }
  #logoutModal .modal-dialog .modal-body img.ip_icon{
    width: 85px;
    height: 85px;
  }
  #logoutModal .modal-dialog .modal-body img.timo_success_icon{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }
  #logoutModal .modal-dialog .modal-body .form-group{
    margin-bottom: 15px;
  }
  #logoutModal .modal-dialog .modal-body input{
    width: 280px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    outline: 0;
    color: #593B8F;
  }
  #logoutModal .modal-dialog .modal-body .group_button{
    font-size: 0;
  }
  #logoutModal .modal-dialog .modal-body button{
    min-width: 115px;
    height: 40px;
    margin: 0 auto;
    /*background: #3b5998;*/
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border: solid 2px #e8e8e8;
     border-radius: 8px;
    outline: 0;
    
    box-shadow: none;
  


  }
  /*#logoutModal .modal-dialog .modal-body button i{
    font-size: 20px;
  }*/
  img.img-logoutmb{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    right: 42px;
    cursor: pointer;
    transform: translateY(-50%);
    background:#e3e3e3;
  }
  #logoutModal .modal-dialog .modal-body button.btn_logout{
      background-color: #ff5f5f;
  }
  #logoutModal .modal-dialog .modal-body button.btn_cancel,#logoutModal .modal-dialog .modal-body button.btn_cancel{
    margin-right: 15px;
  }
  #logoutModal .modal-dialog .modal-body button.btn_logout{
    font-family: Gotham Rounded;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    background-color: #ff5f5f;
    border: solid 2px #ff5f5f;
    padding: 0px;
  }
  #logoutModal .modal-dialog .modal-body button.btn_cancel{
    font-family: Gotham Rounded;
    background-color: #e8e8e8;
    color:black;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    /*line-height: 2.86;*/
    letter-spacing: normal;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  
   #myModal .modal-dialog .modal-content{
     max-width: 300px !important;
   }

   #logoutModal .modal-header{
    border: hidden;
    padding-bottom: 0px;
    padding-top: 22px;
   }  
   #logoutModal .modal-content .modal-header h4.modal-title{

    font-family:Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
   }

    #logoutModal .modal-body .not_submit p{
      margin-bottom: 15px;
    }

/* end */

}
