

<nav class="navbar navbar-inverse {{_menuService.visible ? 'showMenu':'hideMenu'}}">
  <div class="container ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" (click)="toggleMenu($event)" [class.clicked]="isBtnActive">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" [routerLink]="['/']"><img src="assets/img/logo.png" alt="Logo"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right mainMenu">
        <li *ngIf="isMobile && (!(user | async)?.uid || !authService.isLoggedIn())" class="login_el"><a class="login-btn" (click)="showLoginModal()">{{'login' | translate}}</a></li>
        <li class="dropdown dropdown-user mb" dropdown *ngIf="isMobile && (user | async)?.uid && authService.isLoggedIn()">
          <a [routerLink]="(isMobile ? '/account':null)" (click)="toggleMenu($event)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" dropdown-open>

            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used assets/img/avatar.jpg-->
            <img alt="" class="img-circle" src="{{ (user | async)?.photoURL ? (user | async)?.photoURL :'assets/img/avatar.jpg'}}">
            <span class="username">
              <!-- {{(user | async)?.displayName ? (user | async)?.displayName : (user | async)?.email}} -->{{fullname}}</span>
            <span class="caret-user"></span>
            </a>
            <img class="img-logoutmb" src="assets/img/log-out@3x.png" (click)="showlogoutmodal()" >
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a href="javascript:void(0)" [routerLink]="['/account']">
                 {{'account_infomation' | translate}}</a>
               </li>
               
               <li>
                <a href="javascript:void(0)" [routerLink]="['/gift-received']">
                 {{'gift_received' | translate}}
               </a>
              </li>
              <li>
                <a href="javascript:void(0)" [routerLink]="['/gift-sent']">
                 {{'gift_send' | translate}} </a>
              </li>

             <li class="divider">
             </li>
             <li>
              <a href="javascript:void(0)" (click)="authService.logout()" *ngIf="(user | async)?.uid">
                <i class="icon-key"></i> {{'logout' | translate}} </a>
              </li>
            </ul>
          </li>
         
        <li><a [routerLink]="['/']" (click)="toggleMenu($event)" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{ 'home' | translate }}</a></li>
        <li><a [routerLink]="['/about-egift']" (click)="toggleMenu($event)" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{ 'about_egift' | translate }}</a></li>
        <li><a [routerLink]="['/send-egift']" (click)="toggleMenu($event)" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{ 'send_egift' | translate }}</a></li>
        <li><a [routerLink]="['/support']" (click)="toggleMenu($event)" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">{{ 'support' | translate }}</a></li>
        <li *ngIf="(!(user | async)?.uid || !authService.isLoggedIn()) && !isMobile"><a class="login-btn" (click)="showLoginModal()" >{{ 'login' | translate }}</a></li>
        
        <li *ngIf="(user | async)?.uid && isMobile"><a [routerLink]="['/gift-received']" (click)="toggleMenu($event)" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">{{'gift_received' | translate }}</a></li>

        <li *ngIf="(user | async)?.uid && isMobile"><a [routerLink]="['/gift-sent']" (click)="toggleMenu($event)" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="(user | async)?.uid && isMobile">{{ 'gift_sent' | translate }}</a></li>

        <li class="dropdown dropdown-user" dropdown *ngIf="(user | async)?.uid && authService.isLoggedIn() && !isMobile">
          <a [routerLink]="(isMobile ? '/account':null)" (click)="toggleMenu($event)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" dropdown-open>

            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used assets/img/avatar.jpg-->
            <img alt="" class="img-circle" src="{{ (user | async)?.photoURL ? (user | async)?.photoURL :'assets/img/avatar.jpg'}}">
            <span class="username">
              <!-- {{(user | async)?.displayName ? (user | async)?.displayName : (user | async)?.email}} -->{{fullname}}</span>
              <span class="caret-user"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-default">
              <li>
                <a href="javascript:void(0)" [routerLink]="['/account']">
                 {{ 'account_info' | translate }}</a>
               </li>
               
               <li>
                <a href="javascript:void(0)" [routerLink]="['/gift-received']">
                 {{ 'gift_received' | translate }}
               </a>
             </li>
              <li>
                <a href="javascript:void(0)" [routerLink]="['/gift-sent']">
                 {{ 'gift_sent' | translate }}</a>
               </li>
             <li class="divider">
             </li>
             <li>
              <a href="javascript:void(0)" (click)="authService.logout()" *ngIf="(user | async)?.uid">
                <i class="icon-key"></i> {{'logout' | translate}} </a>
              </li>
            </ul>
          </li>
          <li class="dropdown dropdown-lang" dropdown>
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" dropdown-open>
              <img src="assets/img/lang-{{translate.currentLang == 'vi' ? 'vi' : 'en'}}.png" alt="" class="cricle-lang">
               <span class="caret-lang"></span>
            </a>
            <ul class="dropdown-menu drop_language" role="menu">
                    <li><a href="javascript:void(0)" data-lang="vi" (click)="setLanguage('vi')">
                      <img src="assets/img/lang-vi.png" alt="" > &nbsp;&nbsp;Tiếng Việt</a></li>
                    <li><a href="javascript:void(0)" data-lang="en" (click)="setLanguage('en')" class="">
                      <img src="assets/img/lang-en.png" alt="" > &nbsp;&nbsp;English</a></li>
            </ul>
          </li>
        </ul>
        <!-- <div class="second_menu_mobi">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" class="active">{{'how_it_work' | translate}}</a></li>
            <li class="bot_menu_mobi"><a href="javascript:void(0)" class="active">{{ 'term_and_condition' | translate}}</a></li>
          </ul>
        </div> -->
        <div class="footer_menumb">
            <p> {{'language' | translate}}: <span class="{{translate.currentLang == 'vi'?'active':''}}" (click)="setLanguage('vi')">VN</span><span (click)="setLanguage('en')" class="{{translate.currentLang == 'en'?'active':''}}">EN</span></p>
        </div>
    </div><!--/.navbar-collapse -->
    </div>
  </nav>


  <div class="modal fade" id="logoutModal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
           
            <h4 class="modal-title">{{ 'logout' | translate }}</h4>
          </div>
          <div class="modal-body">
            <div class="not_submit">
            <!--   <h4>Please Log in to Your Account</h4> -->
              <p>{{'are_you_sure' | translate}}</p>
              <div class="group_button">
                    <button type="button" class="btn btn-default btn_cancel" (click)="hidelogoutmodal()">{{'cancel' | translate}}</button>
                    <button type="button" class="btn btn-default btn_logout" (click)="logout()" >{{ 'logout' | translate }}</button>
                  </div>
              </div>
              <!--   <div class="submited" style="display:none"> -->
                 <!--  <img class="timo_success_icon" src="../layouts/v2/images/successfully.png"> -->
              <!--   <p>Your vouchers have been save succesfully.<br>
                Please access link to receive your vouchers.</p>
                <div class="group_button">
                    
                    <button type="button" class="btn btn-default btn_checknow">Check now</button>
                  </div>
                </div> -->
          </div>
        </div>

      </div>
    </div>

  <div class="modal fade" id="loginModal" bsModal #staticLoginModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="staticLoginModal.hide()">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ 'login' | translate }}</h4>

          </div> -->
          <div class="modal-body">
            <div class="content">
              <button type="button" class="close pull-right" aria-label="Close" (click)="staticLoginModal.hide()"></button>
              <h2 class="title">{{ 'login' | translate }}</h2>
              <p class="subtitle">{{ 'dont_have_account' | translate }} <a href="javascript:void(0)" [routerLink]="['/signup']" (click)="staticLoginModal.hide()">{{ 'create_your_account' | translate }}</a>{{ 'a_minute' | translate }}</p>
            <!--   <p *ngIf="errorLogin" style="color:red">{{errorLogin}}</p> -->
              <form class="login-form" action="#" method="post" novalidate="novalidate" autocomplete="off" #LoginForm="ngForm">
                <div class="col-md-12">
                  <div class="row">
                    <p *ngIf="emailControl.errors && emailControl.errors.required && emailControl.touched" class="help-block error-msg">
                      {{ 'email_required' | translate}}
                    </p>
                    <p  *ngIf="emailControl.errors && emailControl.errors.pattern && emailControl.touched" class="help-block error-msg">
                     {{ 'email_invalid' | translate}}
                    </p>
                    <p *ngIf="passwordControl.errors && passwordControl.errors.required && passwordControl.touched" class="help-block error-msg">
                      {{ 'password_required' | translate}}
                    </p>
                    <p *ngIf="errorLogin != null" class="help-block error-msg">{{errorLogin}}</p>
                    <p *ngIf="errRequireVerify" class="help-block error-msg">{{'required_email_verify_first' | translate}}<a href="javascript:void(0)" (click)="sendVerifyEmailAgain()">{{'click_here' | translate}}</a>{{'required_email_verify_last' | translate}}</p>
                    <div *ngIf="messageSuccess != null" class="alert alert-success alert-dismissable">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      {{messageSuccess}}
                    </div>
                  </div>

                </div>
                <div class="clearfix"></div>
                <div class="form-group form-md-floating-label">
                  <input class="form-control {{email && email.length > 0 ? 'edited':''}}" id="emailModal" [(ngModel)]="email" type="text" autocomplete="off" name="email" #emailControl="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                  <label for="emailModal">Email</label>
                </div>
                <div class="form-group form-md-floating-label">
                  <input class="form-control {{password && password.length > 0 ? 'edited':''}}" id="passwordModal" [(ngModel)]="password" type="password" autocomplete="password" name="password" #passwordControl="ngModel" required>
                  <label for="passwordModal">{{ 'password' | translate }}</label>
                </div>
                <div class="form-actions">
                  <div class="pull-left">
                    <input type="checkbox" name="remember" value="1" id="remember-modal">
                    <label for="remember-modal" class="rememberme check">{{ 'remember_me' | translate }} </label>
                  </div>
                  <div class="pull-right forget-password-block">
                    <a href="javascript:;" [routerLink]="['/forgotpassword']" id="forget-password" (click)="staticLoginModal.hide()" class="forget-password">{{ 'forgotpassword' | translate }}</a>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-submit" [disabled]="(!LoginForm.valid )" (click)="loginRegular()">{{ 'login' | translate }}</button>
                </div>
                
                <div class="login-options">
                  <h4 class="">{{ 'or_login_with' | translate }}</h4>
                  <!-- <ul class="social-icons">
                    <li>
                      <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:void(0);" (click)="signInWithFacebook()"></a>
                    </li>
                    
                    <li>
                      <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:void(0);" (click)="signInWithGoogle()"></a>
                    </li>
                    
                  </ul> -->
                  <div class="group_button">
                    <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:void(0);" (click)="signInWithFacebook()">Login with Facebook</a>
                    <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:void(0);" (click)="signInWithGoogle()">Login with Google</a>
                  </div>
                </div>
                  
               
              </form>
              </div>
            </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="enterPassModal"  bsModal #staticEnterPassModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="overflow:hidden">
        <h4 class="modal-title pull-left">Notification</h4>
      </div>
      <div class="modal-body">
        <p *ngIf="translate.currentLang != 'vi'">An account already exists with the same email address but different sign-in credentials. Please enter your password with this email address. System will <span style="color:#ff5f5f">auto redirect after 10s</span>.</p>
        <p *ngIf="translate.currentLang == 'vi'">Email trong FB này đã được đăng kí với hệ thống bằng phương thức truyền thống (email và mật khẩu). Vui lòng nhập mật khẩu cho email này. Hệ thống sẽ <span style="color:#ff5f5f">tự chuyển sau 10s</span>.</p>
        <input type="password" class="form-control" id="passwordRequiredModal" [(ngModel)]="passwordRequired" name="passwordRequired" #passwordRequiredInput autofocus placeholder="Your password">
      </div>
    </div>
  </div>
</div>
