
@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('../fonts/SVN-GothamRounded.eot') format('embedded-opentype'); 
  src: url('../fonts/SVN-GothamRounded.woff') format('woff'), url('../fonts/SVN-GothamRounded.ttf') format('truetype'), url('../fonts/SVN-GothamRounded.svg#SVN-GothamRounded') format('svg'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Gotham Rounded'; 
  src: url('../fonts/SVN-GothamRoundedMedium.eot') format('embedded-opentype'); 
  src: url('../fonts/SVN-GothamRoundedMedium.woff') format('woff'), url('../fonts/SVN-GothamRoundedMedium.ttf') format('truetype'), url('../fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium') format('svg'); 
  font-weight: 500; 
  font-style: normal; 
}
/* ==========================================================================
   Global styles
   ========================================================================== */

   *{
    font-family: Gotham Rounded;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-family: Gotham Rounded;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    color: #303030;
  }

  h2 {
    font-family: Gotham Rounded;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    color: #303030;
  }

  h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 500;
  }

/*.lead {
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
}
*/
/*p {
  font-size: 17px;
  line-height: 22px;
  color: #929496;
  font-weight: 400;
  }*/

  /*------------------Utilities---------------------*/
  a {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
  }

a:hover, a:focus {
  text-decoration: none;
  color: #303030;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


/*------------------Buttons---------------------*/
/*.btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline: none;
}

.btn {
  border-radius: 4px;
  border: none;
}

.btn-lg {
  font-size: 16px;
  font-weight: 500;
}

.btn-sm {
  font-size: 11px;
  line-height: 1.33;
  padding: 10px 18px;
  font-weight: 400;
}

.btn-wide {
  width: 100%;
  font-size: 13px;
  line-height: 1.33;
  padding: 18px 28px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn-primary {
  background-color:#70cbce;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #8be2e5;
  color: #ffffff;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.btn-secondary {
  background-color: #ffffff;
  color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color: #ededed;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
*/



/*-----------------Margins------------------*/
/*.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}
*/
body.login,body.signup,body.forgotpassword, body.resetpassword, body.email-verify{
  min-height: 100vh;
  background: #f3f3f6;
  position: relative;
}
/*body.login .content,body.signup .content,body.forgotpassword .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}*/

/* ==========================================================================
   Nav Styles
   ========================================================================== */

   .navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #fff;
    margin: auto;
    min-height: 58px;
    /*transition: top 0.4s ease 0s;*/
    box-shadow: 0 3px 0 0 #e3e3e3;
    border-radius: 0;
  }

/*.navbar.open {
    top: 0;
    }*/

    .navbar-inverse .navbar-nav > li{
      margin-right: 30px;
    }
    .navbar-inverse .navbar-nav > li:last-of-type{
      margin-right: 0px;
    }
    .navbar-inverse .navbar-nav > li.dropdown-user{
      /*margin-right: -30px;*/
    }
    .navbar-inverse .navbar-nav > li a:active,
    .navbar-inverse .navbar-nav > li a:focus,
    .navbar-inverse .navbar-nav > li a:hover{
      color: #000;  
    }
    .navbar-inverse .navbar-nav > li a.active,
    .navbar-inverse .navbar-nav > li a.active:active,
    .navbar-inverse .navbar-nav > li a.active:hover,
    .navbar-inverse .navbar-nav > li a.active:focus{
      color: #ff5f5f;
      text-shadow: 1px 0 0 #ff5f5f;
      border-bottom: 4px solid #ff5f5f;
      margin-bottom: -4px;
      transition: none;
    }
    .navbar-inverse .navbar-nav li.dropdown-user a,.navbar-inverse .navbar-nav li.dropdown-user.open a{
      padding: 10px 10px 6px 10px !important;
      position: relative;
      background:none;
      color: #303030;
    }
    .navbar-inverse .navbar-nav li.dropdown-user a img,.navbar-inverse .navbar-nav li.dropdown-user.open a img{
      width: 40px;
      height: 40px;
    }

    .navbar-inverse .navbar-nav li.dropdown-user a span.caret-user{
      display: inline-block;
      width: 10px;
      height: 10px;
      position: relative;
    }
    .navbar-inverse .navbar-nav li.dropdown-user a span.caret-user:after{
      content: "\e903";
      font-family: 'icomoon' !important;
      /*position: absolute;*/
      font-size: 12px;
    }
    .navbar-inverse .navbar-nav li.dropdown-user .dropdown-menu{
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #e3e3e3;

    }
    .navbar-inverse .navbar-nav li.dropdown-user .dropdown-menu li a{
      font-family: Gotham Rounded;
      font-size: 16px;
      text-align: left;
      color: #303030;
    }
    .navbar-inverse .navbar-nav > li > a, .navbar-nav a {
      color: #303030;
      font-size: 16px;
      letter-spacing: 1px;
      padding: 19px 10px;
    }

/*.navbar-inverse .navbar-nav > li > a.active,
.navbar-inverse .navbar-nav > li > a.active:hover{
  color: #ff5f5f;
  text-shadow: 1px 0 0 #ff5f5f;
  border-bottom: 4px solid #ff5f5f;
  margin-bottom: -4px;
  }*/

  .navbar-inverse .navbar-nav > li > a:hover {
    color: #303030;
  }

  .second_menu_mobi{
    display: none;
  }
  .footer_menumb{
    display: none;
  }
/*.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
    }*/

    .logo img {
     margin-top: 8px;
     /*margin-left: 10px;*/
     height: 40px;
   }
   .error-msg{
    color: #ff4545;
   }
   .error-msg a{
    color: #000;
    font-weight: 500;
    text-decoration: underline;
   }


/* ==========================================================================
   Main styles
   ========================================================================== */

   /*brand*/
   .brand-section{
    padding: 30px 0 40px;
    background: #fff;
  }
  .box_top{
    padding: 20px 0;
    /*overflow: hidden;*/
  }
  .box_top:after{
    content: '';
    display: block;
    clear: both;
  }
  .box_top h2{
    margin: 0;
  }
  .tabbable-line  .nav-tabs {
    border: none;
    margin: 0px;
    border-bottom:4px solid #e3e3e3;
  }
  .tabbable-line  .nav-tabs > li {
    margin-right: 20px;
    margin-bottom: -4px;
  }
  .tabbable-line  .nav-tabs > li:last-of-type{
    margin-right: 0;
  }
  .tabbable-line  .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #303030;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    font-family: Gotham Rounded
  }
  .tabbable-line  .nav-tabs.vi > li > a{
    font-size: 15px;
  }
  .tabbable-line  .nav-tabs > li.active,.tabbable-line  .nav-tabs > li.active:hover {
    border-bottom: 4px solid #ff5f5f;
    position: relative;

  }
  .tabbable-line  .nav-tabs > li.active a,
  .tabbable-line  .nav-tabs > li.active:hover a{
    color: #ff5f5f !important;
    text-shadow: 1px 0 0 #ff5f5f;
    /*font-weight: 500;*/
  }

  .tabbable-line  .nav-tabs > li.open, 
  .tabbable-line  .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line  .nav-tabs > li.open > a, 
  .tabbable-line  .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333;
  }
  .tabbable-line  .nav-tabs > li.active > a {
    border: 0;
    color: #333;
  }
  .box-top{
    display: block;
  }
  .box-content{
    display: block;
    clear: both;
  }
  .box-content .list_brand{
    display: block;
    float: left;
    clear: both;
    border-bottom: 1px dashed #e3e3e3;
    padding:10px 0;
    position: relative;
    width: 100%;
    overflow-x: auto;
  }
  .box-content .list_brand.clicked:last-of-type{
    border-bottom: 0;
  }
  /*.box-content .list_brand:before,.box-content .list_brand:after{
    width: 50px;
    content: '';
    position: absolute;
    height: 1px ;
    background: #fff;
    display: inline-block;
    left: 0;
    bottom: -1px;
  }*/
  .box-content .list_brand:after{
    right: 0;
    left: initial;
  }
  .box-content .list_brand a.brand_img{
    width: 120px;
    overflow: hidden;
    display: inline-block;
    margin-right: 50px;
    cursor: default;
  }
  .box-content .list_brand a.brand_img:last-of-type{
    margin-right: 0;
  }
  .box-content .list_brand a.brand_img img{
    width: 100%;
  }
  .box_top.tabbable-line #tab_all_brand span,
  .box_top.tabbable-line #tab_all_faq span{
    display: none;
  }
  /*introdution*/
  .btn_group{
    margin-top:30px;
  }
  .btn_group .btn-lg, .btn_group .btn-lg:hover, .btn_group .btn-lg:focus, .btn_group .btn-lg:active{
    width: 270px;
    height: 56px;
    line-height: 54px;
    border-radius: 16px;
    background-color: #fff;
    font-family: Gotham Rounded;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #303030;
    padding: 0px;
    margin-bottom: 5px;
    box-shadow: none !important;
    outline: none !important;
    display: inline-block;
  }
  .btn_group .btn-lg span{
    display: block;
    clear: both;
    font-size: 14px;
    text-align: center;
    color: #ffdede;
  }
  .btn_group .btn-lg.btn-send{
    margin-right: 20px;

  }
  .btn_group .btn-lg.btn-manage{
    background: none;
    border: solid 2px #fff;
    color: #fff;
  }
  .btn_group .btn-lg.btn-manage span{
    color: #636363;
  }
  .introdution-section{
    /*background-image: linear-gradient(111deg, #ffffff, #f9fafd 39%, #eef1f6);*/
    background: url('../img/bg_intro3x.png');
    background-size: cover;
    /*height: 560px;*/
    /*position: relative;*/
  }
  .introdution-section .text-intro .img_bg_mobile {
      display: none;
  }
  .introdution-section .container{
    min-height: 450px;
    /*background: url('../img/product_img_new.png') right top no-repeat;*/
    /*background-size: auto 545px;*/
    position: relative;
  }
  .introdution-section .text-intro{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    /*padding-left: 30px;*/
  }
  .introdution-section .text-intro h2{
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    color: #fff;
    font-family: Gotham Rounded;
    margin-bottom: 15px;
    max-width: 600px;
  }
  .introdution-section .text-intro p{
    font-family: Gotham Rounded;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    max-width: 540px;
  }
  .introdution-section .wrap_intro_img{
    position: absolute;
    top: 0;
    left: 50%;
  }
  .introdution-section .wrap_intro_img img{
    width: auto;
    height: 420px;
    margin-top: 15px;
  }
  /*business*/
  .bussiness-section{
    height: 600px;
    background: url(../../assets/img/bg_business3x.png) no-repeat center bottom;
    background-size: cover; 
    position: relative;

  }
  .bussiness-intro{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
  }
  .bussiness-intro h2{
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .bussiness-intro p{
    max-width: 480px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #fcfcfc;
    margin-bottom: 30px;
  }
  .bussiness-intro a{
    border-radius: 12px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ff5f5f;
    display: inline-block;
    min-width: 166px;
    height: 46px;
    line-height: 46px;
    padding: 0;
  }
  /*accord*/
  .accordion-section{
    padding: 50px 0;
    background:#f3f3f6;
  }
  .accordion-section .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: none;
  }
  .accordion-section .panel-group .panel{
    border-radius: 16px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    margin-top: 15px;
  }
  .accordion-section .panel-group .panel-default .panel-heading{
    border-radius: 16px;
    background-color: #ffffff;
    padding: 15px 20px;

  }
  .accordion-section .panel-group .panel-default .panel-heading .panel-title{
    font-family: Gotham Rounded;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #303030;
  }
  .accordion-section .panel-group .panel .panel-title a,
  .accordion-section .panel-group .panel .panel-title .accordion-toggle {
    display: block;
    position: relative;
    font-weight: normal;
    padding-right: 25px;
  }
  .accordion-section .panel-group .panel.dropup .panel-title a,
  .accordion-section .panel-group .panel.dropup .panel-title .accordion-toggle{
    font-weight: 500;
  }
  .accordion-section .panel-group .panel-default .panel-collapse .panel-body{
    padding: 20px 60px 20px 20px;
  }
  .accordion-section .panel-group .panel-default .panel-collapse .panel-body p{
    font-family: Gotham Rounded;
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    color: #636363;
  }

  .accordion-section .panel-group .panel .panel-title .accordion-toggle::before,
  .accordion-section .panel-group .panel .panel-title .accordion-toggle.collapsed::before{
    content: "\e902";
    font-family: 'icomoon' !important;
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 22px;
    top: -5px;
    color: #ff5f5f;
  }

  .accordion-section .panel-group .panel .panel-title .accordion-toggle.collapsed::before{
    content: "\e904";
    color: #303030;
  }
  .accordion-section .panel-group .panel .panel-title a::before
  /*.accordion-section .panel-group .panel .panel-title a::after*/
  {
    content: "\e904";
    font-family: 'icomoon' !important;
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 22px;
    top: -5px;
    color: #303030;
  }
  .accordion-section .panel-group .panel.dropup .panel-title a::before{
    content: "\e902";
    color: #FF5F5F;
  }
  footer{
    box-shadow: 0 -4px 0 0 #e3e3e3;
    background: #fff;
  }
  footer .footer_link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px 0;
  }

  footer .footer_link ul.menu-footer {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }

  footer .footer_link ul.menu-footer li {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 0 10px;
  }

  footer .footer_link ul.menu-footer li a {
    font-family: Gotham Rounded;
    font-weight: normal;
    font-size: 16px;
    color: #666;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
  }

  footer .footer_link ul.menu-footer li a:hover,
  footer .footer_link ul.menu-footer li a:visited,
  footer .footer_link ul.menu-footer li a:focus {
    text-decoration: none;
  }

  footer .footer_info {
    background: #F7F6F4;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  footer .footer_info p {
    font-family: Gotham Rounded;
    font-weight: normal;
    font-size: 14px;
    color: #303030;
    letter-spacing: 0px;
    text-align: left;
    padding: 9px 0;
    margin: 0;

  }

  footer .footer_info .text-center {
    /*background: #ff5f5f;*/
    color: #fff;
    overflow: hidden;
  }

/*footer .footer_info p {
  color: #fff;
  }*/
/*
footer .footer_info p.fax {
  text-align: center;
  border-radius: 8px;
  background-color: #ff5f5f;
  border: solid 2px #ff5f5f;
  min-width: 200px;
  color: #fff;
  }*/

  footer .footer_info p.hotline, footer .footer_info p.fax{
    text-align: center;
    border-radius: 8px;
    /*background-color: #ff5f5f;*/
    /*border: solid 2px #ff5f5f;*/
    min-width: 200px;
    color: #ff5f5f !important;
    display: inline-block;
    height: 42px;
    padding: 8px 0; 
    /*line-height: 40px;*/
    vertical-align:middle;
    text-decoration:none;
  }

  footer .footer_info .text-right a {
    font-family: Gotham Rounded;
    font-weight: normal;
    font-size: 14px;
    color: #303030;
    letter-spacing: 0px;
    text-align: left;
    padding: 14px 0;
    display: inline-block;
    padding-left: 30px;
    text-transform: capitalize;
    text-decoration: none;
  }

  footer .footer_info .text-right a:hover,
  footer .footer_info .text-right a:visited,
  footer .footer_info .text-right a:focus {
    text-decoration: none;
  }
  .backtop{
    position: relative;
  }
  .backtop:before{
    position: absolute;
    left: 0;
    font-size: 22px;
    content: "\e915";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .left .box-content:after{
    content: '';
    clear: both;
    display: block;
  }
  .left .box-content h3{
    margin-bottom: 30px;
    margin-top: 35px;
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #303030;
  }
  .left .box-content p{
    font-family: Gotham Rounded;
    font-size: 16px;
    text-align: left;
    color: #636363;
    margin-bottom: 10px;
  }

/*login modal*/
.loginModal, #enterPassModal{
  text-align: center;
  margin: 0 auto;
  /*position:absolute;*/
  /*top:0% !important;
  transform: translateY(50%) !important;
  -ms-transform: translateY(50%) !important;
  -webkit-transform: translateY(50%) !important;*/
}
/*.modal.fade.in{
  text-align: center;
}*/
modal-container, .bootbox{
  text-align: center;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.loginModal.modal-dialog , #enterPassModal .modal-dialog , .bootbox .modal-dialog , .term_condition_modal.modal-dialog{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  max-width: 570px;
}
.term_condition_modal.modal-dialog{
  text-align: left;
}
.loginModal.modal-dialog .modal-content, #enterPassModal .modal-dialog .modal-content{
    background: #fff;
    color: #000;
    border: 0;
    box-shadow: none;
    border-radius: 16px; 
  } 
.loginModal.modal-dialog .modal-body, #enterPassModal .modal-dialog .modal-body{
  padding: 10px 30px 20px;
}
.loginModal.modal-dialog .modal-body button.close{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 15px;
  color: #000;
  background: url(../../assets/img/close-grey.png) no-repeat center center;
  background-size: 24px 24px;
  opacity: 1;
}

.loginModal.modal-dialog .modal-body h2.title{
  font-family: Gotham Rounded;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
.loginModal.modal-dialog .modal-body p.subtitle{
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  /*max-width: 400px;*/
  margin: 0 auto 30px;
}
  .loginModal.modal-dialog .modal-body p.subtitle a{
    color: #ff5f5f;
    cursor: pointer;
  }
.loginModal.modal-dialog .modal-body .group_button{
  text-align: center;
}
.loginModal.modal-dialog .modal-body .group_button a{
  display: block;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 12px;
  background: #3b5998;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;  
  padding-left: 70px;
  position: relative;
}
.loginModal.modal-dialog .modal-body .group_button a:before{
  content: '';
  width: 70px;
  display: block;
  position: absolute;
  height: 50px;
  border-right: 1px solid #fff;
  top: 0;
  left: 0;
}
.loginModal.modal-dialog .modal-body .group_button a.facebook:before{
  background: url(../../assets/img/facebook2x.png) no-repeat center center;
  background-size: auto 20px;
}
.loginModal.modal-dialog .modal-body .group_button a.googleplus{
  background: #d34836;
}
.loginModal.modal-dialog .modal-body .group_button a.googleplus:before{
  background: url(../../assets/img/googleplus2x.png) no-repeat center center;
  background-size: auto 20px;
}

.loginModal.modal-dialog .modal-body form{
  /*max-width: 400px;*/
  margin: 0 auto;
}
.loginModal .form-group.form-md-floating-label {
  position: relative;
  /*margin: 0 0 35px 0;*/
}
.loginModal .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;
}
.loginModal .form-group.form-md-floating-label textarea.form-control ~ label{
  top:15px;
  transform:inherit;
}
.loginModal .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}
.loginModal .form-group .form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.loginModal .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}
.loginModal .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}
.loginModal .form-group.form-md-floating-label .form-control:focus,
.loginModal .form-group.form-md-floating-label .form-control.edited{
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 6px;
}
.loginModal .form-group.form-md-floating-label .form-control.edited ~ label, 
.loginModal .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}

.loginModal .content .form-actions{
  display: block;
  clear: both;
  overflow: hidden;
}
.loginModal .content .form-actions button.btn-submit,.loginModal .content .form-actions button.btn-submit:focus{
  height: 46px;
  line-height: 44px;
  border-radius: 12px;
  background-color: #ff5f5f;
  display: block;
  width: 100%;
  padding:0;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  outline: 0;
  margin: 15px auto;
}
.loginModal .login-options{
  display: block;
  overflow: hidden;
}
.loginModal .login-options .social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin: 0px;
  margin-bottom: 15px; 
  width: 100%;
}
.loginModal .login-options .social-icons li a{
  width: 100%;
  height: 46px;
  border-radius: 12px;
  background-color: #3b5998;
  border: solid 2px #3b5998;
  display: block;
  position: relative;
  text-align: center;

}
.loginModal .login-options .social-icons li a.facebook{
  background-color: #3b5998;
  border-color: #3b5998;
  background: url(../../assets/img/facebook2x.png) no-repeat center center #3b5998;
  background-size: auto 20px;
}
.loginModal .login-options .social-icons li a.googleplus{
  background-color: #d34836;
  border-color: #d34836;
  background: url(../../assets/img/googleplus2x.png) no-repeat center center #d34836;
  background-size: auto 20px;
}
/*.loginModal .login-options .social-icons li a:before{
  content: '\e91d';
  font-family: 'icomoon' !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  color: #fff;
}
.loginModal .login-options .social-icons li a.googleplus:before{

}*/
.loginModal .login-options h4{
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
  font-weight: normal;
  position: relative;
}
.loginModal .login-options h4:after, .loginModal .login-options h4:before {
    content: "";
    width: 100px;
    height: 1px;
    position: absolute;
    top: 50%;
    display: block;
    background: #e3e3e3;
}
.loginModal .login-options h4:after{
  left: 50%;
  margin-left: 30px;
}
.loginModal .login-options h4:before {
  right: 50%;
  margin-right: 30px;
}

/* ==========================================================================
   Form styles
   ========================================================================== */
/*.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #929496;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}



*/
/* ==========================================================================
   Mobile styles
   ========================================================================== */
   /* Landscape phones and down */
   @media (max-width: 480px) { 

    .btn-lg {
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }


    .btn-wide {
      width: 100%;
      font-size: 12.5px;
      line-height: 1.33;
      padding: 16px 13px;
      letter-spacing: 0px;
    }

    #be-the-first { 
      background-attachment: scroll;
    }

      body.out {
    position: static;
    height: auto !important;
  }

  .navbar {
    min-height: 48px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
  }
  .navbar.open{
    position: fixed;
    width: 100%;
    z-index: 10;
  }
html, body.login{
    background-color: #fff;
  }
body.out .navbar{
    min-height: 48px;
    position: fixed;
    right: 276px;
    width: 100%;
    z-index: 999;
}
  .navbar-header {
    float: none;
    margin-left: -10px !important;
    margin-right: -10px !important;
  }

  .navbar-toggle {
    border: 0;
    display: block;
    margin-right: 0px;
    padding-top: 10px;
  }
  body.out{
    transition: all 0.5s;
    position:relative;
    left:-276px;
  }
  nav .navbar-toggle .icon-bar {
    transition: all 0.5s ease-in-out;
    background-color: #333 !important;
    height: 2px;
  }

  body.out .navbar-nav li {
    display: block;
    padding-left: 30px;
    padding-right: 15px;
    margin-right: 0;
    float: none;
    /*width: 100%;*/
  }
  body.out .mainMenu.navbar-nav.navbar-right li:first-child{
    padding: 6px 15px;
    background: #e3e3e3;
  }
  body.out .navbar-inverse .navbar-nav li.dropdown-user a,body.out .navbar-inverse .navbar-nav li.dropdown-user.open a{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 50px !important;
  }

  body.out .navbar-nav li a {
    text-align: left !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 0px;
    padding-right:0px;
    font-family: Gotham Rounded;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #303030 !important;
    text-shadow: none !important;
    border-bottom: 0 !important;
  }

  body.out .navbar-nav li a.login-btn{
    padding: 0 !important;
    width: 100%;
    margin-left:0;
    text-align: center !important;
    color: #fff !important;
    margin-top: 0;
  }
  body.out .navbar-nav li.dropdown-user a, 
  body.out .navbar-nav li.dropdown-user.open a{
    padding-left : 50px !important;
    padding-right : 50px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 0;
    min-height: 40px;
    display: table;
    width: 100%;
    /*white-space: nowrap;*/
  }
   body.out .navbar-nav li.dropdown-user a span{
    font-size: 15px;
    line-height: 1.5;
    display: table-cell;
    vertical-align: middle;
   }
  body.out .navbar-nav li.dropdown-user a img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  body.out .navbar-nav li.dropdown-user a span.caret-user{
    display: none;
  }
  body.out .navbar-nav li.dropdown-user .dropdown-menu{
    position: absolute;
    display: none;
  }
  body.out .hideMenu .second_menu_mobi{
    border:0;
  }
  body.out .navbar-nav li a.gifts {
    display: none;
  }

  body.out .navbar-nav li a.gift_mobile {
    display: block !important;
  }

  body.out .navbar-nav li a.gift_mobile span.caret {
    position: absolute;
    right: 25px;
    top: 30%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px dashed !important;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
  }

  body.out nav .navbar-toggle {
    background-color: #fff !important;
    /*left: -270px;*/
    transition: all 0.5s ease-in-out;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
  }

  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background-color: #fff !important;
  }
  .navbar-toggle .icon-bar:nth-of-type(2){
    width: 18px;
    text-align: right;
    margin-left: 4px;
  }
  body.out nav .navbar-toggle .icon-bar:nth-of-type(2) {
    width: 22px;
    margin-left: 0;
    -webkit-transform: translate3d(0, 6px, 0) rotate(45deg);
    transform: translate3d(0, 6px, 0) rotate(45deg);
    background: #ff5f5f !important;
  }

  body.out nav .navbar-toggle .icon-bar:nth-of-type(3) {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  body.out nav .navbar-toggle .icon-bar:nth-of-type(4) {
    -webkit-transform: translate3d(0, -6px, 0) rotate(-45deg);
    transform: translate3d(0, -6px, 0) rotate(-45deg);
    background: #ff5f5f !important;
  }

  nav .navbar-collapse {
    display: block !important;
    /*position: fixed;*/
    position: absolute;
    top: 0px;
    /*right: -278px;*/
    right: -100%;
    margin: 0;
    bottom: 0;
    z-index: 10000;
    width: 276px;
    height: 100vh !important;
    margin: 0;
    background-color: #f3f3f6;
    border: none;
    box-shadow: inset 15px 0 30px -20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.5s ease-in-out;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
  }

  body.out .navbar-collapse {
    opacity: 1;
    filter: alpha(opacity=100);
    right: -276px;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  body.out #main-menu .wrap_menu {
    height: auto;
    padding-bottom: 60px;
  }

  body.out #main-menu .menu-left {
    margin: 0 !important;
  }

  body.out #main-menu .menu-left li.active a {
    background: #ff5f5f !important;
    color: #fff !important;
    box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.2);
  }

  body.out #main-menu .menu-left li.faq_l span.caret {
    position: absolute;
    right: 25px;
    top: 30%;
    display: inline-block !important;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px dashed !important;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
  }

  body.out .navbar-right {
    margin: 0 !important;
    padding: 0px 0 15px 0;
    float: none;
    /*width: 100%;*/
  }
  
  body.out .navbar-right li {
    /*display: none;*/
  }

  body.out .navbar-right li:last-of-type {
    display: block;
    margin-right: 0;
  }

 /* .navbar-inverse .navbar-nav > li.dropdown-user{

  }*/
  body.out .navbar-right li.lang {
    max-width: 235px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-shadow: none;
    background: none;
  }

  body.out .navbar-right li.lang .language {
    margin: 0 !important;
    border: 0 !important;
    padding: 7px 10px !important;
    margin-left: 0 !important;
  }

  body.out .navbar-right li.lang .language span.caret {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
  }

  body.out .navbar-right li.lang.open .language {
    background: none !important;
    box-shadow: none !important;
    margin-top: 0 !important;
  }

  body.out .navbar-right li.lang.open .language::after {
    display: none;
  }

  body.out .navbar-right li.lang.open .drop_language {
    margin-top: 10px !important;
    width: 100%;
    position: absolute;
  }

  body.out .navbar-right li.lang.open .drop_language li {
    display: block !important;
  }

  body.out .navbar-right li.lang.open .drop_language li a {
    padding-left: 10px !important;
  }

  body.out nav.navbar-fixed-top .navbar-collapse {
    margin-top: 60px;
    /*box-shadow: -5px 0px 50px 0px rgba(0,0,0,0.75);*/
    -webkit-transform: none;
    transform: none;
    margin-right: -15px;
  }
  .logo img{
    margin-left: 10px;
    height: 30px;
  }

body.out .navbar-right li a:after{
    position: absolute;
    content: '\e907';
    font-family: 'icomoon' !important;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 12px;
    color: #303030;

}
body.out .navbar-right li a.login-btn:after{
  display: none;
}
body.out .navbar-right li.bot_menu_mobi:last-child{
    border-bottom: 0;
}
.second_menu_mobi{
  display: block;
  border-top: 1px solid #e3e3e3;
}
.footer_menumb{
  display: block;
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #303030;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 60px;
}
/*.footer_menumb p{
  font-family: Gotham Rounded;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #303030;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 20px;

}*/
.footer_menumb p strong{
  font-weight: 500; 
}
.footer_menumb p span{
  float: right;
  margin-left: 20px;
}
.footer_menumb p span.active{
  font-weight: 500;
  color: #ff4545;
}

  /*Home Page*/
  .introdution-section .container{
    background:none;
  }
  .introdution-section .text-intro{
    position: relative;
    top: inherit;
    transform: inherit;
    padding: 15px 10px; 
  }
  .introdution-section .text-intro h2{
    font-size: 20px;
    text-align: center;
  }
  .introdution-section .text-intro p{
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    /*color: #636363;*/
  }
  .introdution-section .text-intro .img_bg_mobile{
    display: block;
    /*height: 420px;
    background:url('../img/product-img-mobile.png') center bottom no-repeat;
    background-size: 100% auto;*/
    margin: 0 -10px;
  }
  .introdution-section .wrap_intro_img{
    display: none;
  }
  .introdution-section .text-intro .img_bg_mobile img{
    width: 100%;
    position: relative;
    /*left: -10%*/
  }
  .introdution-section .btn_group{
    margin-top: 25px;
  }
  .introdution-section .btn_group .btn-lg{
    width: 100%;
    margin-bottom: 20px;
  }
  .box_top.tabbable-line{
    overflow: visible;
    padding: 0;
  }
.box_top.tabbable-line:after{
  display: block;
  clear: both;
  content: '';
}

  .box_top h2{
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #303030;
    width: 100%;
    margin-bottom: 20px;
  }
  .box_top.tabbable-line #tab_all_brand span,
  .box_top.tabbable-line #tab_all_faq span {
    font-size: 12px;
    color: #999999;
    clear: both;
    display: block;
    font-weight: normal;
  }
  .box_top.tabbable-line #tab_all_brand span small,
  .box_top.tabbable-line #tab_all_faq span small{
    display: block;
    font-family: Gotham Rounded;
    font-size: 14px;
    text-align: left;
    color: #000;
    font-weight: normal;
  }
  .brand-section .box-content{
    margin: 0 -10px;
  }
  .brand-section{
    padding: 30px 0;
  }
  .wrapper-dropdown,.wrapper-dropdown:focus{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.15);
/*    box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 10px;
  }
  .wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4a4a4a transparent;
  }
  .wrapper-dropdown .nav-tabs {
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    /*transition: all 0.3s ease-in;*/
    list-style: none;
    padding: 0;
    opacity: 0;
    /* pointer-events: none; */
    z-index: -1;
    max-height: 220px;
    overflow-y: auto;
  }
  .wrapper-dropdown.active .nav-tabs {
      opacity: 1;
      z-index: 1;
      pointer-events: auto;
  }
  .wrapper-dropdown .nav-tabs li{
    width: 100%;
    margin:0;
  }
  .wrapper-dropdown .nav-tabs li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #4a4a4a;
      border-bottom: 1px solid #e6e8ea;
      box-shadow: inset 0 1px 0 rgba(255,255,255,1);
      transition: all 0.3s ease-out;
      text-align: left;
  }
  .box-content .tab-content .tab-pane{
    overflow-x: auto; 
  }

  .box-content .list_brand{
    white-space: nowrap;
  }
  .box-content .list_brand a.brand_img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  .box-content .list_brand:before, .box-content .list_brand:after{
    width: 30px;
  }
  .brand-section .container .row>.col-md-12{
    padding-left: 10px;
    padding-right: 10px;
  }

  /*bussiness section*/
  .bussiness-section{
    background-image: url('../img/bg_business2x.png'),linear-gradient(#ff4f52, #f73286);
    height: auto;;
    background-position: left bottom, center top !important;
    padding-bottom: 100px;
  }
  
  .bussiness-intro {
    position: unset;
    top: unset;
    transform: unset;
    text-align: center;
  }
  .bussiness-intro h2{
    font-family: Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
  .bussiness-intro p{
    font-family: Gotham Rounded;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #fcfcfc;
  }
  .bussiness-intro a{
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
  }

  .accordion-section{
    padding: 30px 0;
  }
  .accordion-section .panel-group .panel{
    margin-top: 10px;
    box-shadow: none;
  }
  .accordion-section .panel-group .panel-default .panel-heading{
    padding: 10px;
  }
  .accordion-section .panel-group .panel-default .panel-heading .panel-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.57;
    text-align: left;
    color: #303030;
  }
  .accordion-section .panel-group .panel-default .panel-heading .panel-title a{
    padding-right: 25px;
  }
  .accordion-section .panel-group .panel-default .panel-collapse .panel-body{
    padding: 10px;
  }
  .accordion-section .panel-group .panel-default .panel-collapse .panel-body p{
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #636363;
  }
  .faq_page .panel-group .panel,.faq .panel-group .panel{
    border-radius: 0 !important;
    border-right: 0;
    border-left: 0;
  }

  /*foter*/
  footer .footer_link{
    display: block;
    text-align: center;
    padding: 30px 0;
  }
  footer .footer_link a{
    width: 100%;
    text-align: center;
  }
  footer .footer_link a img{
    height: 40px;
  }
  footer .footer_link .text-right{
    text-align: center;
    clear: both;
  }
  footer .footer_link ul.menu-footer {
    margin: 30px auto;
    text-align: center;
    padding: 0;
  }
  footer .footer_link ul.menu-footer li {
    width: 100%;
    text-align: center;
    display: block;
  }
  footer .footer_link ul.menu-footer li a{
    font-family: Gotham Rounded;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #303030;
    margin-bottom: 10px;
    display: block;
  }
  footer .footer_info{
    padding: 30px 10px 10px;
  }
  footer .footer_info p{
    letter-spacing: -0.1px;
    text-align: center;
  }
  footer .footer_info p.hotline, footer .footer_info p.fax{
    width: 100%;
    margin-bottom: 0px;
    letter-spacing: normal;
    padding: 5px 0;
    height: auto;
  }
  footer .footer_info .text-right a.backtop{
    display: none;
  }
  footer .footer_info .text-right a.backtop.showscroll{
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    /*border: 1px solid #e3e3e3;*/
    border-radius: 6px;
    background: #fff;
    padding: 10px 10px 10px 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    color: #ff5f5f;
  }
  .backtop:before {
    position: absolute;
    left: 10px;
    font-size: 22px;
    content: "\e915";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .row{
    margin-right: -10px;
    margin-left: -10px;
  }
  .btn_group .btn.btn-send{
    margin-right: 0;
  }

  body.login, body.signup,
  body.forgotpassword{
    background: #fff;
  }
  body.login .content, body.signup .content, body.forgotpassword .content{
    position: inherit;
    top: inherit;
    transform:inherit;
  }


  /*desgin logout 16/1 */
 .loginModal {
    text-align: center;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
  .loginModal.modal-dialog , .bootbox .modal-dialog{
     display: inline-block;
    text-align: center;
    vertical-align: middle;
    max-width: 95%;
    margin:0;
  }
  .loginModal.modal-dialog .modal-content{
    background: #fff;
    color: #000;
    border: 0;
    box-shadow: 0;
  } 
  .loginModal.modal-dialog .modal-body{
    padding: 10px 20px 20px;
  }
   .loginModal.modal-dialog .modal-body .content{
    position: initial;
   }
  .loginModal.modal-dialog .modal-body h2.title{
    font-size: 24px;
  }
  .loginModal.modal-dialog .modal-body p.subtitle{
    font-size: 14px;
  }

/*desgin logout 16/1 */
 .logoutModal {
    text-align: center;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
  .logoutModal.modal-dialog{
     display: inline-block;
    text-align: center;
    vertical-align: middle;
    max-width: 300px;
  }
  .logoutModal.modal-dialog .modal-content{
    background: #fff;
    color: #000;
    border: 0;
    box-shadow: 0;
  } 
  .logoutModal.modal-dialog .modal-body{
    padding: 10px 20px 20px;
  }
  .logoutModal.modal-dialog .modal-body .submited{
    display: none;
  }
  .logoutModal.modal-dialog .modal-body .submited p:last-child{
    margin-bottom: 0;
    font-size: 12px;
    font-style: italic;
  }
 /* .logoutModal.modal-dialog .modal-body h4{
    font-size: 14px;
    margin-top: 0px;
  }*/
  .logoutModal.modal-dialog .modal-body p{
     font-family: Gotham Rounded;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  }
  .logoutModal.modal-dialog .modal-body img.ip_icon{
    width: 85px;
    height: 85px;
  }
  .logoutModal.modal-dialog .modal-body img.timo_success_icon{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }
  .logoutModal.modal-dialog .modal-body .form-group{
    margin-bottom: 15px;
  }
  .logoutModal.modal-dialog .modal-body input{
    width: 280px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    outline: 0;
    color: #593B8F;
  }
  .logoutModal.modal-dialog .modal-body .group_button{
    font-size: 0;
  }
  .logoutModal.modal-dialog .modal-body button{
    min-width: 115px;
    height: 40px;
    margin: 0 auto;
    /*background: #3b5998;*/
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border: solid 2px #e8e8e8;
     border-radius: 8px;
    outline: 0;
    
    box-shadow: none;
  


  }
  /*.logoutModal.modal-dialog .modal-body button i{
    font-size: 20px;
  }*/
  img.img-logoutmb{
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    right: 42px;
    cursor: pointer;
    transform: translateY(-50%);
    background:#e3e3e3;
  }
  .logoutModal.modal-dialog .modal-body button.btn_logout{
      background-color: #ff5f5f;
  }
  .logoutModal.modal-dialog .modal-body button.btn_cancel,.logoutModal.modal-dialog .modal-body button.btn_cancel{
    margin-right: 15px;
  }
  .logoutModal.modal-dialog .modal-body button.btn_logout{
    font-family: Gotham Rounded;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    background-color: #ff5f5f;
    border: solid 2px #ff5f5f;
    padding: 0px;
  }
  .logoutModal.modal-dialog .modal-body button.btn_cancel{
    font-family: Gotham Rounded;
    background-color: #e8e8e8;
    color:black;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    /*line-height: 2.86;*/
    letter-spacing: normal;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  
   #myModal .modal-dialog .modal-content{
     max-width: 300px !important;
   }

   .logoutModal .modal-header{
    border: hidden;
    padding-bottom: 0px;
    padding-top: 22px;
   }  
   .logoutModal .modal-content .modal-header h4.modal-title{

    font-family:Gotham Rounded;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
   }

    .logoutModal .modal-body .not_submit p{
      margin-bottom: 15px;
    }
}


  /* Landscape phone to portrait tablet */
  @media (min-width: 481px) and (max-width: 767px) { 

    #be-the-first { 
      background-attachment: scroll;
    }

  }


  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 991px) {

    #be-the-first { 
      background-attachment: scroll;
    }

  }



  /* Desktops and laptops ----------- */
  @media (min-width: 992px) and (max-width: 1199px) {
    .introdution-section .container{
      /*background-position: right -150px bottom;*/
    }
  }



  /* Large screens ----------- */
  @media (min-width: 1200px) and (max-width: 3000px) {

  }   

/* Large screens ----------- */
  @media (min-width: 1200px){
    
  }   

  @media screen and (min-width: 1400px) {
    .navbar .container-fluid {
      max-width: 1170px;
      margin: 0 auto;
    }
    
    /*.container {
      width: 1370px;
    }*/
  }
  @media screen and (min-width: 1600px) {
   /* .container {
      width: 1570px;
    }*/
  }
  @media screen and (min-width: 1900px) {
    /*.container {
      width: 1870px;
    }*/
  }
  @media (max-width: 480px) { 
  .bussiness-section {
   /* background-image: url(../img/bussiness-bg-mb2x.png),linear-gradient(#ff4f52, #f73286);
    height: 530px;
    background-position: center -85px, center top !important;*/
  }
}
@media (max-width: 320px) { 
  .bussiness-section {
    /*background-image: url(../img/bussiness-bg-mb2x.png),linear-gradient(#ff4f52, #f73286);
    height: 530px;
    background-position: center bottom, center top !important;*/
  }
}





