<section class="managegift-section">
  <div class="container">
      <div id="parent" class="row parent" >
      <div class="col-md-3 left child">
        <app-menu-left></app-menu-left>
      </div>
      <div class="col-md-9 right child">
        <div class="wrap_gift">
          <div class="box_top">
              <div class="title">
                <h2 class="">{{'gift_received' | translate}}</h2>
                <p class="total_voucher">{{ 'found_num_egift' | translate:{number: numOfVoucher} }}</p>
              </div>
              <div class="filter_box" id="filter" (click)="toggleClick($event)" [class.active]="filterDropdownClicked">
                <p class="title_mb">{{'filter_by' | translate}}</p>
                <div class="filter_selected_mb">
                  <span *ngFor="let item of filterValueSelected" class="{{item.name}}" (click)="removeSelected(item,$event)">{{'status' | translate}}: {{item.name | translate}}</span>
                  <span *ngIf="sort_val" class="sortby {{sort_val}}">{{'sort_by' | translate}}: {{sort_val | translate}}</span>
                </div>

                <div class="filter_group">
                  <div class="filter_left">
                    <label  class="filter_title">{{'filter_by' | translate}}</label>
                    <p *ngFor="let item of filterValue"><input type="checkbox" name="filterValue[]" value="{{item.value}}" id="filter_{{item.value}}" (change)="updateCheckedOptions(item, $event)"
                      [checked] = "(filterValueSelected.indexOf(item) == -1) ? '':'true'"
                      ><label for="filter_{{item.value}}">{{item.name | translate}}</label></p>
                  </div>
                  <div class="filter_right">
                    <label class="filter_title">{{'sort_by' | translate}}</label>
                    <div class="filter_right_selectbox" id="filter_right_selectbox" (click)="toggleClick2($event)" [class.active]="isSortClicked">
                      <span class="filter_right_selected">
                        {{'expiry' | translate}}
                      </span>
                      <div class="dropdown_selected">
                          <p><input type="radio" name="sort" value="expiry" id="sort_expiry" [(ngModel)]='sort_val' (click)='onSortChange("expiry")'><label for="sort_expiry" (click)="chooseSortCl($event)">{{'expiry' | translate}}</label></p>
                          <p><input type="radio" name="sort" value="value" id="sort_value" [(ngModel)]='sort_val' (click)='onSortChange("value")'><label for="sort_value" (click)="chooseSortCl($event)">{{'value' | translate}}</label></p>
                          <p><input type="radio" name="sort" value="brand" id="sort_brand" [(ngModel)]='sort_val' (click)='onSortChange("brand")'><label for="sort_brand" (click)="chooseSortCl($event)">{{'brand' | translate}}</label></p>

                      </div>
                    </div>
                    <!-- <p><input type="radio" name="sort" value="expiry" id="sort_expiry" [(ngModel)]='sort_val' (click)='onSortChange("expiry")'><label for="sort_expiry">{{'expiry' | translate}}</label></p>
                    <p><input type="radio" name="sort" value="value" id="sort_value" [(ngModel)]='sort_val' (click)='onSortChange("value")'><label for="sort_value">{{'value' | translate}}</label></p>
                    <p><input type="radio" name="sort" value="brand" id="sort_brand" [(ngModel)]='sort_val' (click)='onSortChange("brand")'><label for="sort_brand">{{'brand' | translate}}</label></p> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="box_content">
            <div class="gift_list">
              <!-- test -->
              <div *ngIf = "!dataLoaded && voucherDataTemp.length == 0" class="tab-content"  [ngStyle]="{'height': '300px','position':'relative'}">
      
                <p style="text-align:center;color:red;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
                  <i class="fa fa-spinner fa-spin" style="font-size:48px;clear:both;display:block"></i>
                  {{'loading' | translate}}
                </p>
              </div>
              <div *ngIf = "dataLoaded && voucherDataTemp.length == 0" class="tab-content"  [ngStyle]="{'height': '300px','position':'relative'}">
                <p style="text-align:center;color:red;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
                  {{'u_dont_has_voucher' | translate}}
                </p>
              </div>
              
              <div class="gift_item status_{{voucher.data().state}}" *ngFor="let voucher of voucherDataTemp">
                <div class="gift_img">
                  <img src="{{voucher.data().img_path}}">
                </div>
                 <div class="gift_info">
                  <div class="product_name">
                    <h3>
                      {{voucher.data().brandName}}
                      <span *ngIf="calculateDay(voucher.data().expired_date) < 14 && voucher.data().state == 3">{{'expiry_soon' | translate}}</span>
                    </h3>
                  </div>
                  <div class="content">
                  
                    <p class="received_date">
                      <label [innerHTML]="translate.currentLang == 'vi' ? voucher.data().name_vi : voucher.data().name_en"></label>
                      <label> {{voucher.data().price | number:'1.0-3'}} VND</label>
                     GOT IT
                      <b *ngIf="voucher.data().code.length  <  10 ">{{voucher.data().code }}</b>
                     <b *ngIf="voucher.data().code.length  ==  10 ">{{voucher.data().code | slice:0:3}} {{voucher.data().code | slice:3:6}} {{voucher.data().code | slice:6}}</b>
                     <b *ngIf="voucher.data().code.length  >  10 ">{{voucher.data().code | slice:0:4}} {{voucher.data().code | slice:4:9}} {{voucher.data().code | slice:9}}</b>

                    </p>
                    <p class="status">
                      <span *ngIf="voucher.data().state == 3">{{'status_active' | translate}}</span>
                      <span *ngIf="voucher.data().state == 4">{{'status_used' | translate}}</span>
                      <span *ngIf="voucher.data().state == 8">{{'status_expired' | translate}}</span>
                      <label>{{'expires' | translate}}: {{voucher.data().expired_date ? ((voucher.data().expired_date | dateFormatPipe) | date: 'dd/MM/yyyy') : ''}}</label>
                      <label> </label>
                     
                    </p>
                    <p class="expiry_date">
                      <label style="padding-bottom: 0px;"><img src="assets/img/seen_icon.png"><a [href]="voucher.data().link" target="_blank" >{{'open_egift' | translate}}</a></label>
                      <!-- <label><img src="assets/img/where-to-use@3x.png"><a href="javascript:void(0)" (click)="showModalWhereUse(voucher.data().brandID)">{{'where_to_use' | translate}}</a></label>
                      <label><img src="assets/img/how-to-use3-x@3x.png"><a href="javascript:void(0)" (click)="showModalProductDes(voucher.data().productID)">{{'product_description' | translate}}</a></label> -->
                      <label><img src="assets/img/term-3-x@3x.png"><a href="javascript:void(0)" (click)="showModalTermCondition(voucher.data().productID)">{{'term_and_condition' | translate}}</a></label>
                      
                    </p>
                  </div>
                <!--   <ul class="list_guide_link">
                    <li><a href="javascript:void(0)">Where to use</a></li>
                    <li><a href="javascript:void(0)">How to use</a></li>
                    <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                  </ul> -->
                </div>
                <a [href]="voucher.data().link"  target="_blank" class="show_voucher"></a>
              </div>
            </div>
            <div *ngIf = "loadMoreLoading" class="tab-content"  [ngStyle]="{'position':'relative','width':'100%','display':'block','height':'50px'}">
                <p style="text-align:center;color:red;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
                  <i class="fa fa-spinner fa-spin" style="font-size:48px;clear:both;display:block"></i>
                  {{'loading' | translate}}
                </p>
              </div>
            <a href="javascript:void(0)" class="lazy_load_point" #lazyPoint [ngStyle]="{'text-indent': '-9999999px'}"></a>
            <!-- <a href="javascript:void(0)" *ngIf="showLoadBtn" class="load_more_btn" (click)="loadMore()">Load more</a> -->
          </div>
        </div>
      </div>
      <div class="left-fixed-wrap"></div>
      </div>
  </div>

<div id="where_to_use_modal" class="modal fade" bsModal #wheretouseModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="overflow:hidden">
        <h4 class="modal-title pull-left">{{'where_to_use' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="wheretouseModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe  #iframe width="100%" height="500"></iframe>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" (click)="wheretouseModal.hide()">Cancel</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<div id="productDes_modal" class="modal fade" bsModal #productDesModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="overflow:hidden">
        <h4 class="modal-title pull-left">{{'product_description' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="productDesModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content" *ngIf="productDesc" [innerHTML]="productDesc">
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" (click)="productDesModal.hide()">Cancel</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
<div id="term_condition_modal" class="modal fade" bsModal #termconditionModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="overflow:hidden">
        <h4 class="modal-title pull-left">{{'term_and_condition' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="termconditionModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content" *ngIf="productTerm" [innerHTML]="productTerm">
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" (click)="termconditionModal.hide()">Cancel</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
</section>