<div class="col-md-12 {{currentUrl == '/send-egift' ? 'brand_productpage':''}}">
	<div class="box_top tabbable-line">
		<h2 class="pull-left">{{'our_brand'|translate}}</h2>
		<div id="tab_all_brand" class=" pull-right dropdown-mobile wrapper-dropdown" tabindex="1" (click)="toggleClick($event)" [class.active]="brandDropdownClicked">
                  <span>{{'category' | translate}}<small>{{'all_category' | translate}}</small></span>
                  <ul class="nav nav-tabs {{translate.currentLang}}">
                      <li class="active">
                        <a href="#tab_1" data-toggle="tab" aria-expanded="false" data-id="0" (click) = "elementClicked($event)">
                        {{'all_category' | translate}}</a>
                      </li>
                      <li>
                        <a href="#tab_2" data-toggle="tab" aria-expanded="true" data-id="2" (click) = "elementClicked($event)">
                        {{'fastfood_cafe' | translate}} </a>
                      </li>
                      <li class="">
                        <a href="#tab_3" data-toggle="tab" aria-expanded="false" data-id="1" (click) = "elementClicked($event)">
                        {{'restaurants' | translate}} </a>
                      </li>
                      <li [ngStyle]="(currentUrl == '/send-egift') ? {'display': 'none' } : {}">
                        <a href="#tab_4" data-toggle="tab" aria-expanded="true" data-id="3" (click) = "elementClicked($event)">
                        {{'fashion_cosmetic' | translate}} </a>
                      </li>
                      <li class="">
                        <a href="#tab_5" data-toggle="tab" aria-expanded="false" data-id="7" (click) = "elementClicked($event)">
                        {{'mall_mart' | translate}} </a>
                      </li>
                      <!-- <li class="">
                        <a href="#tab_5" data-toggle="tab" aria-expanded="false" data-id="8" (click) = "elementClicked($event)">
                        Lifestyle </a>
                      </li> -->
                  </ul>
            </div>
	</div>

	<div class="box-content">
		<div *ngIf = "!listTempOurBrand" class="tab-content"  [ngStyle]="{'height': '300px','position':'relative'}">
			
			<p style="text-align:center;color:red;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
				<i class="fa fa-spinner fa-spin" style="font-size:48px;clear:both;display:block"></i>
				{{'loading' | translate}}
			</p>
		</div>
		<div  *ngIf = "listTempOurBrand" class="tab-content">
			<div  class="tab-pane active" id="tab_1">
				<ng-container *ngFor = "let brandChunk of listTempOurBrand | chunks: chunkSize ; let i = index"  >
					<div class="list_brand" *ngIf="i < rowDisplay && !isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
					<div class="list_brand clicked" *ngIf="isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
				</ng-container>

				<ng-container *ngIf="listTempOurBrand.length > chunkSize * rowDisplay && !isShowMoreClicked">
					<p class="show-more">
						<a href="javascript:void(0)" class="btn-show-more" (click)="toggleShowmoreClick($event)">{{'show_more' | translate}}<span></span></a>
					</p>
				</ng-container>
			</div>
			<div class="tab-pane " id="tab_2">
				<ng-container *ngFor = "let brandChunk of listTempOurBrand | chunks: chunkSize ; let i = index"  >
					<div class="list_brand" *ngIf="i < rowDisplay && !isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
					<div class="list_brand clicked" *ngIf="isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
				</ng-container>

				<ng-container *ngIf="listTempOurBrand.length > chunkSize * rowDisplay && !isShowMoreClicked">
					<p class="show-more">
						<button class="btn btn-show-more" (click)="toggleShowmoreClick($event)">{{'show_more' | translate}}</button>
					</p>
				</ng-container>

			</div>
			<div class="tab-pane" id="tab_3">
				<ng-container *ngFor = "let brandChunk of listTempOurBrand | chunks: chunkSize ; let i = index"  >
					<div class="list_brand" *ngIf="i < rowDisplay && !isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
					<div class="list_brand clicked" *ngIf="isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
				</ng-container>

				<ng-container *ngIf="listTempOurBrand.length > chunkSize * rowDisplay && !isShowMoreClicked">
					<p class="show-more">
						<button class="btn btn-show-more" (click)="toggleShowmoreClick($event)">{{'show_more' | translate}}</button>
					</p>
				</ng-container>
			</div>
			<div class="tab-pane" id="tab_4">
				<ng-container *ngFor = "let brandChunk of listTempOurBrand | chunks: chunkSize ; let i = index"  >
					<div class="list_brand" *ngIf="i < rowDisplay && !isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
					<div class="list_brand clicked" *ngIf="isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
				</ng-container>

				<ng-container *ngIf="listTempOurBrand.length > chunkSize * rowDisplay && !isShowMoreClicked">
					<p class="show-more">
						<button class="btn btn-show-more" (click)="toggleShowmoreClick($event)">{{'show_more' | translate}}</button>
					</p>
				</ng-container>
			</div>
			<div class="tab-pane" id="tab_5">
				<ng-container *ngFor = "let brandChunk of listTempOurBrand | chunks: chunkSize ; let i = index"  >
					<div class="list_brand" *ngIf="i < rowDisplay && !isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
					<div class="list_brand clicked" *ngIf="isShowMoreClicked">
						<a href="javascript:void(0)" class="brand_img" *ngFor = "let brand of brandChunk">
							<img src="{{brand.brandImg}}">
						</a>
					</div>
				</ng-container>

				<ng-container *ngIf="listTempOurBrand.length > chunkSize * rowDisplay && !isShowMoreClicked">
					<p class="show-more">
						<button class="btn btn-show-more" (click)="toggleShowmoreClick($event)">{{'show_more' | translate}}</button>
					</p>
				</ng-container>
			</div>
		</div>
	</div>
</div>