<menu></menu>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <app-listbrand></app-listbrand>
<div>
      <h2>{{ 'home' | translate }}</h2>
      <label>
        {{ 'home' | translate }}
    
        <select #langSelect (change)="translate.use(langSelect.value)" *ngIf="translate.getLangs()" >
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>
    </div> -->