<div class="container" id="static_page">
	<div class="row row-no-padding" *ngIf="translate.currentLang == 'vi' ">
		<div class="policy_page" style="padding: 10px;margin: 40px 120px 0px 120px;">
			<strong class="title">Ch&iacute;nh s&aacute;ch bảo mật</strong>
			<div>
				<p><strong>Đảm bảo an toàn giao dịch</strong></p>
				<p>Got It sử dụng các phần mềm kĩ thuật để bảo vệ thông tin và việc thanh toán của bạn, cụ thể như sau:</p>
				<ul>
					<li>Sử dụng phần mềm Secure Sockets Layer (SSL) để bảo vệ thông tin của Khách hàng trong quá trình chuyển dữ liệu bằng cách mã hóa thông tin Khách hàng nhập vào.</li>
					<li>
						Khi Khách hàng truy cập gotit.vn, chúng tôi sẽ đặt một số File dữ liệu nhỏ gọi là Cookies lên đĩa cứng hoặc bộ nhớ máy tính của Khách hàng.
						<br>
						Một trong số những Cookies này có thể tồn tại lâu để thuận tiện cho bạn trong quá trình sử dụng, ví dụ như: lưu Email của bạn trong trang đăng nhập để bạn không phải nhập lại v.v…Chúng tôi sẽ mã hóa các File Cookies để bảo mật, bạn có thể cấm Cookies trên trình duyệt của mình nhưng điều này có thể ảnh hưởng đến quá trình sử dụng gotit.vn của bạn.
					</li>
					<li>
						Đối với hình thức thanh toán sử dụng Cổng thanh toán trực tuyến, chúng tôi sử dụng Cổng thanh toán trực tuyến Sacombank ePAY. Với Sacombank ePAY, thông tin thẻ và chủ thẻ được mã hóa và đảm bảo bí mật bằng các công nghệ bảo mật tiên tiến hàng đầu thế giới, bao gồm
						<br><br>
					</li>
					<li>
						Đối với hình thức thanh toán sử dụng ví điện tử, chúng tôi sử dụng ứng dụng MoMo của Công ty cổ phần Dịch Vụ Di Động Trực Tuyến (M_Service).<br>Ứng dụng MoMo được thiết kế bảo mật 256 bit theo chuẩn ngân hàng và chứng nhận bảo mật Verisign để đảm bảo an toàn cho các giao dịch
					</li>
					<li>
						Chúng tôi chỉ cung cấp 4 chữ số cuối của số thẻ tín dụng của Khách hàng khi xác nhận đơn hàng.
						<br>
						Tất nhiên, chúng tôi sẽ cung cấp đầy đủ số thẻ tín dụng của Khách hàng cho công ty thẻ tín dụng phù hợp trong quá trình xử lý đơn hàng.
					</li>
				</ul>
				<p>Để đảm bảo các giao dịch được tiến hành thành công, hạn chế tối đa rủi ro có thể phát sinh, bạn lưu ý và tuân thủ các nội dung cam kết như sau:</p>
				<ul>
					<li>Khách hàng không nên đưa thông tin chi tiết về việc thanh toán với bất kỳ ai bằng e-mail, chúng tôi không chịu trách nhiệm về những mất mát Khách hàng có thể gánh chịu trong việc trao đổi thông tin của Khách hàng qua internet hoặc e-mail.</li>
					<li>
						Khách hàng tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu.
						<br>
						Nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm của hệ thống website.
						<br>
						Mọi vi phạm sẽ bị xử lý theo Quy chế và quy định của pháp luật.
					</li>
					<li>Mọi thông tin giao dịch được bảo mật, trừ trường hợp buộc phải cung cấp khi Cơ quan pháp luật yêu cầu.</li>
				</ul>

			</div>
			<div>
				<p><strong>Chính sách bảo vệ thông tin cá nhân của Khách hàng</strong></p>
				<p>Mục đích thu thập thông tin cá nhân</p>
				<ul>
					<li>
						Việc thu thập dữ liệu chủ yếu trên Sàn giao dịch bao gồm: email, điện thoại, tên đăng nhập, mật khẩu đăng nhập, địa chỉ của Khách hàng.
						<br>
						Đây là các thông tin mà Got It cần Khách hàng cung cấp bắt buộc khi đăng ký sử dụng dịch vụ và để Got It liên hệ xác nhận khi Khách hàng đăng ký sử dụng dịch vụ trên website nhằm đảm bảo quyền lợi cho cho người tiêu dùng.
					</li>
					<li>
						Got It cũng lưu trữ bất kỳ thông tin nào bạn nhập trên website hoặc gửi đến gotit.vn.
						<br>
						Những thông tin đó sẽ được sử dụng cho mục đích phản hồi yêu cầu của Khách hàng, đưa ra những gợi ý‎ phù hợp cho từng Khách hàng khi mua sắm tại gotit.vn, nâng cao chất lượng hàng hóa dịch vụ và liên lạc với Khách hàng khi cần.
					</li>
					<li>Ngoài ra, các thông tin giao dịch gồm: lịch sử mua hàng, giá trị giao dịch, phương thức nhận Thẻ quà tặng điện tử và thanh toán cũng được Got It nhằm giải quyết những vấn đề có thể phát sinh về sau</li>
					<li>
						Khách hàng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình.
						<br>
						Ngoài ra, Khách hàng có trách nhiệm thông báo kịp thời cho Got It về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.
					</li>
				</ul>
				<p>Phạm vi sử dụng thông tin</p>
				<ul>
					<li>Cung cấp các dịch vụ đến Khách hàng.</li>
					<li>Gửi các thông báo về các hoạt động trao đổi thông tin giữa Khách hàng và Got It.</li>
					<li>Ngăn ngừa các hoạt động phá hủy tài khoản người dùng của Khách hàng hoặc các hoạt động giả mạo Khách hàng.</li>
					<li>Liên lạc và giải quyết với Khách hàng trong những trường hợp đặc biệt.</li>
					<li>Nâng cao chất lượng dịch vụ khách hàng.</li>
					<li>Giải quyết các vấn đề, tranh chấp phát sinh liên quan đến việc sử dụng website.</li>
					<li>Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam.</li>
					<li>Không sử dụng thông tin cá nhân của Khách hàng ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch tại Got It.</li>
					<li>
						Trong trường hợp có yêu cầu của pháp luật: Got It sẽ hợp tác cung cấp thông tin cá nhân Khách hàng khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của Khách hàng.
						<br>
						Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của Khách hàng.
					</li>
				</ul>

				<p>Thời gian lưu trữ thông tin</p>
				<p>Dữ liệu cá nhân của Khách hàng sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự Khách hàng đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân Khách hàng sẽ được bảo mật trên máy chủ của Got It.</p>

				<p>Phương thức và công cụ chỉnh sửa dữ liệu cá nhân của Khách hàng</p>
				<ul>
					<li>Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân;</li>
					<li>
						Thành viên có quyền gửi khiếu nại về việc lộ thông tin cá nhân cho bên thứ 3 đến Got It. Khi tiếp nhận những phản hồi này, Got It sẽ xác nhận lại thông tin, phải có trách nhiệm trả lời lý do và hướng dẫn Khách hàng khôi phục và bảo mật lại thông tin.
						<br>
						Email tiếp nhận thông tin khiếu nại: <a href="mailto:support@gotit.vn">support@gotit.vn</a>
					</li>
				</ul>

				<p>Bảo mật thông tin khách hàng</p>
				<ul>
					<li>gotit.vn sử dụng phần mềm Secure Sockets Layer (SSL) để bảo vệ thông tin của khách hàng quá trình chuyển dữ liệu bằng cách mã hóa thông tin bạn nhập vào.</li>
					<li>
						Khách hàng có trách nhiệm tự bảo vệ mình trước sự tiếp cận thông tin về mật khẩu khi dùng chung máy tính với nhiều người.
						<br>
						Khi đó, Khách hàng phải chắc chắn đã thoát khỏi tài khoản sau khi sử dụng dịch vụ của gotit.vn.
					</li>
					<li>gotit.vn cam kết không cố ‎‎ý tiết lộ thông tin khách hàng, không bán hoặc chia sẻ thông tin khách hàng của gotit.vn vì mục đích thương mại vi phạm những cam kết giữa gotit.vn với Khách hàng</li>
					<li>
						Chính sách bảo mật thông tin khách hàng của gotit.vn chỉ được áp dụng tại www.gotit.vn.
						<br>
						Nó không bao gồm hoặc liên quan đến các bên thứ ba khác đặt quảng cáo hoặc có liên kết tại gotit.vn.
						<br>
						Khách hàng nên tham khảo và phân biệt rõ sự khác biệt trong chính sách bảo mật thông tin khách hàng của những website này
					</li>
				</ul>
			</div> 

		</div>
	</div>

	<!-- lang english -->

	<div class="row row-no-padding"  *ngIf="translate.currentLang == 'en' ">
		<div class="policy_page" style="padding: 10px;margin: 40px 120px 0px 120px;">
			<strong class="title">Privacy Policy</strong>
			<div>
				<p><strong>Assurance of transaction safety</strong></p>
				<p>Got It is committed to safeguarding your privacy online by using appropriate measures on technical security to protect your personal infoamrtion and your payment information as follows:</p>
				<ul>
					<li>We use Secure Sockets Layer encryption (SSL) to protect customers’ information to protect your information during data transmission by encrypting all information input by customer.</li>
					<li>When you access Got It, we use Cookies which are text files placed on your computer to help the website analyze how users have access to the web. Cookies are stored by internet browser on your computer's hard drive. We use cookies for your convenience on the web (for example, remembering your username when you want to change the shopping cart without having to re-enter your email address) and does not require any information about you (for example, targeted advertising). Those cookies shall be encrypted for security. Your browser can be set not to use cookies, but this will restrict your website access. Please accept our commitment that cookie does not include any personal information and security with virus.
					</li>
					<li>With payment option of payment gateway, we use Sacombank e-Pay payment gateway. With Sacombank e-Pay, information of card and cardholder shall be secured by the most advanced security technology, including:
						<br><br>
					</li>
					<li>With payment option of e-wallet, we use MoMo e-wallet of M_Service. Momo e-wallet has security infrastructure of 256 bits, similar to those used by banks and verified by Verisign to assure transaction security.
					</li>
					<li>We only provide the last 4 digit of your card when we confirm the order. We will, certainly, provide full card number to your card issuing company to process your order.</li>
				</ul>
				<p>To ensure successful transation and minimize all risks realated, you should acknowledge and comply with the following commitments:</p>
				<ul>
					<li>We recommend that you should not give detailed information about payments to anyone by e-mail, we do not take responsibility for the losses you may incur in the exchange of information on your Internet or email.</li>
					<li>You absolutely do not use any programs, tools or any other forms to interfere in the system or alter data structures. It is strictly forbidden to distribute, propagate or encourage any activity aimed at interventing, sabotaging or infiltrating the website system data. All violations will be stripped of all rights and will be prosecuted under the law if necessary.
					</li>
					<li>All information are confidential, unless require to be disclose by law.</li>
				</ul>

			</div>
			<div>
				<p><strong>Privacy protection</strong></p>
				<p><b><u>Collect personal information</u></b></p>
				<ul>
					<li>Some personal information is gathered when you register. During registration, we ask for your email address, phone number, ID and passwords, and your street address. Those are information required by Got It in order to contact customer when customer uses services provided by Got It to ensure consumer rights.
					</li>
					<li>Got It will collect other information when you input on Got It or send to Got It. We collect, store and process your information for the purpose of customer service and feedback, providing suitable services, enhancing products/services quality, and contacting customer when needed.
					</li>
					<li>We will collect other information when you want to place an order on the website, including: order history, transaction value, gift sending channels, payment options for future problem solving. </li>
					<li>You must be committed to protecting personal data, including ID, password, and email. We do not take any responsibility for the misuse of password if it is not our fault. We recommend that you do not divulge your password to anyone. Got It will never ask you for your password in an unsolicited phone call or in an unsolicited email. As an extra security precaution, you may want to logoff once you have completed a session on Got It. This is to ensure that others cannot access your personal information and correspondence if you share a computer with someone else or are using a computer in a public place like a library or Internet cafe. You should notify Got It on any violation, abusement, illegal use of your ID and password for appropriate resolution.
					</li>
				</ul>
				<p><b><u>How your information is used</u></b></p>
				<ul>
					<li>To provide services to customers</li>
					<li>To exchange information between customers and Got It</li>
					<li>To protect user account or to prevemajocounterfeit</li>
					<li>To contact customer for complaint handling</li>
					<li>To enhance customer service quality</li>
					<li>Not to use your personal information for reasons other than order confirmation, transaction-related issues, and informing Got It service.</li>
					<li>We do not disclose your personal information. All information are confidential, unless require to be disclose by law.</li>
				</ul>

				<p><b><u>How long your personal information will be stored</u></b></p>
				<p>Your personal information shall be stored until termation request by customer or directly deletion by customer, otherwise, all personal information shall be securely stored on Got It’s server.</p>

				<p><b><u>How you can access, update or delete your information</u></b></p>
				<ul>
					<li>We will provide you with the means to ensure that your personal information is correct and current. You may edit or delete your user profile at any time by logging onto your account.</li>
					<li>User should notify Got It on any disclosure of personal data to third party. Got It will confirm the information received and shall be responsible to provide reason and provide guidance on restoring and securing account. Email for customer service is <a href="mailto:support@gotit.vn">support@gotit.vn</a>
					</li>
				</ul>

				<p><b><u>Security</u></b></p>
				<ul>
					<li>We use Secure Sockets Layer encryption (SSL) to protect customers’ information to protect your information during data transmission by encrypting all information input by customer.</li>
					<li>You must be committed to protecting personal data, including ID, password, and email. We do not take any responsibility for the misuse of password if it is not our fault. We recommend that you do not divulge your password to anyone. Got It will never ask you for your password in an unsolicited phone call or in an unsolicited email. As an extra security precaution, you may want to logoff once you have completed a session on Got It. This is to ensure that others cannot access your personal information and correspondence if you share a computer with someone else or are using a computer in a public place like a library or Internet.
					</li>
					<li>gotit.vn commits not to dislose your personal information for commercial use that violates the agreement between Got It and customers. </li>
					<li>Privacy policy of Got It shall only be applied at www.gotit.vn. This policy does not include or relate to third parties who place advertisement or partner with Got It at gotit.vn. You should refer and differentiate differences in privacy policy of those third parties’ websites. 
					</li>
				</ul>
			</div>

		</div>
	</div>

</div>

