<section class="forgotpassword">
	<div class="container">
		<div class="row">
			<div class="content">
				<form class="forgotpassword-form" action="#" method="post" novalidate="novalidate" autocomplete="off" #forgotForm="ngForm">
					<div class="form-title">
						<h2>{{ 'forgotpassword' | translate }}</h2>
						<span class="form-subtitle">{{ 'just_remember' | translate }} <a [routerLink]="['/login']">{{ 'login_here' | translate }}</a> 
						</span>
					</div>
					<p *ngIf="emailControl.errors && emailControl.errors.required && emailControl.touched" class="help-block error-msg">
						   {{ 'email_required' | translate}}
					</p>
					<p  *ngIf="emailControl.errors && emailControl.errors.pattern && emailControl.touched" class="help-block error-msg">
		              	 {{ 'email_invalid' | translate}}
		            </p>
					
					<div *ngIf="error != null" class="alert alert-danger alert-dismissable">
		                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		                {{error}}
		          	</div>
					<div *ngIf="messageSuccess != null" class="alert alert-success alert-dismissable">
		                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		                {{messageSuccess}}
		          	</div>

					<div class="form-group form-md-floating-label">
						<input class="form-control {{email && email.length > 0 ? 'edited':''}}" id="email" [(ngModel)]="email" type="text" autocomplete="off" name="email"  required #emailControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
						<label for="email">Email</label>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-submit" (click)="forgot()" [disabled]="(!forgotForm.valid)" >{{ 'send' | translate }}</button>
					</div>			
				</form>
			</div>
		</div>
	</div>
</section>