<div class="container" id="static_page">

   <div class="row row-no-padding" *ngIf="translate.currentLang == 'vi'">
    <div class="teamof_page" style="padding: 10px;margin: 40px 120px 0px 120px;">
        <strong class="title">Ch&iacute;nh s&aacute;ch sử dụng</strong>
        <div>
            <p><b>Chấp Thuận Điều Khoản &amp; Điều Kiện</b></p>
            <p>
                Vui lòng đọc kỹ các Điều Khoản &amp; Điều Kiện này trước khi truy nhập và sử dụng dịch vụ trên website gotit.vn (sau đây gọi là <b>“Got It”</b>) của Công ty Cổ phần DAYONE (sau đây gọi là <b>“DAYONE”</b>).</p>
                <p>
                Bằng việc chấp thuận Điều Khoản &amp; Điều Kiện này, bạn đồng ý bị ràng buộc bởi các quy định về sử dụng Dịch vụ trên Website Got It.</p>
                <p>
                    Nếu bạn có bất kỳ câu hỏi nào về bản thỏa thuận này, vui lòng liên hệ chúng tôi qua email <a href="mailto:support@gotit.vn.">support@gotit.vn.</a></p>
                    <p><strong>Dịch Vụ Của Got It</strong></p>
                    <p>
                    Got It thực hiện hoạt động và vận hành, cung cấp các dịch vụ trực tuyến về quà tặng thông qua việc triển  khai giới thiệu các sản phẩm, dịch vụ và thực hiện các chương trình bán hàng, chương trình khuyến mại  cho các sản phẩm, dịch vụ theo uỷ quyền của các thương nhân, tổ chức, cá nhân có hoạt động thương mại hợp pháp (sau đây gọi chung là “nhà bán hàng”) trên cơ sở Hợp đồng, Thoả thuận với DAYONE và không trái với quy định của pháp luật hiện hành.</p>
                    <p>
                    Để có thể sử dụng đầy đủ tiện ích dịch vụ trên Got It, bạn cần phải đăng ký tạo lập một tài khoản sử dụng và cung cấp cho Got It một số thông tin cá nhân nhất định bao gồm mà không giới hạn bởi địa chỉ email để phục vụ cho việc liên lạc giao tiếp giữa bạn và Got It cũng như những người sử dụng khác sau này. </p>
                    <p>
                    Bằng việc đăng ký này, bạn đồng ý nhận các Thư thông báo, các thư điện tử hoặc các hình thức truyền thông khác về các sản phẩm và dịch vụ của Got It.</p>
                    <p>
                    Bất cứ khi nào bạn không mong muốn nhận các thư điện tử này nữa, thì bạn hãy thông báo cho Got It bằng cách chọn chức năng hủy đăng ký bên dưới của các thư điện tử của Got It.</p>
                    <p>
                    Các thông tin cá nhân của bạn sẽ được bảo quản và xử lý một cách bảo mật theo Chính Sách Bảo Mật của Got It.</p>
                    <p>
                    Bạn phải bảo vệ mật khẩu của mình và giám sát việc sử dụng các tài khoản của mình, bạn hiểu và đồng ý rằng bạn là người chịu trách nhiệm mọi thông tin cá nhân có liên quan kể cả việc sử dụng tài khoản của mình, và bạn phải chịu hoàn toàn trách nhiệm đối với bất cứ ai được bạn cho phép truy cập vào tài khoản của mình.</p>
                    <p>
                    Bạn có thể đặt mua hàng hóa, dịch vụ theo đúng giá và quy chuẩn theo đúng cam kết của Nhà bán hàng hợp pháp đã công bố trên Got It và việc đặt mua này của bạn sẽ tùy thuộc vào chấp thuận một phần hoặc toàn bộ điều kiện đặt hàng này của Got It.</p>
                    <p>
                        Việc chấp thuận này của Got It chỉ có hiệu lực ràng buộc khi bạn đã thanh toán hoặc các thông tin về thanh toán của bạn đã được xác nhận.<p>

                            <p><strong>Điều Khoản Về Sử Dụng Dịch Vụ</strong></p>

                            <p><b><u>Dịch Vụ Đặt Mua Và Thanh Toán</u></b></p>
                            <p>
                                Khi có nhu cầu mua hàng, sử dụng dịch vụ trên Got It, bạn sẽ thực hiện theo các bước sau đây:
                            </p>
                            <ul>
                                <li>Bước 1: Tìm kiếm, tham khảo thông tin sản phẩm, dịch vụ trên Got It mà bạn đang quan tâm, sau đó, bạn có thể lựa chọn sản phẩm, dịch vụ thích hợp do từng Nhà bán hàng cung cấp.</li>
                                <li>Bước 2: Dựa trên thông tin tham khảo, bạn đưa ra quyết định đặt hàng trực tuyến bằng cách nhấn vào nút <b>“Gởi quà”</b> hoặc “Thêm vào giỏ quà”, nếu bạn chưa đăng nhập thì bạn sẽ đăng nhập vào tài khoản giao dịch tại Got It và lựa chọn phương thức thanh toán và thực hiện thanh toán trực tuyến.</li>
                                <li>Bước 3: Bạn chọn số lượng hàng cần mua</li>
                                <li>Bước 4: Bạn nhập lời nhắn cho món quà tặng để gửi đến người nhận.</li>
                                <li>Bước 5: Bạn chọn hình thức thanh toán mong muốn, bao gồm thanh toán bằng thẻ thanh toán quốc tế (Visa, Master card..) thông qua công thanh toán trực tuyến hoặc thanh toán bằng khoản ví điện tử MoMo, sau đó thực hiện thanh toán trực tuyến.</li>
                                <li>Bước 6: Bạn chọn hình thức gửi Thẻ quà tặng điện tử mà người nhận quà tặng sẽ nhận, bao gồm email, sms, ứng dụng OTT hoặc mạng xã hội.</li>
                                <li>Bước 7: Người nhận Thẻ quà tặng điện tử sẽ sử dụng Thẻ quà tặng điện tử tại các Địa điểm sử dụng Thẻ quà tặng điện tử được ghi nhận trên Thẻ hoặc niêm yết trên Got It để nhận sản phẩm,sử dụng dịch vụ theo các điều kiện sử dụng và hạn sử dụng cụ thể trên Thẻ quà tặng điện tử.</li>
                            </ul>

                            <p><b><u>Quy trình giao nhận vận chuyển:</u></b></p>
                            <p>
                                Khách hàng sau khi thanh toán trực tuyến sẽ chọn hình thức gửi Thẻ quà tặng điện tử mà người nhận quà tặng sẽ nhận, bao gồm email, sms, ứng dụng OTT hoặc mạng xã hội.
                            </p>
                            <p>
                                Sau đó người nhận được Thẻ quà tặng điện tử sẽ đem đến các Địa Điểm sử dụng Thẻ Quà Tặng Điện Tử để đổi lấy sản phẩm, sử dụng dịch vụ.
                            </p>
                            <p>
                                Do vậy, về nguyên tắc Sàn Giao Dịch không phải thực hiện vận chuyển sản phẩm đến Khách hàng.
                            </p>
                            <p><b><u>Chính sách đổi trả sản phẩm/dịch vụ:</u></b></p>
                            <p>
                            Sau khi bạn đã thanh toán các sản phẩm, dịch vụ đã đặt mua, chúng tôi sẽ không chấp nhận bất kỳ yêu cầu tạm ngưng hoặc hủy bỏ các sản phẩm, dịch vụ đã đặt mua, hoặc hoàn tiền, hoặc thay đổi dịch vụ.</p>
                            <p>
                            Sau khi bạn nhận sản phẩm, dịch vụ từ các Địa Điểm sử dụng Thẻ quà tặng điện tự, bạn có thể đổi trả sản phẩm, dịch vụ theo quy chế, quy định của Nhà Bán Hàng cung cấp sản phẩm, dịch vụ đó.</p>
                            <p>
                            Thẻ Quà Tặng Điện Tử do Got It phát hành cho khách hàng không có giá trị quy đổi ra tiền mặt.</p>
                            <p>
                                <strong>Quyền Và Trách Nhiệm Của Các Bên</strong></p>
                                <p><b><u>Quyền và Trách nhiệm của Got It</u></b></p>
                                <ol>
                                    <li>
                                        <p><b>Quyền của Got It</b></p>

                                        <ul>
                                            <li>Ban hành các thủ tục và các điều kiện bắt buộc áp dụng cho Khách hàng, người dùng tham gia Got It;</li>
                                            <li>Trong trường hợp có cơ sở để chứng minh Khách hàng/Nhà Bán hàng cung cấp thông tin cho Got It không chính xác, sai lệch, không đầy đủ hoặc vi phạm pháp luật hay thuần phong mỹ tục Việt Nam thì Got It có quyền từ chối, tạm ngừng hoặc chấm dứt quyền sử dụng dịch vụ của Khách hàng/Nhà Bán hàng.</li>
                                            <li>Got It có thể chấm dứt quyền Khách hàng và quyền sử dụng một hoặc tất cả các dịch vụ của Khách hàng và sẽ thông báo cho Khách hàng trong thời hạn ít nhất là ba (03) ngày trong trường hợp Khách hàng vi phạm các Quy chế của Got It hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh trên Got It.</li>
                                            <li>
                                                Got It giữ bản quyền sử dụng dịch vụ và các nội dung trên Got It theo luật bản quyền quốc tế và các quy định pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam.
                                                <br>
                                                Nhãn hiệu Got It, hình ảnh và tất cả các biểu tượng, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu trí tuệ của DAYONE.
                                                <br>
                                                Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến bất hợp pháp các quyền sở hữu trên.
                                            </li>
                                            <li>
                                                Got It có thể chấm dứt ngay quyền sử dụng dịch vụ và quyền Khách hàng/Nhà Bán hàng của Khách hàng/Nhà Bán hàng nếu Got It phát hiện Khách hàng/Nhà Bán hàng đã phá sản, bị kết án hoặc đang trong thời gian thụ án, trong trường hợp Khách hàng/Nhà Bán hàng tiếp tục hoạt động có thể gây cho Got It trách nhiệm pháp lý, có những hoạt động lừa đảo, giả mạo, gây rối loạn thị trường, gây mất đoàn kết đối với các Khách hàng/Nhà Bán hàng khác của Got It, hoạt động vi phạm pháp luật hiện hành của Việt Nam.
                                                Trong trường hợp chấm dứt quyền Khách hàng/Nhà Bán hàng và quyền sử dụng dịch vụ thì tất cả các chứng nhận, các quyền của Khách hàng/Nhà Bán hàng được cấp sẽ mặc nhiên hết giá trị và bị chấm dứt.
                                            </li>
                                            <li>Got It bảo lưu quyền thay đổi các dịch vụ, sản phẩm, biểu giá và phương thức tính giá và các thay đổi khác của Got It từng thời gian mà không phải thông báo trước cho người sử dụng nếu thấy phù hợp.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p><b>Nghĩa vụ của Got It</b></p>

                                        <ul>
                                            <li>Got It sẽ tổ chức giới thiệu các sản phẩm, dịch vụ và các chương trinh khuyến mại (nếu có) của các Nhà Bán Hàng đến các Khách hàng đăng ký tham gia sau khi đã hoàn thành các thủ tục đăng ký trực tuyến các thông tin cá nhân có liên quan và các điều kiện bắt buộc mà Got It nêu ra.</li>
                                            <li>Got It có trách nhiệm yêu cầu các Nhà Bán Hàng phải cung cấp đầy đủ và chịu trách nhiệm pháp lý về các thông tin có liên quan đến sản phẩm dịch vụ và đảm bảo tính chính xác, trung thực của thông tin về hàng hóa, dịch vụ cung cấp trên sàn giao dịch.</li>
                                            <li>Xây dựng, nâng cấp và phát triển hoạt động Got It để phục vụ tốt hơn nhu cầu của Khách hàng/Nhà Bán hàng, bao gồm nhưng không giới hạn bởi các công việc chính như: nghiên cứu, thiết kế, mua sắm các thiết bị phần cứng và phần mềm, kết nối Internet, xây dựng chính sách phục vụ cho hoạt động Got It trong điều kiện và phạm vi cho phép;</li>
                                            <li>Triển khai và hợp tác với các đối tác trong việc xây dựng hệ thống các dịch vụ, các công cụ tiện ích phục vụ cho việc giao dịch của các Khách hàng/Nhà Bán hàng tham gia và người sử dụng trên Got It</li>
                                            <li>Lưu giữ thông tin đăng ký của Nhà bán hàng hoặc thông tin cá nhân của Khách hàng khi Nhà bán hàng/Khách hàng đăng ký tham gia Got It và thường xuyên cập nhật các thông tin thay đổi, bổ sung có liên quan;</li>
                                            <li>Áp dụng các biện pháp cần thiết để đảm bảo an toàn thông tin liên quan đến bí mật doanh của Nhà bán hàng và thông tin cá nhân của Khách hàng. Không được tiết lộ, chuyển nhượng, cho thuê hoặc bán các thông tin liên quan đến bí mật kinh doanh hoặc thông tin cá nhân của Khách hàng/Nhà Bán hàng khi chưa được sự đồng ý của các bên liên quan, trừ trường hợp pháp luật có quy định khác.</li>
                                            <li>Duy trì hoạt động bình thường của Got It và nhanh chóng khắc phục các sự cố xảy ra ảnh hưởng tới hoạt động của Got It như: sự cố kỹ thuật về máy móc, lỗi phần mềm, hệ thống đường truyền internet, nhân sự, các biến động xã hội, thiên tai, mất điện, các quyết định của cơ quan nhà nước hay một tổ chức liên quan thứ ba. Trường hợp xảy ra các sự kiện bất khả kháng như: thiên tai, hỏa hoạn, biến động xã hội, các quyết định của cơ quan chức năng... nằm ngoài khả năng kiểm soát thì Got It không phải chịu trách nhiệm liên đới.</li>
                                        </ul>
                                    </li>
                                </ol>

                                <p><b><u>Quyền và Trách nhiệm của Khách hàng/Nhà bán hàng</u></b></p>
                                <ol start="3">
                                    <li>
                                        <p><b>Quyền của Khách hàng/Nhà bán hàng</b></p>
                                        <ul>
                                            <li>Khách hàng sẽ được lựa chọn, mua sắm sản phẩm, dịch vụ cung ứng trên Got It.</li>
                                            <li>Nhà bán hàng sẽ được cấp một tên tài khoản để sử dụng trong việc quản lý những giao dịch trên Got It.</li>
                                            <li>Khách hàng và Nhà bán hàng có quyền đóng góp ý kiến cho Got It trong quá trình hoạt động. Các kiến nghị được gửi trực tiếp bằng thư, fax hoặc email đến cho Got It.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p><b>Nghĩa vụ của Khách hàng/Nhà bán hàng</b></p>
                                        <ul>
                                            <li>Khách hàng và Nhà bán hàng sẽ tự chịu trách nhiệm về bảo mật và lưu giữ và mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình.</li>
                                            <li>Khách hàng và Nhà bán hàng có trách nhiệm thông báo kịp thời cho Got It về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của mình để hai bên cùng hợp tác xử lý.</li>
                                            <li>Khách hàng và Nhà bán hàng cam kết những thông tin cung cấp cho Got It và những thông tin đang tải lên Got It là chính xác.</li>
                                            <li>
                                                Khách hàng và Nhà bán hàng cam kết, đồng ý không sử dụng dịch vụ của Got It vào những mục đích bất hợp pháp, không hợp lý, lừa đảo, đe doạ, thăm dò thông tin bất hợp pháp, phá hoại, tạo ra và phát tán virus gây hư hại tới hệ thống, cấu hình, truyền tải thông tin của Got It hay sử dụng dịch vụ của mình vào mục đích đầu cơ, lũng đoạn thị trường tạo những đơn đặt hàng, chào hàng giả, kể cả phục vụ cho việc phán đoán nhu cầu thị trường.
                                                <br>
                                                Trong trường hợp vi phạm thì Khách hàng và Nhà bán hàng phải chịu trách nhiệm về các hành vi của mình trước pháp luật.
                                            </li>
                                            <li>Khách hàng và Nhà bán hàng cam kết không được thay đổi, chỉnh sửa, sao chép, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do Got It cung cấp cho một bên thứ ba nếu không được sự đồng ý của Got It trong Quy định này.</li>
                                            <li>Khách hàng và Nhà bán hàng không được hành động gây mất uy tín của Got It dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của Got It.</li>
                                        </ul>
                                    </li>
                                </ol>

                                <p><b>Các Quyền Sở Hữu Trí Tuệ</b></p>

                                <p>Bạn thừa nhận, Got It cho phép truy cập đến Nội dung được bảo vệ bản quyền, tên thương mại và các quyền sở hữu khác (kể cả quyền sở hữu trí tuệ) (“Quyền Sở hữu Trí tuệ”), và thừa nhận các quyền sở hữu trí tuệ đó là hợp lệ và được bảo vệ trên mọi phương tiện truyền thông hiện có và sau này việc sử dụng nội dung của bạn sẽ được quản lý theo các luật bản quyền và các luật sở hữu trí tuệ hiện hành khác.</p>
                                <p>
                                Bạn đồng ý và thừa nhận rằng tất cả các nội dung trên Got It sẽ thuộc quyền sở hữu trí tuệ DAYONE và bạn không được quyền thay đổi, sao chép, mô phỏng, truyền, phân phối, công bố, tạo ra các sản phẩm phái sinh, hiển thị hoặc chuyển giao, hoặc khai thác nhằm mục đích thương mại bất kỳ phần nào của nội dung, toàn bộ hay từng phần.</p>
                                <p>
                                Bất kỳ bản sao nội dung được phép nào cũng phải được tái tạo ở dạng không thể biến đổi được các thông tri bất kỳ chứa trong nội dung, chẳng hạn như tất cả các thông tri về Quyền Sở hữu Trí tuệ, và các nguồn thông tin ban đầu cho Got It và địa chỉ mạng (URL) của nó.</p>
                                <p>
                                Bạn sẽ không có bất kỳ Quyền Sở hữu Trí tuệ nào qua việc tải xuống hoặc in nội dung. Bất kể các bản sao hoặc việc sử dụng trái phép nào đối với nội dung nào cho mục đích thương mại sẽ bị coi là vi phạm và bị xử lý theo quy định có liên quan của pháp luật và các điều khoản quy định tại bản thỏa thuận này.</p>

                                <p><b>Điều khoản áp dụng</b></p>
                                <p>
                                Got It có quyền và có thể thay đổi Quy chế này bằng cách thông báo cho tất cả các Khách hàng và Nhà bán hàng, đối tượng sử dụng dịch vụ Got It ít nhất 5 ngày trước khi áp dụng những thay đổi đó.</p>
                                <p>
                                Việc thành viên tiếp tục sử dụng dịch vụ sau khi Quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc thành viên đã chấp nhận Quy chế sửa đổi này.</p>
                                <p>
                                Khách hàng và Nhà bán hàng tham gia Got It có trách nhiệm tuân theo quy chế hiện hành khi giao dịch trên website</p>
                            </div>
                        </div>
                    </div>
                

    
    <!-- lang english -->
    <div class="row row-no-padding" *ngIf="translate.currentLang == 'en' ">
        <div class="teamof_page" style="padding: 10px;margin: 40px 120px 0px 120px;">
            <strong class="title">Terms of Use</strong>
            <div>
                <p><b>Acceptance of Terms & Conditions</b></p>
                <p>
                    Please read the Terms & Conditions carefully before accessing and using gotit.vn Website (hereinafter called the "Got It") of DAYONE Joint Stock Company (hereinafter called the "DAYONE"). By accepting the Terms & Conditions, you agree to abide by the rules governing the use of services offered by the Got It. If you have any questions about this agreement, please contact us via e-mail at <a href="mailto:support@gotit.vn.">support@gotit.vn.</a></p>
                    <p><strong>Got It Service</strong></p>
                    <p>
                    Got It is a platform that provides a premium instant mobile gifting service by offering Products/Services of legal merchants who have Partnership Agreement with DAYONE. Got It is a one-stop gift shop that is designed to allow customers to select, purchase, and send a Mobile Gift Coupon to receivers via such platform as SMS, email, or over-the-top messenger (OTT), or social networks. The receivers shall then use the Mobile Gift Coupon to exchange for the Product/Service at the agreed redemption stores.</p>
                    <p>
                    To have the full use of services offered on Got It, you need to sign up to create an account and provide Got It with certain personal information including but not limited to your email address for further communications between you and Got It. By signing up, you agree to receive our newsletters, emails and other communications about our products or services. Whenever you wish not to receive those communications anymore, you can notify us by checking the unsubscribing function available on at the bottom of our emails. Any personal information that you submit shall be taken care of in compliance with the Privacy Policy of Got It. Each user must take responsibility for their password, account and activities on the website. You understand and agree that you are responsible for all personal information relating to the use of your account, and are fully responsible for allowing anyone to access to your account.</p>
                    <p>
                    You might order the Products/Services at the quotations and standards by legal merchants that are made available on Got It and your orders shall be subject to the Got It’s acceptance in full or in part of your orders. Got It’s acceptance shall be in effect after your payment has been made or identified.</p>

                    <p><strong>Terms of purchase, payment, and delivery</strong></p>
                    
                    <p><b><u>Purchase and Payment</u></b></p>
                    <p>
                        You might order the Products/Services on Got It, you shall proceed with the following steps:
                    </p>
                    <ul>
                        <li>- Step 1: You select Products/Services listed on Got It that you are looking for.</li>
                        <li>- Step 2: Based on available information of Products/Services, you might make the decision on proceeding with online order via clicking “Send gift” or “Add gift to Cart”. If you have not signed in onto your Got It account, you shall be requested to sign in and proceed with online payment.</li>
                        <li>- Step 3: You select the quantity of purchased Products/Services.</li>
                        <li>- Step 4: You input your personal message for the gift receiver.</li>
                        <li>- Step 5: You select the preferred online payment option; including debit, credit card payment with global brands like Visa, Master, JCB via Sacombank e-Pay payment gateway MoMo e-wallet payment. You then proceed with online payment by providing authentification of your payment.</li>
                        <li>- Step 6: You select the platform that the receiver will receive your mobile gift coupon, including SMS, Email, Over-the-top messengers, and Social networks.</li>
                        <li>- Step 7: Receiver shall then redeem mobile gift coupon at locations specified on mobile gift coupon or listed on Got It for real Products/Services under the terms of use and before the expiry date that are specified on mobile gift coupon. </li>
                    </ul>
                    
                    <p><b><u>Delivery:</u></b></p>
                    <p>
                        Once you make online payment, you will select the platform which the receiver will receive your mobile gift coupon, including SMS, Email, Over-the-top messengers, and Social networks. Receiver shall then redeem mobile gift coupon at locations specified on mobile gift coupon or listed on Got It for real Products/Services. Therefore, Got It will not physically deliver the Products/Services and gift coupon to customers, Got It only electronically delivers mobile gift coupon to customers’ electronic platforms.
                    </p>
                    <p><b><u>Return of Products/Service:</u></b></p>
                    <p>
                    After you have completed your payment for Products/Services, we will not accept any requests to terminate or cancel the purchased Products/Services, or refund the transaction value or change any Products/Services.</p>
                    <p>
                    After you redeem mobile gift coupon for real Products/Services at merchant locations, you may return Products/Service in accordance with the terms and conditions of the merchant who provides that Product/Service. </p>
                    <p>
                    Mobile gift coupon of Got It issued to customers cannot be exchanged for cash.</p>
                    <p><b><u>Warranty of Products/Services:</u></b></p>
                    <p>Terms and conditions of the warranty of Products/Service shall be in accordance with the terms and conditions of the merchant who provides that Product/Service.</p>
                    <p><strong>Rights and Responsibilities</strong></p>
                    <p><b><u>Rights and Responsibility of Got It</u></b></p>
                    <ol>
                        <li>
                            <p><b>Rights of Got It</b></p>

                            <ul>
                                <li>Issue and execute the Terms of Use for users of Got It</li>
                                <li>In case there is proof that customers/merchants provide incorrect, false, law-violating, custom-violating information, Got It has the right to refuse, suspend, or withdraw the user right to use Got It</li>
                                <li>In case users violates Term of Use of Got It or carries out any act that might impact on Got It operation, Got It has the right to withdraw users from one service or all services provided by Got It and shall inform users at least three (03) days in advance.</li>
                                <li>In case users suffer from bankruptcy, or found convicted, or might cause Got It to bear any legal responsibility, or conduct any fraudulent act, or vilotes any law or regulation, Got It has the right to withdraw user right to use Got It immediately. In these termination cases, all records, credentials, and rights of users shall be deemed to expire.
                                </li>
                                <li>Got It reserves all intellectual properties of content on Got It under the international and Vietnam’s intellectual laws. You may not modify, copy, reproduce, transmit, distribute, publish, create derivative works from, display or otherwise transfer or commercially exploit any of the content, in whole or in part.
                                </li>
                                <li>Got It reserves the right to change Products/Services, prices, price calculation methods, and other changes of Got It during each time period without any advance notice if deem appropriate.</li>
                            </ul>
                        </li>
                        <li>
                            <p><b>Responsibility of Got It</b></p>

                            <ul>
                                <li>Introduce Products/Services and special offers from merchants to customers after customers register personal information with Got It and accept Got It’s terms of use.</li>
                                <li>Request the provision of legal documents of Products/Services information to merchants to ensure that such information is accurate and reliable, and legitimate.</li>
                                <li>Build, enhance, and develop Got It to better serve customers/merchants, including but not limiting to research, design, purchase hardwares and softwares, internet connection, and construct website policy.</li>
                                <li>Cooperate with partners in deploying tools to facilitate the transaction of users of Got It.</li>
                                <li>Store personal information of users of Got It and update any related changes.</li>
                                <li>Apply privacy policy for business secrecy of merchant and personal information of customers. We do not disclose your personal information. All information are confidential, unless require to be disclose by law.</li>
                                <li>Maintain normal operation of Got It and promptly repair any incidences that affect the normal operation of Got It, such as hardware technical fault, software error, internet connection error, force majeure events, power disruption, changes in Governement policy and regulation. In any event of force majeure that is not under the control of Got It, Got It shall not hold any related responsibility.</li>
                            </ul>
                        </li>
                    </ol>

                    <p><b><u>Rights and responsibility of Customers/Merchants</u></b></p>
                    <ol start="3">
                        <li>
                            <p><b>Rights of Customers/Merchants</b></p>
                            <ul>
                                <li>Customer can select and purchase Products/Services provided on Got It, after customers register personal information with Got It and accept Got It’s terms of use, and provide with an account.</li>
                                <li>Merchant will be provided an account for transaction-related management.</li>
                                <li>Customers/merchants have the right to send any feedback to Got It. All feedback should be sent in writing, or by fax, email to Got It.</li>
                            </ul>
                        </li>
                        <li>
                            <p><b>Responsibilites of Customers/Merchants</b></p>
                            <ul>
                                <li>Must be committed to protecting personal data, including ID, password, and email.</li>
                                <li>Should notify Got It on any violation, abusement, illegal use of your ID and password for appropriate resolution.</li>
                                <li>Must be committed that information provided to Got It is legitimate and accurate.</li>
                                <li>Must be committed not to conduct any fraudulent act, or vilotes any law or regulation, threatening, improper probe of information, use of any programs, tools or any other forms to interfere in the system or alter data structures, or to distribute, propagate or encourage any activity aimed at interventing, sabotaging or infiltrating the website system, or use Got It for speculative purpose by making fake orders. All violations will be stripped of all rights and will be prosecuted under the law if necessary.
                                </li>
                                <li>You may not modify, copy, reproduce, transmit, distribute, publish, create derivative works from, display or otherwise transfer or commercially exploit any of the content, in whole or in part.</li>
                                <li>You may not discredit Got It’s reputation in cases such as confusing other members by using second registered ID, directly or indirectly, via a third party, misinform Got It.</li>
                            </ul>
                        </li>
                    </ol>

                    <p><b>Intellectual Property Rights</b></p>

                    <p>You acknowledge that Got It permits access to content that is protected by copyrights, trademarks, and other proprietary (including intellectual property) rights, and that these Intellectual Property Rights are valid and protected in all media existing now or later developed and except as is explicitly provided below, customer’s use of content shall be governed by applicable copyright and other intellectual property laws.</p>
                    <p>
                    You agree and acknowledge that all the content on Got It shall be solely under the Intellectual Property Rights of VietnamWorks DAYONE and you may not modify, copy, reproduce, transmit, distribute, publish, create derivative works from, display or otherwise transfer or commercially exploit any of the Content, in whole or in part.</p>
                    <p>
                    Any permitted copies of the content must reproduce any notices contained in the content, such as all Intellectual Property Right notices, and an original source attribution to Got It and its URL address. You do not acquire any Intellectual Property Rights by downloading or printing content. Any unauthorized copies or uses of the Content for commercial purposes shall be deemed as a breach and shall be treated in accordance with the relevant applicable laws and provisions herein.</p>
                    <p><b>Terms of Use</b></p>
                    <p>
                    Got It reserves the right to amend, adjust this Terms of Use by advance notice to users and merchants at least five (05) days before those amendments take effective. When users continue to use Got It after amendments of Terms of Use means that users accept those changes.</p>
                    <p>
                    Users and merchants have the responsibility to comply with current Terms of Use on Got It.</p>

                </div>
            </div>
        </div>
</div>
