<section class="signup">
	<div class="container">
		<div class="row">
			<div class="content">
				<form class="signup-form" action="#" method="post" novalidate="novalidate" autocomplete="off" ngNativeValidate  #signupForm="ngForm">
					<div class="form-title">
						<h2>{{ 'register' | translate }}</h2>
						<span class="form-subtitle">{{ 'singing_up' | translate }}</span>
					</div>
					
					<p *ngIf="!firstNameControl.valid && firstNameControl.touched" class="help-block error-msg">{{ 'firstname_required' | translate}}</p>
					<p *ngIf="!lastNameControl.valid && lastNameControl.touched" class="help-block error-msg">{{ 'lastname_required' | translate}}</p>
					<!-- Email -->
					<p *ngIf="emailControl.errors && emailControl.errors.required && emailControl.touched" class="help-block error-msg">
						{{ 'email_required' | translate}}
					</p>
					<p  *ngIf="emailControl.errors && emailControl.errors.pattern && emailControl.touched" class="help-block error-msg">
		                {{ 'email_invalid' | translate}}
		            </p>
		            <!-- Phone -->
		            <p *ngIf="phoneControl.errors && phoneControl.errors.required && phoneControl.touched" class="help-block error-msg">
		            {{ 'phone_required' | translate}}
		            </p>
					<!-- <p *ngIf="phoneControl.errors && phoneControl.errors.minlength && phoneControl.touched" class="help-block error-msg">
		               {{ 'phone_invalid_length' | translate}}
		            </p> -->
		            <p  *ngIf="phoneControl.errors && phoneControl.errors.pattern && phoneControl.touched" class="help-block error-msg">
		                {{ 'phone_invalid' | translate}}
		            </p>
		            <p *ngIf="phoneControl.errors && phoneControl.errors.maxlength && phoneControl.touched" class="help-block error-msg">
		             {{ 'phone_invalid' | translate}}
		            </p>
		            <!-- Password -->
		            <p *ngIf="passwordControl.errors && passwordControl.errors.required && passwordControl.touched" class="help-block error-msg">
		            	{{ 'password_required' | translate}}
		            </p>
					<p *ngIf="passwordControl.errors && passwordControl.errors.minlength && passwordControl.touched" class="help-block error-msg">
		                {{ 'password_invalid' | translate}}
		            </p>

		            <!-- Password -->
		            <p *ngIf="confirmpasswordControl.errors && confirmpasswordControl.errors.required && confirmpasswordControl.touched" class="help-block error-msg">
		            	{{'confirm_password_required' | translate}}
		            </p>
					<p *ngIf="confirmpasswordControl.touched && !confirmed" class="help-block error-msg">
		                {{'confirm_password_invalid' | translate}}
		            </p>
			       	<p *ngIf="errorSignup != null" class="help-block error-msg">
			       		{{errorSignup}}
			       	</p>
			       	<div *ngIf="messageSuccess != null" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{messageSuccess}}
                      </div>
					<div class="group_two_col">
						<div class="form-group form-md-floating-label left">
							<input type="text" class="form-control {{firstname && firstname.length > 0 ? 'edited':''}}" id="firstname" [(ngModel)]="firstname" name="firstname" required #firstNameControl="ngModel">
							<label for="form_control_1">{{ 'firstname' | translate}}</label>
						</div>
						<div class="form-group form-md-floating-label right">
							<input type="text" class="form-control {{lastname && lastname.length > 0 ? 'edited':''}}" id="lastname" [(ngModel)]="lastname" name="lastname" required #lastNameControl="ngModel">
							<label for="lastname"> {{ 'lastname' | translate}} </label>
						</div>
					</div>
					<div class="form-group form-md-floating-label">
						<input class="form-control {{email && email.length > 0 ? 'edited':''}}" id="email" [(ngModel)]="email" type="email" autocomplete="off" name="email" required #emailControl="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
						<label for="email">Email</label>
					</div>

					<div class="form-group form-md-floating-label">
						<input class="form-control {{phone && phone.length > 0 ? 'edited':''}}" id="phone" [(ngModel)]="phone" type="text" autocomplete="off" name="phone" #phoneControl = "ngModel" pattern="^(09|08|01[2689])\d{8}$"  required minlength="10" maxlength="11" (keypress)="phoneNumberPress($event)">
						<label for="phone"> {{ 'phonenumber' | translate}}</label>
					</div>
					<div class="group_two_col">
						<div class="form-group form-md-floating-label left">
							<input type="password" class="form-control {{password && password.length > 0 ? 'edited':''}}" id="password" [(ngModel)]="password" name="password" #passwordControl="ngModel" required minlength="6" (keyup)="confirmPassType($event)">
							<label for="password">{{ 'password' | translate}}</label>
						</div>
						<div class="form-group form-md-floating-label right">
							<input type="password" class="form-control {{confirmpassword && confirmpassword.length > 0 ? 'edited':''}}" id="confirmpassword" [(ngModel)]="confirmpassword" name="confirmpassword" #confirmpasswordControl="ngModel" required (keyup)="confirmPassType($event)">
							<label for="confirmpassword">{{ 'confirm_password' | translate}}</label>
						</div>
					</div>
					<!-- <div class="form-actions">
						<div class="pull-left">
							<input type="checkbox" name="remember" value="1" id="remember">
							<label for="remember" class="rememberme check">Remember me </label>
						</div>
						<div class="pull-right forget-password-block">
							<a href="javascript:;" [routerLink]="['/forgotpassword']" id="forget-password" class="forget-password">Forgot Password?</a>
						</div>
					</div> -->
					
					<div class="form-actions">
						<button type="submit" class="btn btn-submit" [disabled]="(!signupForm.valid || !confirmed)" (click)="signUpRegular()">{{ 'register' | translate }}</button>
					</div>
					
					<div class="signup-options">
						<h4 class="pull-left">{{ 'or_sign_up' | translate }}</h4>
						<ul class="social-icons pull-right">
							<li>
								<a class="social-icon-color facebook" data-original-title="facebook" href="javascript:void(0);" (click)="signInWithFacebook()"></a>
							</li>
							
							<li>
								<a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:void(0);" (click)="signInWithGoogle()"></a>
							</li>
							
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="overflow:hidden">
        <h4 class="modal-title pull-left">Notification</h4>
       <!--  <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
      	<p>An account already exists with the same email address but different sign-in credentials. Please enter your password with this email address. System will <span style="color:#ff5f5f">auto redirect after 10s</span>.</p>
      	<p>Email trong FB này đã được đăng kí với hệ thống bằng phương thức truyền thống. Vui lòng nhập mật khẩu cho email này. Hệ thống <span style="color:#ff5f5f">tự chuyển sau 10s</span>.</p>
        <input type="password" class="form-control" id="passwordRequired" [(ngModel)]="passwordRequired" name="passwordRequired" #passwordRequiredInput autofocus placeholder="Your password">
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" (click)="staticModal.hide()">Cancel</button> -->
        <!-- <button type="button" class="btn btn-primary" (click)="confirmRequiredPassword()">OK</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<div class="loading" *ngIf="isLoading">
  <div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>
</section>