<section class="product-section">
	<div class="container">
		<div id="parent" class="row parent" >
			<div class="col-md-9 left child">
				<div class="breadcrumb">
					<p class="step-1 active"><span></span>{{'step_1' | translate}}</p>
					<p class="step-2"><span></span>{{'step_2' | translate}}</p>
					<p class="step-3 "><span></span>{{'step_3' | translate}}</p>
				</div>
				<div class="product-info">
					<div class="product_name">
						<h3>{{staticProductData ? (translate.currentLang == 'vi' ? staticProductData.name_vi : staticProductData.name_en)  : '&nbsp;'}}</h3>
						<p>{{ 'intro_product_page' | translate}}</p>
					</div>
					<div class="show-img">
						<div class="main-img">
							<img src="{{imgPath}}" height="">
							<span class="price_pr">{{priceValue | number:'1.0-3'}} VND</span>
						</div>         
					</div>
					<div class="product-detail">
						<div class="choose-product-type">
							<p class="text-label">{{'choose_value' | translate}}</p>
							<div class="wrap-pr-type">
								<ul>
									<li *ngFor="let itemPrice of listProductPrice | convertArray">
										<input class="styled" id="{{itemPrice.value}}" name="product" type="radio" [value]="itemPrice.value" [(ngModel)]='priceValue' (click)='onRadioChange(itemPrice.value,productID,itemPrice.key)'>
										<label for="{{itemPrice.value}}" class="">{{itemPrice.value | number:'1.0-3'}} VND</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="choose-quantity">
							<p class="text-label">{{'choose_quantity' | translate}}</p>
							<div class="select-quantity">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" id="btn-plus" (click)="changeQuantity('minus')"><span class="icon-minus"></span></button>
									</span>
									<input type="text" class="form-control" name="qty"  (keypress)="quantitykeyPress($event)" id="qty" [(ngModel)]='quantity' value="{{(quantity <= 0 ? '1':quantity)}}">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" id="btn-minus" (click)="changeQuantity('plus')"><span class="icon-plus"></span></button>
									</span>
								</div><!-- /input-group -->
							</div>
						</div>
						<div class="sumary">
							<span class="pull-right text-right">{{'your_total' | translate}}: {{(priceValue * (quantity == 0 ? 1 : quantity )? priceValue * (quantity == 0 ? 1 : quantity ) : 0 ) | number:'1.0-3'}} VND</span>
							<a href="javascript:void(0)" (click)="send_gift()" class="btn-send-gift">{{'next_step' | translate}}</a>
						</div>
					</div>
				</div>
    
				<div class="store-info">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="title">
								<h2>{{'store_location' | translate}}</h2>
                                <a  class="find_nearest_store" href="javascript:void(0)" (click)="find_nearest_store()"><span class="icon-location"></span> {{'find_near_location' | translate}}</a>
							</div>
						</div>
						<div class="panel-body own-panel-body maps_data">
							<div id="map" class="row" *ngIf="isbrowser">
                                      
								<agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom" [maxZoom] ="15" disableDefaultUI="true" (zoomChange)="zoomChange($event)" [fitBounds]="latlngBounds">
								  	<agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.long" [markerClickable] = "true" (markerClick)="markerClick(marker)" [iconUrl]="'assets/img/landmark.png'">
                                        <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true" [isOpen]="(marker.isOpen ? marker.isOpen : false )">
                                        	<ng-template>
                                              	<div class="wrap_marker">
                                                    <div class="header">{{marker.brand.brandNm +' - '+marker.storeNm}}</div>
                                                    <div class="subtitle">
                                                          <p>{{marker.storeAddr}}</p>
                                                    </div>
                                                    <div class="subtitle">
                                                    	<a href="https://www.google.com/maps/dir//{{marker.storeAddr}}" target="_blank">
                                                    		<p class="get_direction">{{'get_direction' | translate}}</p>
                                                    	</a>
                                                    </div>
                                              	</div>
                                          	</ng-template>
                                        </agm-snazzy-info-window>
                                  	</agm-marker>
								</agm-map>
							</div>
							<div class="searchMap {{isClicked ? 'clicked':''}}">
								<!-- <div class="row"> -->
                                <div class="head_filter_mb" (click)="filterMapClick($event)">
                                      <a href="javascript:void(0)" >{{'click_add_filter' | translate}}</a>
                                </div>
								<div class="brand">
									<p>{{ 'brand' | translate}}</p>
									<ng-select  #selectBrand class="selectDropdown" 
	                                    (opened)="closeOtherSelects(selectBrand)"
	                                    [allowClear]="false"
										[items]="listBrand"
										[disabled]="disabled"
										(data)="refreshValue($event)"
										(selected)="selectedBrand($event)"
										placeholder="{{'choose_selected' | translate:{value:'brand' | translate} }}">
								  	</ng-select>
								</div>
								<div class="city">
									<p>{{ 'city' | translate}}</p>
									<ng-select  #selectCity class="selectDropdown" 
                                        (opened)="closeOtherSelects(selectCity)"
                                        [allowClear]="false"
										[items]="listCity"
										[disabled]="disabled"
										(data)="refreshValue($event)"
										(selected)="selectedCity($event)"
										placeholder="{{'choose_selected' | translate:{value:'city' | translate} }}">
								  	</ng-select>
								</div>
								<div class="district">
									<p>{{ 'district' | translate}}</p>
									<ng-select  #selectDistrict class="selectDropdown" 
                                        (opened)="closeOtherSelects(selectDistrict)"
                                        [allowClear]="false"
										[items]="listDistrict"
										[disabled]="disabled"
										(data)="refreshValue($event)"
										(selected)="selectedDistrict($event)"
										placeholder="{{'choose_selected' | translate:{value:'district' | translate} }}">
								  	</ng-select>
								</div>
								<div class="searchMapBtn">
									<a href="javascript:void(0)" (click)="applyFilter($event)">{{'apply' | translate}}</a>
								</div>

							</div>
              </div>
          </div>

      </div>
      <div class="brand-info">
      	<app-listbrand></app-listbrand>
	</div>
</div>

<div class="col-md-3 right child">
	<div class="box-content">
		<h3 (click)="isCollapsedHowwork = !isCollapsedHowwork" class="{{isCollapsedHowwork ? 'collapsed':''}}">{{'how_it_work' | translate}}</h3>
		<div id="how-it-work" class="how-it-work" [collapse]="isCollapsedHowwork">
			<div *ngIf="serviceGuide" [innerHTML]="serviceGuide"></div>
		</div>
	</div>
	<div class="box-content">
		<h3 (click)="isCollapsedTermCondition = !isCollapsedTermCondition" class="{{isCollapsedTermCondition ? 'collapsed':''}}">{{'term_and_condition' | translate}}</h3>
		<div id="term_service" class="term_service" [collapse]="isCollapsedTermCondition">
			<div *ngIf="productDesc" [innerHTML]="productDesc"></div>
		</div>
	</div>
</div>
<div class="right-fixed-wrap"></div>
</div>
</div>
</section>
<div class="loading" *ngIf="isLoading">
  <div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>