/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/


/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
html, body {
    background: none;
    /*height: 100%;*/
}
*:focus {
    outline: none !important;
    border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui-select-match,
.ui-select-match:focus,
.ui-select-match .ui-select-toggle,
.ui-select-match .ui-select-toggle:hover,
.ui-select-match .ui-select-toggle:focus{
    background: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    padding-left: 0;
    border: 0;
}
.ui-select-toggle .caret{
  border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: #999;
    border-top: 6px dashed;
    margin-top: -10px !important;
}
.form-control.ui-select-search,.form-control.ui-select-search:focus{
  outline: none;
  box-shadow: none;
}
.ui-select-choices{
  margin-top: 5px !important;
}
agm-marker,.sebm-google-map-container{
  height: 550px;
}
.si-float-wrapper {
    position: absolute;
    width: 100%;
}
[class*=si-wrapper] {
    display: -webkit-box;
    display: -ms-flexbox;
     display: flex; 
    position: absolute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    cursor: default;
}
[class*=si-pointer-bg] {
    position: relative;
    border: 15px solid transparent;
    z-index: 4;
}
.si-pointer-bg-top {
    border-top-color: #fff;
}
.si-pointer-top {
    border-bottom: 0;
}
.si-has-border .si-pointer-bg-top {
    top: -1px !important;
    margin-bottom: 0;
}
.si-has-border [class*=si-pointer-bg] {
    border-width: 10px !important;
}
.si-wrapper-top{
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -40px;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
.si-frame{
  flex:inherit !important;
  position: relative;
}
.si-content-wrapper{
  border-radius: 12px !important;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  min-width: 305px !important;
  padding: 10px 20px !important;
  border: 0 !important;
  background: #fff;

}
.si-content-wrapper .si-content{
  max-width: inherit !important;
  width: 100% !important;
}
.si-close-button{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: none;
    background-color: transparent;
    color: inherit;
    font-family: Arial,Baskerville,monospace;
    font-size: 24px;
    cursor: pointer;
    opacity: .5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  right: 10px !important;
  top: 5px !important;
}
.si-content-wrapper .wrap_marker .header{
  font-family: Gotham Rounded;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #000000;
  margin-bottom: 5px;
}
.si-content-wrapper .wrap_marker .subtitle {
    font-family: Gotham Rounded;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    color: #666666;
}
.si-content-wrapper .wrap_marker .subtitle a{
    font-family: Gotham Rounded;
    font-size: 14px;
    text-align: left;
    color: #3467ef;
    text-decoration: none;
}
[class*="col-"] {

}
[class*="si-pointer-border"]{
  border-width:5px !important;
}

.personal_info .birthday .form-control.ui-select-search{
  display: none;
}
.personal_info .ui-select-choices{
  min-width: inherit;
}
.personal_info .ui-select-choices-row > a{
  padding: 3px 5px !important;
}
.accountsetting-section .group_three_col .month ul,.group_three_col .day ul,.group_three_col .year ul{
  min-width: 0 ;
}
.accountsetting-section .group_three_col .month ul li a,.group_three_col .day ul li a,.group_three_col .year ul li a{
  padding: 3px 5px !important;

}

.accountsetting-section .group_three_col ul::-webkit-scrollbar {
    width: 5px;
}

.accountsetting-section .group_three_col ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.accountsetting-section .group_three_col ul::-webkit-scrollbar-thumb {
  background-color: red;
   outline: 1px solid red;
}
html, body {
    height: 100%;
}
.wrapper-content{
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
  position: relative;
  padding-bottom: 180px;
}
footer{
  width: 100%;
  color: #e0e0e0;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.wrapper-content.no-padding{
  padding-bottom: 0;
}

  /*Loading icon*/
.loading.main{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 999;
}
.loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.1);
  z-index: 999;
}
#img-loading{
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    z-index:9999;
}
#img-loading img{
    width: 75px;
    height: 75px;
}
.uil-spin-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
@-webkit-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes uil-spin-css {
  0% {
    opacity: 1;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.uil-spin-css > div {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-top: 8px;
  position: absolute;
}
.uil-spin-css > div > div {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: #ff5f5f;
}
.uil-spin-css > div:nth-of-type(1) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.87s;
  animation-delay: -0.87s;
}
.uil-spin-css > div:nth-of-type(1) {
  -webkit-transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(2) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.uil-spin-css > div:nth-of-type(2) {
  -webkit-transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(3) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.62s;
  animation-delay: -0.62s;
}
.uil-spin-css > div:nth-of-type(3) {
  -webkit-transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(4) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.uil-spin-css > div:nth-of-type(4) {
  -webkit-transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(5) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.37s;
  animation-delay: -0.37s;
}
.uil-spin-css > div:nth-of-type(5) {
  -webkit-transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(6) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.uil-spin-css > div:nth-of-type(6) {
  -webkit-transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(7) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}
.uil-spin-css > div:nth-of-type(7) {
  -webkit-transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
}
.uil-spin-css > div:nth-of-type(8) > div {
  -webkit-animation: uil-spin-css 1s linear infinite;
  animation: uil-spin-css 1s linear infinite;
  -webkit-animation-delay: -0s;
  animation-delay: -0s;
}
.uil-spin-css > div:nth-of-type(8) {
  -webkit-transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
  transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
}
@media(max-width: 480px){
  .wrapper-content{
    padding-bottom: 0;
    padding-top: 50px;
  }
  footer{
    position: inherit;
  }
}