.bussiness-section{
	position: relative;
	overflow: hidden;
}
.bussiness-section .img_bg_mobile{
	display: none;
}
.wrap_img{
	position: absolute;
	left: 50%;
	top: 110px;
}
.wrap_img img{
	width: 940px;
	height: 514px;
}
@media(max-width: 480px){
	.wrap_img{
		display: none;
	}
	.bussiness-section .img_bg_mobile{
		display: block;
	}
	.bussiness-section .img_bg_mobile img{
		width: 100%;
	}
}
