<section class="accountsetting-section">
	<div class="container">
	    <div id="parent" class="row parent" >
			<div class="col-md-3 left child">
				<app-menu-left></app-menu-left>
			</div>
			<div class="col-md-9 right child">
				<div class="wrap_gift">
					<div class="box_top">
						<h2 class="">{{'account_setting' | translate}}</h2>
						<!-- <p class="account_subtitle">{{'private_area' | translate}}</p> -->
             
					</div>
          <div *ngIf="messageSuccess != null" class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{messageSuccess}}
          </div>
          <div class="box_content">
            <div class="box_item" >
              
              <h4>{{'personal_infomation' | translate}}</h4>

              <div class="personal_info">
              	<div class="row">
              		<div class="col-md-6">
              			<p class="title">{{'fullname' | translate}}</p>
              			<div class="group_two_col">
              				<div class="form-group form-md-floating-label left">
              					<input type="text" class="form-control {{firstname && firstname.length > 0 ? 'edited':''}}" id="firstname" [(ngModel)]="firstname" name="firstname">
              					<label for="firstname">{{'firstname' | translate}} </label>
              				</div>
              				<!-- //end left -->
              				<div class="form-group form-md-floating-label right">
              					<input type="tel" class="form-control {{lastname && lastname.length > 0 ? 'edited':''}}" id="lastname" [(ngModel)]="lastname" name="lastname">
              					<label for="lastname">{{'lastname' | translate}}</label>
              				</div>
              				<!--  end right -->
              			</div>
              		</div>
              		<div class="col-md-6 birthday">
              			<p class="title">{{'birthday' | translate}}</p>
              			<div class="group_three_col">
              				<div class="month">
								      <p>{{'month' | translate}}</p>
            					<ng-select  #selectMonth class="form-control" 
                        (opened)="closeOtherSelects(selectMonth)"
                        [allowClear]="false"
    										[items]="month_items"
    										[disabled]="disabled"
    										(data)="refreshValue($event)"
    										(selected)="selectedMonth($event)"
    										(removed)="removed($event)"
    										(typed)="typed($event)" 
    										placeholder="{{'month' | translate}}">
							  	    </ng-select>
              				</div>
              				<!-- //end left -->
              				<div class="day">
              					<p>{{'day' | translate}}</p>
              					<ng-select #selectDay class="form-control" 
              						(opened)="closeOtherSelects(selectDay)"
                          [allowClear]="false"
      										[items]="day_items"
      										[disabled]="disabled"		
      										(data)="refreshValue($event)"
      										(selected)="selectedDay($event)"
      										(removed)="removed($event)"
      										(typed)="typed($event)" 
      										placeholder="{{'day' | translate}}">
              					</ng-select>
              				</div>
              				<!--  end mid -->
              				<div class="year">
              					<p>{{'year' | translate}}</p>
              					<ng-select  #selectYear class="form-control" 
              						(opened)="closeOtherSelects(selectYear)"
                          [allowClear]="false"
      										[items]="year_items"
      										[disabled]="disabled"
      										(data)="refreshValue($event)"
      										(selected)="selectedYear($event)"
      										(removed)="removed($event)"
      										(typed)="typed($event)" 
    								      placeholder="{{'year' | translate}}">
              					</ng-select>
              				</div>
              				<!--  end right -->
              			</div>
              		</div>
              	</div>            	
              	<div class="row">
              		<div class="Gender">
              		<p class="title" for="gender">{{'gender' | translate}}</p>
              		<div class="wrap-pr-type" >
              			<ul>
              				<li>
              					<input class="styled" id="M" name="gender" type="radio" value="M" [(ngModel)]='gender' (click)='onRadioChange("M")'>
              					<label for="M" class="">{{'male' | translate}}</label>
              				</li>
              				<li>
              					<input class="styled" id="F"  name="gender" value="F" [(ngModel)]='gender' (click)='onRadioChange("F")' type="radio" >
              					<label for="F" class="">{{'female' | translate}}</label>
              				</li>
              			</ul>
              		</div>		
              	</div>
              </div>
              </div>
            </div> 
            <div class="box_item box_contact">
            	<h4>{{"contact_detail" | translate}}</h4>
            	<div class="contact_details">
            		<div class="row">
                  <div class="col-md-12">
                    <p  *ngIf="phoneControl.errors && phoneControl.errors.pattern && phoneControl.touched" class="help-block error-msg">
                        {{ 'phone_invalid_account' | translate}}
                    </p>
                  </div>
            			<div class="col-md-6">
            				<p class="title" for="Inputpassword3">Email</p>
            				<div class="form-group form-md-floating-label left">
            					<input class="form-control {{email && email.length > 0 ? 'edited':''}}" id="email" [(ngModel)]="email" type="text" autocomplete="off" name="email" #input1 value="{{email}}" readonly>
            					<label for="email">{{'your_email' | translate}}</label>
            				</div>
            			</div>
            			<div class="col-md-6">
            				<p class="title" for="Inputpassword3">{{'mobile' | translate}}</p>
            				<div class="form-group form-md-floating-label right">
            					<input class="form-control {{phonenumber && phonenumber.length > 0 ? 'edited':''}}"  id="phonenumber" [(ngModel)]="phonenumber" type="text" autocomplete="off" (keypress)="keyPress($event) " name="phonenumber" value="{{phonenumber}}" pattern="^(\+84|0)(9|8|1[2689])\d{8}$" #phoneControl = "ngModel">
            					<label for="phonenumber">{{'your_phone_number' | translate}}</label>
            				</div>
            			
            			</div>
            		</div>           		
            	</div>
            </div>

          </div>

          <div class="box_change">
          	<!-- <div class="pull-left receive">
          		<input type="checkbox" name="receive"  [checked]="true"  value="1" id="receive">
          		<label for="receive" class="receive check">{{'received_letter' | translate}}</label>
          	</div> -->
          	<div class="pull-right change-btn">
          		<a (click)="updateProfile()">{{'save_change' | translate}}</a>
          	</div>

          </div>
				</div>
			</div>
			<div class="left-fixed-wrap"></div>
	  	</div>
	</div>
  <div class="loading" *ngIf="isLoading">
  <div id='img-loading' class='uil-spin-css' style="-webkit-transform:scale(0.4)"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
</div>
</section>