.accountsetting-section{
	background: #f3f3f6;
}
.accountsetting-section .parent{
  position: relative;
}
.accountsetting-section .parent .left.child{
	background: #fff;
	margin-top: 4px;
	margin-bottom: 4px;
  padding-bottom: 50px;
}
.accountsetting-section .parent .left .box-content{
  overflow: hidden;
}
.accountsetting-section .parent .left a:hover{
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #ff4545;
}
.accountsetting-section .parent .right .wrap_gift{
  padding-left: 15px;
  padding-bottom: 50px;
}
.accountsetting-section .parent .right .box_top{
  padding-top: 30px;
  padding-bottom: 30px;
}
.accountsetting-section .parent .right .box_top:after{
  clear: both;
  content: '';
  display: block;
}
.accountsetting-section .parent .right .box_top h2{
  font-family: Gotham Rounded;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #303030;
  
}
.accountsetting-section .parent .right .box_top .account_subtitle{
  float: left;
  font-family: Gotham Rounded;
  font-size: 16px;
  text-align: left;
  color: #636363;
  margin-bottom: 0;
  padding-top: 20px;
}
.accountsetting-section .left-fixed-wrap{
  content: '';
  position: absolute;
  background: #fff;
  display: inline-block;
  border-bottom: 0;
  height: 100%;
  top: 0px;
  right: 100%;
  width: 100px;
  border-bottom: 4px solid #e3e3e3;
  border-top: 4px solid #e3e3e3;
  clear: none;
}
.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex-grow: 1;
    /*flex-basis: 50%;*/
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 16px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ff4545;
  position: absolute;
  top: 5px;
  left: 2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}



[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  
  font-family: Gotham Rounded;
  font-size: 15px;
  /*    line-height: 1.5;*/
  text-align: left;
  color: #636363;
  font-weight: normal;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  
}
[type="checkbox"]:checked + label:before{
  background: #ff4545;
  border: 1px solid #ff4545;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
  content: '\e91f';
  font-family: 'icomoon' !important;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*style col-md-9 right child*/
.accountsetting-section .wrap_gift{
  margin-bottom: 130px;
}
/*
end style col-md-9 right child  */
/*/style group two col*/
.group_two_col:after {
  content: "";
  display: block;
  clear: both;
}
.group_two_col .left,.group_two_col .right{
  width: 50%;
  float: left;
  margin-right: -1px;
}

.group_two_col .left .form-control{
  /*border-radius: 0 !important;*/
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.group_two_col .right .form-control{
    /*border-radius: 0 !important;*/
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/*/end style group two col*/

/*// group three col*/


.accountsetting-section .group_three_col .form-control{
  padding-top: 2px !important ;
  margin-top: -5px;
  padding-right: 0;

}


.group_three_col .month,.group_three_col .day,.group_three_col .year{
  width: 33%;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-top: 0px ;
  padding-bottom: 0px ;
  border: solid 1px #e3e3e3;
  margin-right: -1px; 
  padding-right: 5px; 
}

.group_three_col .month{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;  

}

.group_three_col .year{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px; 
   

}


.group_three_col .month p,.group_three_col .day p,.group_three_col .year p{
  margin-bottom: 0;
  padding-top: 5px;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
    
}

.group_three_col .form-control{
  border: 0px !important;
  box-shadow: none !important;
  padding-left: 0px;

}



/*// end group three col*/

/*//box_item_right*/
.box_content {
  
  background-color: #fff;
  border-radius: 16px;
  border: solid 1px #e3e3e3;
}
.box_content .box_item.box_contact {
  
  border-bottom: hidden;
}

.box_content .box_item{
  border-bottom: solid 1px;
 border-color: #e3e3e3;
 padding: 18px 30px 15px ;

}
.box_item h4 {
  margin-bottom: 30px  0px;
  padding-bottom: 10px;
}
.box_item .title{
  text-transform: uppercase;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #636363;
}
.box_item .form-group.form-md-floating-label {
  position: relative;
  /*margin: 0 0 35px 0;*/
}
.box_item .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;
}
.box_item .form-group.form-md-floating-label textarea.form-control ~ label{
  top:15px;
  transform:inherit;
}
.box_item .form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}

.box_item .form-group.form-md-floating-label .form-control:focus,
.box_item .form-group.form-md-floating-label .form-control.edited{
  padding-top: 16px;
  padding-bottom: 10px;
}
.box_item .form-group.form-md-floating-label .form-control.edited ~ label, 
.box_item .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}




/*/end box_mid*/



.left .box-content h3{
	margin-bottom: 30px;
	font-family: Gotham Rounded;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	color: #303030;
}
.left .box-content p{
	font-family: Gotham Rounded;
	font-size: 16px;
	text-align: left;
	color: #636363;
}

.load_more_btn,.load_more_btn:hover,.load_more_btn:active,.load_more_btn:focus{
  width: 166px;
  height: 46px;
  line-height: 46px;
  border-radius: 12px;
  background-color: #ff5f5f;
  display: block;
  text-align: center;
  font-family: Gotham Rounded;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
.filter_mobile{
  display: none;
}
/*//Gender
*/
.Gender {
  padding: 0 15px 30px;
}
.wrap-pr-type ul li{
  list-style:none;
  float: left;

}
.wrap-pr-type ul li:last-child{
  
  padding-left: 15px;
  
}

/*end gender*/

/*//box contact*/

.box_contact h4 {
  margin-bottom: 20px;
}
.box_contact .title{
  text-transform: uppercase;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #636363;
}

.form-group.form-md-floating-label .form-control {
  background: none;
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding: 13px 15px;
  min-height: 52px;
}

.box_contact .form-group.form-md-floating-label {
  position: relative;

  /*margin: 0 0 35px 0;*/
}
.box_contact .form-group.form-md-floating-label .form-control ~ label {
  font-size: 14px;
  top: 50%;
  transform:translateY(-50%);
  transition: 0.2s ease all;
  color: #000000;
  font-weight: normal;
  font-family: Gotham Rounded;
  /*width: 100%;*/
  position: absolute;
  left: 15px;
  bottom: 0;
  pointer-events: none;

}
.box_contact .form-group.form-md-floating-label textarea.form-control ~ label{
  top:15px;
  transform:inherit;

}
.box_contact .form-group.form-md-floating-label .form-control {
   /*background-color: #e3e3e3;*/
  border: 0;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #000;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  border-radius: 12px;
  padding:13px 15px;
  min-height: 52px;
}
.box_contact .form-group.form-md-floating-label .form-control[readonly]
{
    background-color:#e3e3e3 !important;
}
.box_contact .form-group .form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}
.box_contact .form-group .form-control:-ms-input-placeholder {
  color: #000000;
}
.box_contact .form-group .form-control::-webkit-input-placeholder {
  color: #000000;
}
.box_contact .form-group.form-md-floating-label .form-control:focus,
.box_contact .form-group.form-md-floating-label .form-control.edited{
  padding-top: 16px;
  padding-bottom: 10px;
}
.box_contact .form-group.form-md-floating-label .form-control.edited ~ label, 
.box_contact .form-group.form-md-floating-label .form-control:focus ~ label{
  top: 5px;
  transform: inherit;
  font-family: Gotham Rounded;
  font-size: 12px;
  text-align: left;
  color: #999999;
}

/*/sửa ngày 29/12/2017 khóa không cho click vào input*/

.box_contact .contact_details  {

  /*pointer-events: none*/
}


/*/end sửa/*/



.box_contact .contact_details p.numberphone{
  font-family: Gotham Rounded;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #636363;
}
/*end box contact*/

/*//box change*/
.wrap_gift .pull-left.receive{
  padding-top: 35px;
}

.wrap_gift .box_change{
  text-align: right;
  margin-top: 25px;
}
.wrap_gift .box_change .change-btn a,.change-btn a:hover,.change-btn a:focus,.change-btn a:active{
  cursor: pointer;
  display: inline-block;
  background: #ff5f5f;
  border-radius: 12px;
  background-color: #ff5f5f !important;
  height: 46px;
  line-height: 46px !important;
  font-family: Gotham Rounded;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center;
  color: #ffffff !important;
  margin-top: 30px;
  min-width: 150px;
  padding:0 !important;
}
/*//end box_change*/
/*sstyle select*/
@media (max-width: 480px) {
  .accountsetting-section .parent .left{
    display: none;
  }

.accountsetting-section .right.child .wrap_gift .box_top p.account_subtitle{
  text-align: center !important;
  font-size: 14px;
  padding-top: 15px;
}
.box_top h2 {
  margin-bottom: 0px ;
}
.box_item h4{
  text-align: center;
  margin-bottom: 15px;
  padding-top: 10px;
}
.box_change .change-btn{
  width: 100%;
}
/*
// box item*/
.accountsetting-section .box_item{
  padding: 10px;
}

.accountsetting-section .box_item .personal_info .left{
  display: block !important;
  width: 100%;
  margin-bottom: 0;
}
.accountsetting-section .box_item .personal_info .right{
  clear: both;
  width: 100% !important;
  margin-top: -1px
}

/*group two item*/

.group_two_col .left .form-control{

  border-radius: 0 !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.group_two_col .right .form-control{
  border-top: 0 ;
  border-radius: 0 !important;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;

}



/*end group two item*/

/*group three item*/

.accountsetting-section .parent .birthday{
  padding-bottom: 20px;

}

.group_three_col .month,.group_three_col .day,.group_three_col .year{
  width: 100%;
  float: none;
}
.group_three_col .month{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  margin-bottom: -1px;
}

.group_three_col .year{
  border-top-right-radius:  0px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-top: -1px;
}




/*end group three item*/

/*end box item*/

/*/box contact */

.accountsetting-section .box_item.box_contact .contact_details .left{
  display: block;
}

.accountsetting-section .box_item.box_contact .contact_details .numberphone{
  display: none;
}

/*
end box contact*/
  .accountsetting-section .parent .right .wrap_gift{
    padding-left: 0;
    padding-bottom: 30px;
  }
  .accountsetting-section .parent .right .box_top h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .accountsetting-section .parent .right .box_top .total_password{
    text-align: center;
  }

/*box contact*/

  .wrap_gift .pull-left.receive{
    padding-top: 5px;
  }

  .wrap_gift  .box_change .pull-right.change-btn{
    width: 100% !important;
  }

/*end box_contact*/

.wrap_gift .box_change .change-btn a,.change-btn a:hover,.change-btn a:focus,.change-btn a:active{

  width: 100%;
}
  
  .filter_mobile{
    display: block;
    clear: both;
    border:1px solid;
    border-radius: 12px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    background:#fff;
    font-size: 0;
  }
  .filter_mobile .group_filter{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;
    top: 100%;
    margin-top: 5px;
    padding: 15px;
    background:#fff;
    border-radius: 8px;
    border: solid 1px #e3e3e3;
  }
  .filter_mobile .group_filter h3{
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: #636363;
    text-transform: uppercase;
  }
  .filter_mobile .group_filter label{
    font-size: 16px;
    color: #303030;
  }
  .filter_mobile.active .group_filter {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
  }
  .filter_mobile p.title{
    display: block;
    clear: both;
    font-size: 12px;
    color: #999999;
    clear: both;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .filter_mobile p.title:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4a4a4a transparent;
  }
  .filter_mobile span{
    border-radius: 6px;
    height: 30px;
    background-color: #eef1f8;
    font-family: Gotham Rounded;
    font-size: 12px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    display: inline-block;
    padding: 0 20px 0 5px;
    margin-right: 10px;
    position: relative;
  }
  .filter_mobile span:after{
    content: '\e901';
    display: inline-block;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: 5px;
    font-size: 7px;
    font-family: 'icomoon' !important;
    line-height: 1;
  }
}